@import "src/assets/scss/variables.scss";
.chevron-dropdown {
  opacity: 0;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}

.show-chevron {
  opacity: 1;
}

.tab-container {
  padding: 0.438rem 1rem;
  gap:8px;
}

.flow-name-color {
  color: $body;
}
