<div class="ap-relative" #relativeDiv>
  <button mat-icon-button [color]="color" [attr.aria-label]="ariaLabel || tooltipText" [disabled]="buttonDisabled">
    <svg-icon [svgStyle]="{width:width+'px',height:height+'px'}" src="assets/img/custom/{{ iconFilename }}"
      class="ap-flex ap-items-center ap-justify-center"></svg-icon>
  </button>
  <div class="ap-absolute ap-h-full ap-w-full ap-left-0 ap-top-0 ap-z-9999" [class.ap-cursor-pointer]=" !buttonDisabled"
    [matTooltip]="tooltipText">
  </div>
</div>
