<div class="auth-form-title">Welcome Back</div>
<form [formGroup]="loginForm" (ngSubmit)="signIn()">
  <div class="form-group">
    <label class="form-text" for="email">Email</label>
    <input
      id="email"
      (change)="showErrorMessage = false"
      class="form-control"
      formControlName="email"
      placeholder="Enter your email"
      type="email"
    />
    <p
      @fadeInUp
      *ngIf="submitted && this.loginForm.controls['email'].invalid"
      class="invalid-input"
    >
      Email is required
    </p>
  </div>
  <div class="form-group mt-4">
    <span class="forgot-password form-text"><a tabindex="-1" routerLink="/forgot-password">Forgot Password?</a></span>
    <label class="form-text" for="password">Password</label>
    <input
      id="password"
      (change)="showErrorMessage = false"
      class="form-control"
      formControlName="password"
      placeholder="Enter your password"
      type="password"
    />
    <p
      @fadeInUp
      *ngIf="submitted && this.loginForm.controls['password'].invalid"
      class="invalid-input"
    >
      Password is required
    </p>
  </div>
  <div class="form-group">
    <p
      @fadeInUp
      *ngIf="submitted && showErrorMessage"
      class="invalid-input"
    >
      Wrong email or password
    </p>
  </div>
  <div class="text-center">
    <app-button
      [loading]="loading"
      (buttonClicked)="signIn()"
      btnColor="primary"
      [fullWidthOfContainer]="true"
    >
    Sign in
    </app-button>
  </div>
</form>
