.code-container {
  height: 100%;
}

.modal-body {
  background: #F7F7F7;
}

.file-active {
  background: #FFFFFF;
  border: 2px solid #EEEEEE !important;
}

.file-container {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;

  width: 140px;
  cursor: pointer;
}

.console-container {
  min-width: 400px;
  max-width: 400px;
}

.modal-title {
  color: white;
}
