<app-button btnColor="basic" btnStyle="stroked" btnSize="medium" [matTooltip]="'Embed in Your App'"
  [outsideClick]="true" (buttonClicked)="openModal(modalTemplate)" #popover="bs-popover" [popover]="embedPopover"
  triggers="none" containerClass="dark-popover" container="body">
  <div class="d-flex embed-btn">
    <svg-icon [svgStyle]="{width:'15px', height:'16px'}" src="assets/img/custom/embed.svg"></svg-icon> Embed
  </div>

</app-button>

<ng-template #embedPopover>
  <div class="embedded-popover-text-container">
    Great job! Use this if you'd like to embed the integration in your app.
  </div>
  <app-button btnStyle="basic" (buttonClicked)="hideEmbedPopover()" btnColor="primary" class="float-right ">
    <div class="embedded-popover-btn"> I'll do it later</div>
  </app-button>
</ng-template>
<ng-container *ngIf="published$ | async"></ng-container>
<ng-template #modalTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Embed Collection</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close">
      <span aria-hidden="true" class="close-custom visually-hidden" (click)="close()">&times;</span>
    </button>

  </div>
  <div class="modal-body embed-modal-body d-flex">
    <section class="code-snippets d-flex flex-column">
      <div #firstStep id="firstStep">
        <h6>1. Install our Javascript SDK</h6>
        <div>
          Make sure that you have installed Activepieces' Javascript SDK, read <a
            href="https://docs.activepieces.com/guides/installing-sdk" target="_blank">our docs</a> to learn how to do
          it.
        </div>
        <div class="code-font-sm code-size-200 code-block code-container">
          <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom" class="copy-icon"
            [applyClass]="true" (click)="copyCode(installationSnippet)"></svg-icon>
          <ngx-codemirror class="size-to-content " [options]="htmlEditorOptions" [(ngModel)]="installationSnippet">
          </ngx-codemirror>
        </div>
      </div>
      <div #secondStep class="second-step">
        <h6>2. Embed this collection</h6>
        <div>
          <mat-tab-group #tabGroup>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="category-label" [class.category-label-active]="tabGroup.selectedIndex === 0">
                  Embed Marketplace
                </div>
              </ng-template>
              <div class="code-description">
                Use this code to display all published integrations on a specific environment. Integrations will show as
                a grid of cards.
              </div>
              <div class="code-font-sm code-size-200 code-block code-container">
                <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom" class="copy-icon"
                  (click)="copyCode(embedMarketplaceCode)"></svg-icon>
                <ngx-codemirror class="size-to-content" [options]="codeEditorOptions"
                  [(ngModel)]="embedMarketplaceCode"></ngx-codemirror>
              </div>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="category-label" [class.category-label-active]="tabGroup.selectedIndex === 1">
                  Show Integration Modal
                </div>
              </ng-template>
              <div class="code-description">
                Use this code to manually trigger the integration modal for this integration. Best for in-flow
                integrations and custom UIs.
              </div>
              <div class="code-font-sm code-size-200 code-block code-container">
                <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom" class="copy-icon"
                  (click)="copyCode(openIntegrationModalCode)"></svg-icon>
                <ngx-codemirror class="size-to-content" [options]="codeEditorOptions"
                  [(ngModel)]="openIntegrationModalCode"></ngx-codemirror>

              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="category-label" [class.category-label-active]="tabGroup.selectedIndex === 2">
                  Disable Integration
                </div>
              </ng-template>
              <div class="code-description">
                Use this code to manually disable this integration. If you are using the Marketplace element, users can
                disable integrations inside it.
              </div>
              <div class="code-font-sm code-size-200 code-block code-container">
                <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom" class="copy-icon"
                  (click)="copyCode(disableIntegrationModalCode)"></svg-icon>
                <ngx-codemirror class="size-to-content" [options]="codeEditorOptions"
                  [(ngModel)]="disableIntegrationModalCode"></ngx-codemirror>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </section>
    <section class="ids-list d-flex flex-column">
      <div class="ids d-flex flex-column">
        <label> Main IDs</label>
        <ng-container *ngIf="mainIds$|async as mainIds">
          <div class="id-card d-flex flex-column">
            <div class="id-owner">Project ID</div>
            <div class="d-flex copy-btn-and-id-gap">
              <input readonly class=" form-control" [value]="mainIds.projectId">
              <div class="flex-grow-1"></div>
              <div class="d-flex align-items-center">
                <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom"
                  (click)="copyId(mainIds.projectId)" class="copy-icon"></svg-icon>
              </div>
            </div>
          </div>
          <div class="id-card d-flex flex-column">
            <div class="id-owner">Collection ID</div>
            <div class="d-flex copy-btn-and-id-gap">
              <input readonly class=" form-control" [value]="mainIds.collectionId">
              <div class="flex-grow-1"></div>
              <div class="d-flex align-items-center">
                <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom"
                  (click)="copyId(mainIds.collectionId)" class="copy-icon"></svg-icon>
              </div>

            </div>
          </div>
        </ng-container>
      </div>
      <div class="ids d-flex flex-column">
        <label> Flows IDs</label>
        <ng-container *ngIf="flows$|async as flows">
          <ng-container *ngFor="let flow of flows">
            <div class="id-card d-flex flex-column">
              <div class="id-owner">{{flow.lastVersion?.displayName}}</div>
              <div class="d-flex copy-btn-and-id-gap">
                <input readonly class=" form-control" [value]="flow.id">
                <div class="flex-grow-1"></div>
                <div class="d-flex align-items-center">
                  <svg-icon src="assets/img/custom/copy.svg" matTooltip="Copy" placement="bottom"
                    (click)="copyId(flow.id)" class="copy-icon"></svg-icon>
                </div>

              </div>
            </div>
          </ng-container>

        </ng-container>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <app-button btnColor="primary" (buttonClicked)="close()">Close
    </app-button>
  </div>
</ng-template>
