<app-icon-button [color]="themeService.BODY_COLOR" [matTooltip]="tooltipText"
[disabled]="(collectionInstance$ | async) === undefined"
[hoverColor]="themeService.PRIMARY_COLOR" [iconFilename]="'settings.svg'"
(click)="openModal(modalTemplate)"
></app-icon-button>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">
            Instance Info
        </h5>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          <span aria-hidden="true" class="visually-hidden close-custom">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="collectionInstance$ | async as collectionInstance">
            <ng-container *ngIf="collection$ | async as collection">
            <div>Latest Collection Version Id: <span>{{collection.last_version.id}} </span></div>
            <div>Deployed Collection Version Id: <span>{{collectionInstance.collection_version_id}} </span></div>
            <div>Deployment Date:<span>{{timeHelperService.formatDateTimeMills(collectionInstance.created)}}</span>   </div>
        </ng-container>
    </ng-container>
      </div>
      <div class="modal-footer" >
        <div class="w-100">
          <app-button
          [loading]="loading"
          btnColor="warn"
          [fullWidthOfContainer]="true"
          (buttonClicked)="disableInstance()"
        >
        Disable Instance</app-button>
        </div>

      </div>
</ng-template>

<ng-container *ngIf="deleteInstance$ | async"></ng-container>
