<div  [hidden]="!!email">
  <div class="auth-form-title">Forgot Password</div>
  <form [formGroup]="forgotPasswordForm">
    <div class="form-group">
      If the user exists we'll send you an email with a link to reset your password.
    </div>
    <div class="form-group">
      <label  class="form-text" for="email">Email Address</label>
      <input id="email" (change)="showErrorMessage=false" class="form-control"
             formControlName="email"
             placeholder="Enter your email" type="email">
      <p @fadeInUp *ngIf="submitted && this.forgotPasswordForm.controls['email'].invalid"
         class="invalid-input">Email is required
      </p>
    </div>
    <div class="text-center">
      <app-button [loading]="loading" btnColor="primary"
      [fullWidthOfContainer]="true"
                 (buttonClicked)="sendPasswordReset()"> Send email</app-button>
    </div>
  </form>
  <div class="text-center auth-links-container">
    <a routerLink="/sign-in">Back to Sign In</a>
  </div>
</div>

<app-auth-checkbox [hidden]="!email" [email]="email"
              [linkName]="'reset your password'"
              (emailResetPressed)="sendPasswordReset()"
              [loading]="loading"></app-auth-checkbox>
