@import "src/assets/scss/custom/variables";

.auth-form-title {
  font-weight: 600;
  color: $title;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.563rem;
}

.form-text {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 15px;
}
.card-footer {
  text-align: center;
}

.auth-links-container {
  margin-top: 1.875rem;
  color: $description;
  font-size: 0.875rem;
}
