@import "packages/frontend/src/assets/scss/variables.scss";

.body-label-container {
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;

}

.body-type-chevron {
  fill: $body;
  height: 5px;
  width: 10px;

  &.flip {
    svg {
      transform: rotate((180deg));
    }

  }
}
