<form [formGroup]="npmForm" [class.ng-submitted]="submitted">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Add npm Package</h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden close-custom"
        >&times;</span
      >
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">

      <app-input
        [inputType]="'text'"
        [required]="true"
        [label]="'Package Name'"
        [showErrors]="submitted"
        [inputControl]="npmForm.controls['npmName']"
        [hintText]="
          'Please type the name of the npm package, It will fetch latest stable version, ' +
          'and add it to package.json'
        "
      >
      </app-input>
      <p @fadeInUp *ngIf="errorMessage !== undefined" class="invalid-input">
        {{ errorMessage }}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
    <app-button
      type="submit"
      [disabled]="loading"
      btnColor="primary"
      (buttonClicked)="submitText()"
    >Add package</app-button>
  </div>
</form>
<ng-container *ngIf="npmButtonClicked$ | async"></ng-container>
