@import "src/assets/scss/custom/variables";

.text-container {
  width: 360px;
}
.heading {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
  margin-top: 1.875rem;
  color: $body;
}

.sub-heading {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.875rem;
  color: $description;
}
