<div class="auth-form-title">Reset Your Password</div>

<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
  <div class="form-group">
    So, you forgot your password? No Problem, it happens to all of us. Just pick a new one below.
  </div>
  <div class="form-group">
    <label class="form-text" for="password">Password</label>
    <input id="password"
           class="form-control"
           formControlName="newPassword"
           placeholder="Pick a strong password"
           type="password">
    <div @fadeInUp *ngIf="submitted && this.resetPasswordForm.controls['newPassword'].invalid">
      <p class="invalid-input" *ngIf="submitted && this.resetPasswordForm.controls['newPassword'].hasError('required')">
        Password is required
      </p>
      <p class="invalid-input"
         *ngIf="submitted && this.resetPasswordForm.controls['newPassword'].hasError('minlength')">
        Password must be at least 8 characters
      </p>
      <p class="invalid-input"
         *ngIf="submitted && this.resetPasswordForm.controls['newPassword'].hasError('maxlength')">
        Password must be at most 64 characters
      </p>
      <p class="invalid-input" *ngIf="submitted && this.resetPasswordForm.controls['newPassword'].hasError('pattern')">
        Password must contain letter, number and special character.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="form-text" for="confirmPassword">Repeat the password</label>
    <input id="confirmPassword"
           class="form-control"
           formControlName="confirmPassword"
           placeholder="Type the same password again"
           type="password">
    <div @fadeInUp *ngIf="submitted && this.resetPasswordForm.controls['confirmPassword'].invalid">
      <p class="invalid-input"
         *ngIf="submitted && this.resetPasswordForm.controls['confirmPassword'].hasError('required')">
        Confirm password is required
      </p>
    </div>
    <p class="invalid-input" *ngIf="submitted && this.resetPasswordForm.hasError('passwordMatch')">
      Passwords must match
    </p>
  </div>
  <div class="form-group">
    <p @fadeInUp *ngIf="submitted && invalidTokenMessage"
       class="invalid-input">
      The link is already expired, Please restart the process again
    </p>
  </div>
  <div class="text-center mt-4">
    <app-button
    btnColor="primary"
    type="submit"
    [loading]="loading"
    [fullWidthOfContainer]="true"
  >Change Password
  </app-button>
  </div>
</form>
