<svg-icon src="/assets/img/custom/empty-collections.svg"></svg-icon>
<div class="text-container">
  <div class="heading text-center">Create your first flow</div>
  <div class="sub-heading text-center">
    Put Activepieces into work by creating your first flow. It’s easy to build!
  </div>
</div>
<app-button class="text-center" btnCSS="btn btn-primary" [loading]="creatingCollection"
  (buttonClicked)="createCollection()">Start building</app-button>
<ng-container *ngIf="createCollection$ | async"> </ng-container>
