
<ng-container *ngIf="selectedFlow$ | async as currentFLow">
<ng-container *ngIf="selectedCollection$ | async as currentCollection">
  <app-button
  [hidden]="(instanceRunStatus$ | async) === statusEnum.RUNNING"
  (buttonClicked)="testFlow(currentFLow, currentCollection)"
  btnStyle="basic"
  btnColor="primary"
  [disabled]="shouldDisableTestButton$ | async"
  [tooltip]="testFlowButtonDisabledTooltip"
  placement="bottom"
  btnSize="medium"
>
Test flow
</app-button>
</ng-container>
</ng-container>


<div
  [hidden]="(instanceRunStatus$ | async) !== statusEnum.RUNNING"
  class="btn btn-text text-center text-success"
>
  Running...
</div>
<ng-container *ngIf="executeTest$ |async"></ng-container>
<ng-container *ngIf="instanceRunStatusChecker$ | async"></ng-container>
