<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th
          scope="col"
          *ngFor="let header of headers"
          class="{{ alignClass(header.align) }}"
          [style]="createStyle(header)"
        >
          <div *ngIf="header.isButton">
            <button
              class="btn btn-primary btn-sm"
              (click)="emitAction(header.actionToReturn, -1)"
            >
              {{ header.content }}
            </button>
          </div>
          <div *ngIf="!header.isButton">
            {{ header.content }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody class=" list">
    <tr *ngFor="let row of data; let i=index" (mouseenter)="this.hoverIndex = i" (mouseleave)="this.hoverIndex = -1">
      <td *ngFor="let column of row.columns; let j=index;" class="{{dataClassList(column, i)}}"
          [style]="dataStyle(column)">
        <div  (click)="openRoute(column.route)">

          <div *ngIf="column.onHover">
            <div (click)="emitAction(column.actionToReturn, i)"
                 class="{{alignClass(column.align)}} btn btn-icon-white"
                 [ngStyle]="{visibility: hoverIndex === i ? 'visible': 'hidden'}">
              <fa-icon [icon]="column.faIcon"></fa-icon>
            </div>
          </div>
          <div *ngIf="!column.onHover">
            {{column.content}}
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
