@import "src/assets/scss/custom/variables";
.add-btn {
  .add-icon {
    fill: $description;
    width: 0.9375rem;
    height: 0.9375rem;
  }

  &:hover,
  &:focus {
    .add-icon {
      fill: $primary;
    }
  }
  padding: 0;
}

.remove-btn {
  .remove-icon {
    width: 0.9375rem;
    height: 0.9375rem;
    fill: $description;
  }

  &:hover,
  &:focus {
    .remove-icon {
      fill: $danger;
    }
  }
  padding: 0;
}
.pair-form-container {
  gap: 1.25rem;
}
.pair-container {
  gap: 0.9375rem;
  margin-bottom: 0.625rem;
}

.table-headers-container {
  display: grid;
  grid-template-columns: 40% auto;
  padding-left: 1.5625rem;
  .label-header-container {
    gap: 0.625rem;
    .label-customization {
      color: $primary;
      cursor: pointer;
      border-bottom: 1px dashed $primary;
    }
  }
  &.no-buttons
  {
    grid-template-columns: 52% auto;
    padding-left: 1.7625rem;
  }
  margin-bottom: 0.625rem;
}

label {
  margin: 0px !important;
  user-select: none;
}

.control-container {
  background-color: $grayCard;
  border-radius: 8px;
  padding: 0.625rem;
}


.empty-spacer-instead-of-add-btn
{

  min-width: 2.0625rem;
}


