@import "src/assets/scss/custom/variables";
.endpoint-form-control {
  display: flex;
  gap: 0px;

  .form-control {
    border-radius: 0px 4px 4px 0px;
    margin-left: -1px;

    &:hover {
      z-index: 99;
      border-radius: 4px;
    }

    &:focus {
      z-index: 999;
      border-radius: 4px;
    }
  }

  .url-form-control {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0px;
    padding:0.4375rem 0.8125rem;
    border:1px solid $dividers;
    margin-left:-1px;
    background-color: $white;
  }
}
