@import "src/assets/scss/custom/variables";
.sub-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.9375rem;
  span {
    font-weight: unset;
  }
}

.modal-body {
  margin-bottom: 0.875rem;
}

.red-text {
  color: $danger;
}

.description {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  color: #8c8c8c;
  margin-top: 1.25rem;
}
.checkbox-container {
  margin-top: 1.25rem;
  gap: 0.625rem;
  color: $description;
  &.invalid {
    color: $danger;
  }
}

.key-container {
  gap: 0.9375rem;
  padding: 0px;

  .key-control {
    height: unset;
    padding: 0px;
    .key-value {
      word-break: break-word;
      overflow-y: scroll;
      height: 3.75rem;
      padding-right: 0.1875rem;
      margin: 0.4375rem 0.8125rem;
    }
  }
  ::-webkit-scrollbar {
    width: 0.25rem;
  }
}
