## It's advisable to consult the documentation and use the tools/deploy.sh to generate the passwords, keys, instead of manually filling them.

AP_ENGINE_EXECUTABLE_PATH=dist/packages/engine/main.js

## Random Long Password (Optional for community edition)
AP_API_KEY=

## 256 bit encryption key, 32 hex character
AP_ENCRYPTION_KEY=

## JWT Secret
AP_JWT_SECRET=

AP_ENVIRONMENT=prod
AP_FRONTEND_URL=http://localhost:8080
AP_WEBHOOK_TIMEOUT_SECONDS=30
AP_TRIGGER_DEFAULT_POLL_INTERVAL=5
AP_POSTGRES_DATABASE=activepieces
AP_POSTGRES_HOST=postgres
AP_POSTGRES_PORT=5432
AP_POSTGRES_USERNAME=postgres
AP_POSTGRES_PASSWORD=
AP_EXECUTION_MODE=UNSANDBOXED
AP_REDIS_HOST=redis
AP_REDIS_PORT=6379
AP_FLOW_TIMEOUT_SECONDS=600
AP_TELEMETRY_ENABLED=true
AP_TEMPLATES_SOURCE_URL="https://cloud.activepieces.com/api/v1/flow-templates"
