.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
/src/worker/dist/

dist/
coverage/
node_modules/

# worker in backend resources
src/backend/backend-loader/src/main/resources/activepieces-worker.js
