# Add files here to ignore them from prettier formatting

/dist
/coverage

.angular

/.nx/cache

#  ---- PROCOL_CODE_STARTS ----
# ignoring all files because it is conflicting with eslint auto-save
 **
#  ---- PROCOL_CODE_ENDS ----