@import "src/assets/scss/custom/variables";
.custom-request {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.description {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  color: $description;
}

.custom-request-container
{
  display:flex;
  flex-direction: column;
  gap:5px;
  padding:12px;
  &:hover{
    background-color: $hover;
  }
}
