<div
  class="avatar-container align-items-center justify-content-center d-flex"
  dropdown
  #dropdown="bs-dropdown"
  placement="bottom left"
  (onShown)="showAvatarOuterCircle = true"
  (onHidden)="showAvatarOuterCircle = false"
>
  <div
    class="avatar d-flex justify-content-center align-items-center"
    dropdownToggle
    #dropdownToggleElement
  >
    <div
      class="avatar-outer-circle"
      [class.avatar-outer-circle-show]="showAvatarOuterCircle"
    ></div>
    {{ userFirstLetter | uppercase }}
  </div>
  <div
    *dropdownMenu
    #dropdownElment
    class="dropdown-menu user-avatar-dropdown"
    [style.left]="getDropDownLeftOffset(dropdownToggleElement, dropdownElment)"
    role="menu"
  >
    <div class="d-flex flex-column user-info">
      <div class="main-text d-flex flex-wrap">
        {{ username | titlecase }} &nbsp;
        <span class="sub-text">({{ companyName }})</span>
      </div>
      <div class="sub-text">{{ email }}</div>
    </div>
    <div class="separator-line"></div>
    <div>
      <a
        class="dropdown-item upgrade"
        *ngIf="isInTrial"
        routerLink="/trial-status"
      >
        Upgrade</a
      >
      <a (click)="logout()" class="dropdown-item log-out"> Logout</a>
    </div>
  </div>
</div>
