<div class="positioned-absolute">
  <svg [attr.height]="this.flowItem.connectionsBox!.height">
    <g class="group">
      <path
        class="line-props"
        fill="transparent"
        [attr.d]="startingLoopLineDrawCommand"
      />
      <svg [attr.x]="arrowHeadLeft" [attr.y]="arrowHeadTop">
        <path
          class="line-props"
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
        />
      </svg>
      <svg *ngIf="!insideLoop" [attr.x]="afterLoopArrowHeadLeft" [attr.y]="afterLoopArrowHeadTop">
        <path
          class="line-props"
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </g>
  </svg>
  <div
    class="add-button cursor-pointer"
    (click)="addLoopItem()"
    [style.top]="addButtonTop"
    [style.left]="addButtonLeft"
    *ngIf="flowItem.firstLoopAction && !viewMode"
    #addButton>
    <div class="drop-point-container"  *ngIf="showDropArea$ | async as showDropArea">
      <div class="drop-point-border" [class.scale-1]="showDropArea"></div>
    </div>
    <svg-icon src="./assets/img/custom/add-button.svg"></svg-icon>
  </div>

  <div
    class="add-button cursor-pointer afterLoopAddButton"
    (click)="add()"
    *ngIf="!viewMode"
    [style.top]="afterLoopAddButtonTop"
    [style.left]="afterLoopAddButtonLeft"
    #afterLoopAddButton
  >
    <div class="drop-point-container"  *ngIf="showDropArea$ | async as showDropArea">
      <div class="drop-point-border" [class.scale-1]="showDropArea"></div>
    </div>

    <svg-icon src="./assets/img/custom/add-button.svg"></svg-icon>
  </div>
  <div
    #emptyLoopAddButton
    class="empty-loop-add-button d-flex align-items-center justify-content-center positioned-absolute cursor-pointer"
    (mousedown)="showEmptyLoopAddButtonBoxShadow = true"
    (mouseup)="showEmptyLoopAddButtonBoxShadow = false"
    [class.box-shadow]="showEmptyLoopAddButtonBoxShadow"
    [style.top]="emptyLoopAddButtonTopOffset"
    [style.left]="emptyLoopAddButtonLeftOffset"
    *ngIf="!flowItem.firstLoopAction && !viewMode"
    (click)="addLoopItem()"
  >
    <svg-icon
      src="./assets/img/custom/plus.svg"
      class="empty-loop-icon"
      [applyClass]="true"
    ></svg-icon>
  </div>
</div>
<ng-container *ngIf="flowItem.firstLoopAction">
  <app-flow-item [flowItemData]="flowItem.firstLoopAction"
                 [insideLoop]="true"
                 [ngStyle]="loopItemStyle()"></app-flow-item>
</ng-container>
