openapi: 3.0.0
servers:
- description: Production
  url: https://production.plaid.com
- description: Sandbox
  url: https://sandbox.plaid.com
info:
  title: The Plaid API
  version: 2020-09-14_1.680.0
  description: The Plaid REST API. Please see https://plaid.com/docs/api for more details.
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  termsOfService: https://plaid.com/legal/
tags:
- name: plaid
  description: The Plaid API
security:
- clientId: []
  secret: []
  plaidVersion: []
paths:
  /asset_report/create:
    post:
      tags:
      - plaid
      summary: Create an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportcreate
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportCreateResponse'
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-6f12f5bb-22dd-4855-b918-f47ec439198a
                    asset_report_id: 1f414183-220c-44f5-b0c8-bc0e6d4053bb
                    request_id: Iam3b
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportCreate
      description: |-
        The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.

        The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. The exact amount of time to create the report will vary depending on how many days of history are requested and will typically range from a few seconds to about one minute. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).

        The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportCreateRequest'
  /asset_report/get:
    post:
      tags:
      - plaid
      summary: Retrieve an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportget
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportGetResponse'
              examples:
                example-1:
                  value:
                    report:
                      asset_report_id: 028e8404-a013-4a45-ac9e-002482f9cafc
                      client_report_id: client_report_id_1221
                      date_generated: "2023-03-30T18:27:37Z"
                      days_requested: 90
                      items:
                      - accounts:
                        - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                          balances:
                            available: 43200
                            current: 43200
                            limit: null
                            margin_loan_amount: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          days_available: 90
                          historical_balances:
                          - current: 49050
                            date: "2023-03-29"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: "2023-03-28"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: "2023-03-27"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: "2023-03-26"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 49050
                            date: "2023-03-25"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: "4444"
                          name: Plaid Money Market
                          official_name: Plaid Platinum Standard 1.85% Interest Money Market
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: "14236"
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: +1 111-555-3333
                              primary: false
                              type: home
                            - data: +1 111-555-4444
                              primary: false
                              type: work
                            - data: +1 111-555-5555
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: money market
                          transactions:
                          - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                            amount: 5850
                            date: "2023-03-30"
                            iso_currency_code: USD
                            original_description: ACH Electronic CreditGUSTO PAY 123456
                            pending: false
                            transaction_id: gGQgjoeyqBF89PND6K14Sow1wddZBmtLomJ78
                            unofficial_currency_code: null
                          type: depository
                        - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                          balances:
                            available: 100
                            current: 110
                            limit: null
                            margin_loan_amount: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          days_available: 90
                          historical_balances:
                          - current: 110
                            date: "2023-03-29"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -390
                            date: "2023-03-28"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -373.67
                            date: "2023-03-27"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: "2023-03-26"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: -284.27
                            date: "2023-03-25"
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: "0000"
                          name: Plaid Checking
                          official_name: Plaid Gold Standard 0% Interest Checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                region: NY
                                street: 2992 Cameron Road
                                postal_code: "14236"
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                region: CA
                                street: 2493 Leisure Lane
                                postal_code: 93405-2255
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: +1 111-555-3333
                              primary: false
                              type: home
                            - data: +1 111-555-4444
                              primary: false
                              type: work
                            - data: +1 111-555-5555
                              primary: false
                              type: mobile
                          ownership_type: null
                          subtype: checking
                          transactions:
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 89.4
                            date: "2023-03-27"
                            iso_currency_code: USD
                            original_description: SparkFun
                            pending: false
                            transaction_id: 4zBRq1Qem4uAPnoyKjJNTRQpQddM4ztlo1PLD
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 12
                            date: "2023-03-28"
                            iso_currency_code: USD
                            original_description: 'McDonalds #3322'
                            pending: false
                            transaction_id: dkjL41PnbKsPral79jpxhMWdW55gkPfBkWpRL
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: 4.33
                            date: "2023-03-28"
                            iso_currency_code: USD
                            original_description: Starbucks
                            pending: false
                            transaction_id: a84ZxQaWDAtDL3dRgmazT57K7jjN3WFkNWMDy
                            unofficial_currency_code: null
                          - account_id: eG7pNLjknrFpWvP7Dkbdf3Pq6GVBPKTaQJK5v
                            amount: -500
                            date: "2023-03-29"
                            iso_currency_code: USD
                            original_description: United Airlines **** REFUND ****
                            pending: false
                            transaction_id: xG9jbv3eMoFWepzB7wQLT3LoLggX5Duy1Gbe5
                            unofficial_currency_code: null
                          type: depository
                        date_last_updated: "2023-03-30T18:25:26Z"
                        institution_id: ins_109508
                        institution_name: First Platypus Bank
                        item_id: AZMP7JrGXgtPd3AQMeg7hwMKgk5E8qU1V5ME7
                      user:
                        client_user_id: uid_40332
                        email: abcharleston@example.com
                        first_name: Anna
                        last_name: Charleston
                        middle_name: B
                        phone_number: 1-415-867-5309
                        ssn: 111-22-1234
                    request_id: GVzMdiDd8DDAQK4
                    warnings: []
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportGet
      description: |-
        The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.

        By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report. To retrieve an Asset Report with Insights, call `/asset_report/get` endpoint with `include_insights` set to `true`.

        For latency-sensitive applications, you can optionally call `/asset_report/create` with `options.add_ons` set to `["fast_assets"]`. This will cause Plaid to create two versions of the Asset Report: one with only current and available balance and identity information, and then later on the complete Asset Report. You will receive separate webhooks for each version of the Asset Report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportGetRequest'
        description: ""
  /asset_report/pdf/get:
    post:
      tags:
      - plaid
      summary: Retrieve a PDF Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportpdfget
      responses:
        "200":
          description: A PDF of the Asset Report
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/AssetReportPDFGetResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportPdfGet
      description: |-
        The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.

        The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.

        [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportPDFGetRequest'
        description: ""
  /asset_report/refresh:
    post:
      tags:
      - plaid
      summary: Refresh an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportrefresh
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportRefreshResponse'
              examples:
                example-1:
                  value:
                    asset_report_id: c33ebe8b-6a63-4d74-a83d-d39791231ac0
                    asset_report_token: assets-sandbox-8218d5f8-6d6d-403d-92f5-13a9afaa4398
                    request_id: NBZaq
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportRefresh
      description: |-
        An Asset Report is an immutable snapshot of a user's assets. In order to "refresh" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.

        The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string ("") for any previously-populated fields you would like set as empty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRefreshRequest'
        description: ""
  /asset_report/filter:
    post:
      tags:
      - plaid
      summary: Filter Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportfilter
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportFilterResponse'
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-bc410c6a-4653-4c75-985c-e757c3497c5c
                    asset_report_id: fdc09207-0cef-4d88-b5eb-0d970758ebd9
                    request_id: qEg07
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportFilter
      description: |-
        By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.

        To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.

        Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.

        Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook once generation of the filtered Asset Report has completed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportFilterRequest'
        description: ""
  /asset_report/remove:
    post:
      tags:
      - plaid
      summary: Delete an Asset Report
      externalDocs:
        url: /api/products/assets/#asset_reportremove
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportRemoveResponse'
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: I6zHN
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportRemove
      description: |-
        The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.

        The `/asset_report/remove` endpoint allows you to remove access to an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRemoveRequest'
        description: ""
  /asset_report/audit_copy/create:
    post:
      tags:
      - plaid
      summary: Create Asset Report Audit Copy
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copycreate
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyCreateResponse'
              examples:
                example-1:
                  value:
                    audit_copy_token: a-sandbox-3TAU2CWVYBDVRHUCAAAI27ULU4
                    request_id: Iam3b
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportAuditCopyCreate
      description: |-
        Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.

        To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyCreateRequest'
  /asset_report/audit_copy/get:
    post:
      summary: Retrieve an Asset Report Audit Copy
      tags:
      - plaid
      operationId: assetReportAuditCopyGet
      externalDocs:
        url: /none/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyGetRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportGetResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      description: '`/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/create`.'
  /asset_report/audit_copy/pdf/get:
    post:
      tags:
      - plaid
      summary: Retrieve a PDF Asset Report Audit Copy
      externalDocs:
        url: /none/
      responses:
        "200":
          description: A PDF of the Asset Report Audit Copy
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyPdfGetResponse'
              examples:
                example-1:
                  value: JVBERi0xLjQKJeLjz9MKMyAwIG9iaiA8PC9MZW5ndGggNDY2MS9GaWx0ZXIvRmxhdGVEZWNvZGU+PnN0cmVhbQp4nF2SyY4cMRBF94VdzI0O...
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportAuditCopyPdfGet
      description: |-
        The `/asset_report/audit_copy/pdf/get` endpoint retrieves an Asset Report Audit Copy in PDF format. The caller must provide the `audit_copy_token` that was shared via the `/asset_report/audit_copy/create` endpoint.

        The response to `/asset_report/audit_copy/pdf/get` is the PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.

        [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyPdfGetRequest'
        description: ""
  /asset_report/audit_copy/remove:
    post:
      tags:
      - plaid
      summary: Remove Asset Report Audit Copy
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copyremove
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReportAuditCopyRemoveResponse'
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: m8MDnv9okwxFNBV
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: assetReportAuditCopyRemove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportAuditCopyRemoveRequest'
        description: ""
      description: The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
  /cra/monitoring_insights/subscribe:
    post:
      summary: Subscribe to Monitoring Insights
      tags:
      - plaid
      operationId: craMonitoringInsightsSubscribe
      externalDocs:
        url: /api/products/check/#cramonitoring_insightssubscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsSubscribeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsSubscribeResponse'
              examples:
                example-1:
                  value:
                    subscription_id: f17efbdd-caab-4278-8ece-963511cd3d51
                    request_id: GVzMdiDd8DDAQK4
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      description: This endpoint allows you to subscribe to insights for a user's linked CRA items, which are updated between one and four times per day (best-effort).
  /cra/monitoring_insights/unsubscribe:
    post:
      summary: Unsubscribe from Monitoring Insights
      tags:
      - plaid
      operationId: craMonitoringInsightsUnsubscribe
      externalDocs:
        url: /api/products/check/#cramonitoring_insightsunsubscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsUnsubscribeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsUnsubscribeResponse'
              examples:
                example-1:
                  value:
                    request_id: GVzMdiDd8DDAQK4
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      description: This endpoint allows you to unsubscribe from previously subscribed Monitoring Insights.
  /cra/monitoring_insights/get:
    post:
      summary: Retrieve a Monitoring Insights Report
      tags:
      - plaid
      operationId: craMonitoringInsightsGet
      externalDocs:
        url: /api/products/check/#cramonitoring_insightsget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraMonitoringInsightsGetRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraMonitoringInsightsGetResponse'
              examples:
                example-1:
                  value:
                    user_insights_id: 028e8404-a013-4a45-ac9e-002482f9cafc
                    items:
                    - date_generated: "2023-03-30T18:27:37Z"
                      item_id: AZMP7JrGXgtPd3AQMeg7hwMKgk5E8qU1V5ME7
                      institution_id: ins_0
                      institution_name: Plaid Bank
                      status:
                        status_code: AVAILABLE
                      insights:
                        income:
                          income_sources:
                          - income_source_id: f17efbdd-caab-4278-8ece-963511cd3d51
                            income_description: PLAID_INC_DIRECT_DEP_PPD
                            income_category: SALARY
                            last_transaction_date: "2023-03-30"
                          forecasted_monthly_income:
                            current_amount: 12000
                          total_monthly_income:
                            current_amount: 20000.31
                          historical_annual_income:
                            current_amount: 144000
                          income_sources_counts:
                            current_count: 1
                        loans:
                          loan_payments_counts:
                            current_count: 1
                          loan_payment_merchants_counts:
                            current_count: 1
                          loan_disbursements_count: 1
                      accounts:
                      - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                        attributes:
                          total_inflow_amount:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_30d:
                            amount: -1000
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_60d:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_inflow_amount_90d:
                            amount: -2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_30d:
                            amount: 1000
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_60d:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          total_outflow_amount_90d:
                            amount: 2500
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        balances:
                          available: 5000
                          average_balance: 4956.12
                          average_monthly_balances:
                          - average_balance:
                              amount: 4956.12
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            end_date: "2024-07-31"
                            start_date: "2024-07-01"
                          current: 5000
                          iso_currency_code: USD
                          limit: null
                          most_recent_thirty_day_average_balance: 4956.125
                          unofficial_currency_code: null
                        consumer_disputes: []
                        days_available: 365
                        mask: "1208"
                        metadata:
                          start_date: "2024-01-01"
                          end_date: "2024-07-16"
                        name: Checking
                        official_name: Plaid checking
                        owners:
                        - addresses:
                          - data:
                              city: Malakoff
                              country: US
                              postal_code: "14236"
                              region: NY
                              street: 2992 Cameron Road
                            primary: true
                          - data:
                              city: San Matias
                              country: US
                              postal_code: 93405-2255
                              region: CA
                              street: 2493 Leisure Lane
                            primary: false
                          emails:
                          - data: accountholder0@example.com
                            primary: true
                            type: primary
                          - data: accountholder1@example.com
                            primary: false
                            type: secondary
                          - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                            primary: false
                            type: other
                          names:
                          - Alberta Bobbeth Charleson
                          phone_numbers:
                          - data: +1 111-555-3333
                            primary: false
                            type: home
                          - data: +1 111-555-4444
                            primary: false
                            type: work
                          - data: +1 111-555-5555
                            primary: false
                            type: mobile
                        ownership_type: null
                        subtype: checking
                        transactions:
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 37.07
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-12"
                          date_posted: "2024-07-12T00:00:00Z"
                          date_transacted: "2024-07-12"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Amazon
                          original_description: AMZN Mktp US*11111111 Amzn.com/bill WA AM
                          pending: false
                          transaction_id: XA7ZLy8rXzt7D3j9B6LMIgv5VxyQkAhbKjzmp
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 51.61
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-12"
                          date_posted: "2024-07-12T00:00:00Z"
                          date_transacted: "2024-07-12"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Domino's
                          original_description: DOMINO's XXXX 111-222-3333
                          pending: false
                          transaction_id: VEPeMbWqRluPVZLQX4MDUkKRw41Ljzf9gyLBW
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 7.55
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_FURNITURE_AND_HARDWARE
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-12"
                          date_posted: "2024-07-12T00:00:00Z"
                          date_transacted: "2024-07-12"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Chicago
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: IKEA
                          original_description: IKEA CHICAGO
                          pending: false
                          transaction_id: 6GQZARgvroCAE1eW5wpQT7w3oB6nvzi8DKMBa
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 12.87
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_SPORTING_GOODS
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-12"
                          date_posted: "2024-07-12T00:00:00Z"
                          date_transacted: "2024-07-12"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Redlands
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Nike
                          original_description: NIKE REDLANDS CA
                          pending: false
                          transaction_id: DkbmlP8BZxibzADqNplKTeL8aZJVQ1c3WR95z
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 44.21
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-12"
                          date_posted: "2024-07-12T00:00:00Z"
                          date_transacted: "2024-07-12"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: POKE BROS * POKE BRO IL
                          pending: false
                          transaction_id: RpdN7W8GmRSdjZB9Jm7ATj4M86vdnktapkrgL
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 36.82
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_DISCOUNT_STORES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-13"
                          date_posted: "2024-07-13T00:00:00Z"
                          date_transacted: "2024-07-13"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Family Dollar
                          original_description: FAMILY DOLLAR
                          pending: false
                          transaction_id: 5AeQWvo5KLtAD9wNL68PTdAgPE7VNWf5Kye1G
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 13.27
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-13"
                          date_posted: "2024-07-13T00:00:00Z"
                          date_transacted: "2024-07-13"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Instacart
                          original_description: INSTACART HTTPSINSTACAR CA
                          pending: false
                          transaction_id: Jjlr3MEVg1HlKbdkZj39ij5a7eg9MqtB6MWDo
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 36.03
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-13"
                          date_posted: "2024-07-13T00:00:00Z"
                          date_transacted: "2024-07-13"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: POKE BROS * POKE BRO IL
                          pending: false
                          transaction_id: kN9KV7yAZJUMPn93KDXqsG9MrpjlyLUL6Dgl8
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 54.74
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-13"
                          date_posted: "2024-07-13T00:00:00Z"
                          date_transacted: "2024-07-13"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Whittier
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Smart & Final
                          original_description: POS SMART AND FINAL 111 WHITTIER CA
                          pending: false
                          transaction_id: lPvrweZAMqHDar43vwWKs547kLZVEzfpogGVJ
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 37.5
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-13"
                          date_posted: "2024-07-13T00:00:00Z"
                          date_transacted: "2024-07-13"
                          iso_currency_code: USD
                          location:
                            address: 1627 N 24th St
                            city: Phoenix
                            country: null
                            lat: null
                            lon: null
                            postal_code: "85008"
                            region: AZ
                            state: AZ
                            store_number: null
                            zip: "85008"
                          merchant_name: Taqueria El Guerrerense
                          original_description: TAQUERIA EL GUERRERO PHOENIX AZ
                          pending: false
                          transaction_id: wka74WKqngiyJ3pj7dl5SbpLGQBZqyCPZRDbP
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 41.42
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Amazon
                          original_description: AMZN Mktp US*11111111 Amzn.com/bill WA AM
                          pending: false
                          transaction_id: BBGnV4RkerHjn8WVavGyiJbQ95VNDaC4M56bJ
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: -1077.93
                          check_number: null
                          credit_category:
                            detailed: INCOME_OTHER
                            primary: INCOME
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Lyft
                          original_description: LYFT TRANSFER
                          pending: false
                          transaction_id: 3Ej78yKJlQu1Abw7xzo4U4JR6pmwzntZlbKDK
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 47.17
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Whittier
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Smart & Final
                          original_description: POS SMART AND FINAL 111 WHITTIER CA
                          pending: false
                          transaction_id: rMzaBpJw8jSZRJQBabKdteQBwd5EaWc7J9qem
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 12.37
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Whittier
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Smart & Final
                          original_description: POS SMART AND FINAL 111 WHITTIER CA
                          pending: false
                          transaction_id: zWPZjkmzynTyel89ZjExS59DV6WAaZflNBJ56
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 44.18
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Portland
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: OR
                            state: OR
                            store_number: "1111"
                            zip: null
                          merchant_name: Safeway
                          original_description: 'SAFEWAY #1111 PORTLAND OR            111111'
                          pending: false
                          transaction_id: K7qzx1nP8ptqgwaRMbxyI86XrqADMluRpkWx5
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 45.37
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-14"
                          date_posted: "2024-07-14T00:00:00Z"
                          date_transacted: "2024-07-14"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Uber Eats
                          original_description: UBER EATS
                          pending: false
                          transaction_id: qZrdzLRAgNHo5peMdD9xIzELl3a1NvcgrPAzL
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 15.22
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Amazon
                          original_description: AMZN Mktp US*11111111 Amzn.com/bill WA AM
                          pending: false
                          transaction_id: NZzx4oRPkAHzyRekpG4PTZkWnBPqEyiy6pB1M
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 26.33
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Domino's
                          original_description: DOMINO's XXXX 111-222-3333
                          pending: false
                          transaction_id: x84eNArKbESz8Woden6LT3nvyogeJXc64Pp35
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 39.8
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_DISCOUNT_STORES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Family Dollar
                          original_description: FAMILY DOLLAR
                          pending: false
                          transaction_id: dzWnyxwZ4GHlZPGgrNyxiMG7qd5jDgCJEz5jL
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 45.06
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Instacart
                          original_description: INSTACART HTTPSINSTACAR CA
                          pending: false
                          transaction_id: 4W7eE9rZqMToDArbPeLNIREoKpdgBMcJbVNQD
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 34.91
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Whittier
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: CA
                            state: CA
                            store_number: null
                            zip: null
                          merchant_name: Smart & Final
                          original_description: POS SMART AND FINAL 111 WHITTIER CA
                          pending: false
                          transaction_id: j4yqDjb7QwS7woGzqrgDIEG1NaQVZwf6Wmz3D
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 49.78
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Portland
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: OR
                            state: OR
                            store_number: "1111"
                            zip: null
                          merchant_name: Safeway
                          original_description: 'SAFEWAY #1111 PORTLAND OR            111111'
                          pending: false
                          transaction_id: aqgWnze7xoHd6DQwLPnzT5dgPKjB1NfZ5JlBy
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 54.24
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-15"
                          date_posted: "2024-07-15T00:00:00Z"
                          date_transacted: "2024-07-15"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: Portland
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: OR
                            state: OR
                            store_number: "1111"
                            zip: null
                          merchant_name: Safeway
                          original_description: 'SAFEWAY #1111 PORTLAND OR            111111'
                          pending: false
                          transaction_id: P13aP8b7nmS3WQoxg1PMsdvMK679RNfo65B4G
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 41.79
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-16"
                          date_posted: "2024-07-16T00:00:00Z"
                          date_transacted: "2024-07-16"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Amazon
                          original_description: AMZN Mktp US*11111111 Amzn.com/bill WA AM
                          pending: false
                          transaction_id: 7nZMG6pXz8SADylMqzx7TraE4qjJm7udJyAGm
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 33.86
                          check_number: null
                          credit_category:
                            detailed: FOOD_RETAIL_GROCERIES
                            primary: FOOD_RETAIL
                          date: "2024-07-16"
                          date_posted: "2024-07-16T00:00:00Z"
                          date_transacted: "2024-07-16"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: Instacart
                          original_description: INSTACART HTTPSINSTACAR CA
                          pending: false
                          transaction_id: MQr3ap7PWEIrQG7bLdaNsxyBV7g1KqCL6pwoy
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 27.08
                          check_number: null
                          credit_category:
                            detailed: DINING_DINING
                            primary: DINING
                          date: "2024-07-16"
                          date_posted: "2024-07-16T00:00:00Z"
                          date_transacted: "2024-07-16"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: POKE BROS * POKE BRO IL
                          pending: false
                          transaction_id: eBAk9dvwNbHPZpr8W69dU3rekJz47Kcr9BRwl
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 25.94
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_FURNITURE_AND_HARDWARE
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-16"
                          date_posted: "2024-07-16T00:00:00Z"
                          date_transacted: "2024-07-16"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: The Home Depot
                          original_description: THE HOME DEPOT
                          pending: false
                          transaction_id: QLx4jEJZb9SxRm7aWbjAio3LrgZ5vPswm64dE
                          unofficial_currency_code: null
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_owner: null
                          amount: 27.57
                          check_number: null
                          credit_category:
                            detailed: GENERAL_MERCHANDISE_OTHER_GENERAL_MERCHANDISE
                            primary: GENERAL_MERCHANDISE
                          date: "2024-07-16"
                          date_posted: "2024-07-16T00:00:00Z"
                          date_transacted: "2024-07-16"
                          iso_currency_code: USD
                          location:
                            address: null
                            city: null
                            country: null
                            lat: null
                            lon: null
                            postal_code: null
                            region: null
                            state: null
                            store_number: null
                            zip: null
                          merchant_name: null
                          original_description: The Press Club
                          pending: false
                          transaction_id: ZnQ1ovqBldSQ6GzRbroAHLdQP68BrKceqmAjX
                          unofficial_currency_code: null
                        type: depository
                    request_id: m8MDnv9okwxFNBV
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      description: This endpoint allows you to retrieve a Cash Flow Updates report by passing in the `user_id` referred to in the webhook you received.
  /credit/audit_copy_token/update:
    post:
      tags:
      - plaid
      summary: Update an Audit Copy Token
      externalDocs:
        url: /none/
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditAuditCopyTokenUpdateResponse'
              examples:
                example-1:
                  value:
                    request_id: eYupqX1mZkEuQRx
                    updated: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      operationId: creditAuditCopyTokenUpdate
      description: The `/credit/audit_copy_token/update` endpoint updates an existing  Audit Copy Token by adding the report tokens in the `report_tokens` field to the `audit_copy_token`. If the Audit Copy Token already contains a report of a certain type, it will be replaced with the token provided in the `report_tokens` field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditAuditCopyTokenUpdateRequest'
  /cra/partner_insights/get:
    post:
      summary: Retrieve cash flow insights from the bank accounts used for income verification
      tags:
      - plaid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraPartnerInsightsGetResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
                    report:
                    - report_id: ef41dd05-b91e-45a6-9b2c-6c51d552f8f0
                      generated_time: "2022-01-31T22:47:53Z"
                      items:
                      - institution_id: ins_0
                        institution_name: Plaid Bank
                        item_id: mxdmo1gw8DIW8AM1yG6JtRxbVeRkN8cL9PmQE
                        accounts:
                        - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                          mask: "8888"
                          metadata:
                            start_date: "2024-01-01"
                            end_date: "2024-07-16"
                          name: Plaid Checking Account
                          official_name: Plaid Checking Account
                          type: depository
                          subtype: checking
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                postal_code: "14236"
                                region: NY
                                street: 2992 Cameron Road
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                postal_code: 93405-2255
                                region: CA
                                street: 2493 Leisure Lane
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: +1 111-555-3333
                              primary: false
                              type: home
                            - data: +1 111-555-4444
                              primary: false
                              type: work
                            - data: +1 111-555-5555
                              primary: false
                              type: mobile
                      prism:
                        insights:
                          version: 3
                          result:
                            l6m_cumbal_acc: 1
                        cash_score:
                          version: 3
                          model_version: "3"
                          score: 900
                          reason_codes:
                          - CS03038
                          metadata:
                            max_age: 20
                            min_age: 1
                            min_age_credit: 0
                            min_age_debit: 1
                            max_age_debit: 20
                            max_age_credit: 0
                            num_trxn_credit: 0
                            num_trxn_debit: 40
                            l1m_credit_value_cnt: 0
                            l1m_debit_value_cnt: 40
                        first_detect:
                          version: 3
                          model_version: "3"
                          score: 900
                          reason_codes:
                          - CS03038
                          metadata:
                            max_age: 20
                            min_age: 1
                            min_age_credit: 0
                            min_age_debit: 1
                            max_age_debit: 20
                            max_age_credit: 0
                            num_trxn_credit: 0
                            num_trxn_debit: 40
                            l1m_credit_value_cnt: 0
                            l1m_debit_value_cnt: 40
                        status: SUCCESS
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      externalDocs:
        url: /api/products/income/#crapartner_insightsget
      operationId: craPartnerInsightsGet
      description: '`/cra/partner_insights/get` returns cash flow insights for a specified user.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraPartnerInsightsGetRequest'
  /cra/check_report/income_insights/get:
    post:
      summary: Retrieve cash flow information from your user's banks
      tags:
      - plaid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraCheckReportIncomeInsightsGetResponse'
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
                    report:
                      report_id: bbfc5174-5433-4648-8d93-9fec6a0c0966
                      generated_time: "2022-01-31T22:47:53Z"
                      days_requested: 365
                      items:
                      - item_id: AZMP7JrGXgtPd3AQMeg7hwMKgk5E8qU1V5ME7
                        last_updated_time: "2022-01-31T22:47:53Z"
                        institution_id: ins_0
                        institution_name: Plaid Bank
                        bank_income_accounts:
                        - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                          mask: "8888"
                          metadata:
                            start_date: "2024-01-01"
                            end_date: "2024-07-16"
                          name: Plaid Checking Account
                          official_name: Plaid Checking Account
                          type: depository
                          subtype: checking
                          owners: []
                        bank_income_sources:
                        - account_id: 1qKRXQjk8xUWDJojNwPXTj8gEmR48piqRNye8
                          income_source_id: f17efbdd-caab-4278-8ece-963511cd3d51
                          income_description: PLAID_INC_DIRECT_DEP_PPD
                          income_category: SALARY
                          start_date: "2021-11-15"
                          end_date: "2022-01-15"
                          pay_frequency: MONTHLY
                          total_amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                          transaction_count: 1
                          next_payment_date: "2022-12-15"
                          income_status: ACTIVE
                          historical_average_monthly_gross_income: 390
                          historical_average_monthly_income: 300
                          forecasted_average_monthly_income: 300
                          forecasted_average_monthly_income_prediction_intervals:
                          - lower_bound: 200
                            upper_bound: 400
                            probability: 0.8
                          employer:
                            name: Plaid Inc
                          income_provider:
                            name: Plaid Inc
                            is_normalized: true
                          historical_summary:
                          - start_date: "2021-11-02"
                            end_date: "2021-11-30"
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - transaction_id: aH5klwqG3B19OMT7D6F24Syv8pdnJXmtZoKQ5
                              amount: 100
                              bonus_type: null
                              date: "2021-11-15"
                              name: PLAID_INC_DIRECT_DEP_PPD
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123A
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                          - start_date: "2021-12-01"
                            end_date: "2021-12-31"
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - transaction_id: mN3rQ5iH8BC41T6UjKL9oD2vWJpZqXFomGwY1
                              amount: 100
                              bonus_type: null
                              date: "2021-12-15"
                              name: PLAID_INC_DIRECT_DEP_PPD
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123B
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                          - start_date: "2022-01-01"
                            end_date: "2022-01-31"
                            total_amounts:
                            - amount: 100
                              iso_currency_code: USD
                              unofficial_currency_code: null
                            transactions:
                            - transaction_id: zK9lDoR8uBH51PNQ3W4T6Mjy2VFXpGtJwsL4
                              amount: 100
                              bonus_type: null
                              date: "2022-01-31"
                              name: PLAID_INC_DIRECT_DEP_PPD
                              original_description: PLAID_INC_DIRECT_DEP_PPD 123C
                              pending: false
                              check_number: null
                              iso_currency_code: USD
                              unofficial_currency_code: null
                      bank_income_summary:
                        total_amounts:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        start_date: "2021-11-15"
                        end_date: "2022-01-15"
                        income_sources_count: 1
                        income_categories_count: 1
                        income_transactions_count: 1
                        historical_average_monthly_gross_income:
                        - amount: 390
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_average_monthly_income:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        forecasted_average_monthly_income:
                        - amount: 300
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_annual_gross_income:
                        - amount: 4680
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_annual_income:
                        - amount: 3600
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        forecasted_annual_income:
                        - amount: 3600
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        historical_summary:
                        - start_date: "2021-11-02"
                          end_date: "2021-11-30"
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - transaction_id: aH5klwqG3B19OMT7D6F24Syv8pdnJXmtZoKQ5
                            amount: 100
                            bonus_type: null
                            date: "2021-11-15"
                            name: PLAID_INC_DIRECT_DEP_PPD
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123A
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        - start_date: "2021-12-01"
                          end_date: "2021-12-31"
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - transaction_id: mN3rQ5iH8BC41T6UjKL9oD2vWJpZqXFomGwY1
                            amount: 100
                            bonus_type: null
                            date: "2021-12-15"
                            name: PLAID_INC_DIRECT_DEP_PPD
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123B
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        - start_date: "2022-01-01"
                          end_date: "2022-01-31"
                          total_amounts:
                          - amount: 100
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          transactions:
                          - transaction_id: zK9lDoR8uBH51PNQ3W4T6Mjy2VFXpGtJwsL4
                            amount: 100
                            bonus_type: null
                            date: "2022-01-31"
                            name: PLAID_INC_DIRECT_DEP_PPD
                            original_description: PLAID_INC_DIRECT_DEP_PPD 123C
                            pending: false
                            check_number: null
                            iso_currency_code: USD
                            unofficial_currency_code: null
                        warnings: []
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidError'
      externalDocs:
        url: /api/products/check/#cracheck_reportincome_insightsget
      operationId: craCheckReportIncomeInsightsGet
      description: This endpoint allows you to retrieve the Income Insights report for your user. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the base report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraCheckReportIncomeInsightsGetRequest'
  /cra/check_report/base_report/get:
    post:
      summary: Retrieve a Base Report
      tags:
      - plaid
      operationId: craCheckReportBaseReportGet
      externalDocs:
        url: /api/products/check/#cracheck_reportbase_reportget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraCheckReportBaseReportGetRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraCheckReportBaseReportGetResponse'
              examples:
                example-1:
                  value:
                    report:
                      date_generated: "2024-07-16T01:52:42.912331716Z"
                      days_requested: 365
                      attributes:
                        total_inflow_amount:
                          amount: -2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_inflow_amount_30d:
                          amount: -1000
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_inflow_amount_60d:
                          amount: -2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_inflow_amount_90d:
                          amount: -2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_outflow_amount:
                          amount: 2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_outflow_amount_30d:
                          amount: 1000
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_outflow_amount_60d:
                          amount: 2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                        total_outflow_amount_90d:
                          amount: 2500
                          iso_currency_code: USD
                          unofficial_currency_code: null
                      items:
                      - accounts:
                        - account_id: NZzx4oRPkAHzyRekpG4PTZkoGpNAR4uypaj1E
                          account_insights:
                            average_days_between_transactions: 0.15
                            average_inflow_amount:
                            - end_date: "2024-07-31"
                              start_date: "2024-07-01"
                              total_amount:
                                amount: 1077.93
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            average_inflow_amounts:
                            - end_date: "2024-07-31"
                              start_date: "2024-07-01"
                              total_amount:
                                amount: 1077.93
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            - end_date: "2024-08-31"
                              start_date: "2024-08-01"
                              total_amount:
                                amount: 1076.93
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            average_outflow_amount:
                            - end_date: "2024-07-31"
                              start_date: "2024-07-01"
                              total_amount:
                                amount: 34.95
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            average_outflow_amounts:
                            - end_date: "2024-07-31"
                              start_date: "2024-07-01"
                              total_amount:
                                amount: 34.95
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            - end_date: "2024-08-31"
                              start_date: "2024-08-01"
                              total_amount:
                                amount: 0
                                iso_currency_code: USD
                                unofficial_currency_code: null
                            days_available: 365
                            longest_gap_between_transactions:
                            - days: 1
                              end_date: "2024-07-31"
                              start_date: "2024-07-01"
                            longest_gaps_between_transactions:
                            - days: 1
                              end_date: "2024-07-31"
                              start_date: "2024-07-01"
                            - days: 2
                              end_date: "2024-08-31"
                              start_date: "2024-08-01"
                            most_recent_transaction_date: "2024-07-16"
                            number_of_days_no_transactions: 0
                            number_of_inflows:
                            - count: 1
                              end_date: "2024-07-31"
                              start_date: "2024-07-01"
                            number_of_outflows:
                            - count: 27
                              end_date: "2024-07-31"
                              start_date: "2024-07-01"
                            oldest_transaction_date: "2024-07-12"
                          balances:
                            available: 5000
                            average_balance: 4956.12
                            average_monthly_balances:
                            - average_balance:
                                amount: 4956.12
[...]
