@import "src/assets/scss/custom/variables";

.piece-settings-form {
  margin: 6px 20px;
}

.piece-settings-form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $formLabel;
  border-bottom: 0.5px dashed $formLabel;
  margin-bottom: 10px;
}

.save-cancel-buttons-container-body {
  padding: 10px;
}

.save-cancel-buttons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $white;
}

.border-top-separator {
  border-top: 1px solid $line;
}

.required-astrisk {
  color: $danger;
}
