<div class="d-column">
  <div class="top p-3">
    <app-sidebar-header
      (closeClicked)="closeSidebar()"
      title="Settings"
    ></app-sidebar-header>
  </div>

  <form
    [formGroup]="pieceSettingsForm"
    class="piece-settings-form"
  >
    <div class="form-group">
      <label>Piece Icon </label>
      <app-file-upload
        [file]="logoFile"
        [loadedImageUrl]="logoUrl"
        formControlName="icon"
      ></app-file-upload>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="2"
        formControlName="description"
      ></textarea>
    </div>
  </form>
</div>

<ng-container *ngIf="autoSaveChanges$ | async"></ng-container>
<ng-container *ngIf="updateCollectionInformation$ | async"></ng-container>
