.column {
  height: 100%;
  /* allows both columns to span the full height of the browser window */
  display: flex;
  flex-direction: column;
  /* places the left and right headers above the bottom content */
}


.bottom {
  flex-grow: 1;
  /* ensures that the container will take up the full height of the parent container */
  overflow-y: auto;
  /* adds scroll to this container */
}

.tab-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px;
}

.tab-title {
  width: 100px;
}

.tab {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.tab-active {
  box-shadow: inset 0px -1px 0px #262626;
}
