<app-button
  *ngIf="!responseData"
  btnColor="primary"
  (buttonClicked)="openPopup()"
  [fullWidthOfContainer]="true"
  [disabled]="emptySettings || isDisabled"
> Connect</app-button>
<app-button
  *ngIf="responseData"
  btnColor="warn"
  (buttonClicked)="clearControlValue()"
  [fullWidthOfContainer]="true"
  [disabled]="isDisabled"
>Disconnect</app-button>
<p *ngIf="popUpError" class="invalid-input" @fadeInUp>
  Please make sure this config's credentials are correct.
</p>

<ng-container *ngIf="popupOpened$ | async"></ng-container>
