<app-button *ngIf="!responseData" btnColor="primary" (buttonClicked)="openPopup()" [fullWidthOfContainer]="true"
  type="button" [disabled]="!settingsValid || isDisabled" class="ap-w-full"> Connect</app-button>
<app-button *ngIf="responseData" btnColor="warn" class="ap-w-full" (buttonClicked)="clearControlValue()"
  [fullWidthOfContainer]="true" type="button" [disabled]="isDisabled">Disconnect</app-button>
<p *ngIf="popUpError" class="ap-typography-caption ap-text-danger" @fadeInUp>
  Please make sure this config's credentials are correct.
</p>

<ng-container *ngIf="popupOpened$ | async"></ng-container>
