<div class="d-flex flex-column config-modal-form-controls-container">
  <div>
    <div class="custom-control custom-radio custom-control-inline"
      (click)="setDropdownTypeFormControlValue(DropDownType.STATIC)">
      <input [formControl]="dropdownTypeControl" type="radio" [value]="DropDownType.STATIC"
        class="custom-control-input" />
      <label class="custom-control-label dashed-underline-label" matTooltipClass="labels-tooltip"
      matTooltip="Set pre-defined options to the dropdown">Static</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline"
      (click)="setDropdownTypeFormControlValue(DropDownType.DYNAMIC)">
      <input [formControl]="dropdownTypeControl" type="radio" [value]="DropDownType.DYNAMIC"
        class="custom-control-input" />
      <label class="custom-control-label dashed-underline-label"
      matTooltip="Write code to be used to load the dropdown options">Dynamic</label>
    </div>
  </div>
  <form [formGroup]="staticDropdownSettingsForm" class="d-flex flex-column config-modal-form-controls-container"
    *ngIf="dropdownTypeControl.value===DropDownType.STATIC">

    <div>
      <label>Dropdown Options</label>
      <app-static-drop-down-options formControlName="options"></app-static-drop-down-options>
    </div>

    <div  *ngIf="currentConfigSource === ConfigSource.USER" class="custom-control custom-checkbox">
      <input class="custom-control-input" id="dropdown" formControlName="optional" type="checkbox">
      <label class="custom-control-label" for="dropdown">Optional</label>
    </div>



  </form>
  <form [formGroup]="dynamicDropdownSettingsForm" class="d-flex flex-column config-modal-form-controls-container"
    *ngIf="dropdownTypeControl.value===DropDownType.DYNAMIC">
    <div>
      <label class="dashed-underline-label" matTooltipClass="labels-tooltip"
        matTooltip="The code that will generate the dynamic options">Dropdown Options Code</label>
      <app-code-artifact-form-control [autosave]="false" *ngIf="artifact$|async;else loading"
        formControlName="artifactContent"></app-code-artifact-form-control>
    </div>
    <div>
      <label class="dashed-underline-label" matTooltipClass="labels-tooltip"
      matTooltip="Config variables that will trigger the above code once their values change">Refresh Refrences</label>
      <ng-select formControlName="refreshReferences" [multiple]="true" bindLabel="label" bindValue="value"
        [items]="refreshReferences$ |async"  placeholder="Please select"
        appendTo="body">
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <app-ng-select-tag-value-template [item]="item" [clear]="clear"></app-ng-select-tag-value-template>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <app-ng-select-item-template [item]="item" [isSelected]="isReferenceSelected(item.value)">
          </app-ng-select-item-template>
        </ng-template>
      </ng-select>
      <p @fadeInUp  class="invalid-input" *ngIf="submitted && dynamicDropdownSettingsForm.get('refreshReferences')!.invalid">
        {{dynamicDropdownSettingsForm.get('refreshReferences')!.getError('cycle')}}
      </p>

    </div>
    <div  *ngIf="currentConfigSource === ConfigSource.USER" class="custom-control custom-checkbox">
      <input class="custom-control-input" id="dropdown" formControlName="optional" type="checkbox">
      <label class="custom-control-label" for="dropdown">Optional</label>
    </div>
  </form>
</div>



<ng-container *ngIf="dynamicSettingsFormValueChanged$ |async"></ng-container>
<ng-container *ngIf="staticSettingsFormValueChanged$ |async"></ng-container>
<ng-container *ngIf="dropdownTypeChanged$ |async"></ng-container>
<ng-template #loading>
  <div class="d-flex align-items-center justify-content-center artifact-loading-container">
    <app-loading-icon [whiteLoader]="true"></app-loading-icon>
  </div>
</ng-template>



