<div class="modal-header">
  <h5 class="modal-title pull-left">{{title}}</h5>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
    <span aria-hidden="true" class="close-custom visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="code-area">
    <pre class="line-numbers max-height"><code class="space-wrap language-js"
                                    [innerHTML]="json | rawOutputLog"></code></pre>
  </div>
</div>
