<div class="column">
  <div class="p-3 top">
    <app-sidebar-header
      (closeClicked)="closeVersionSidebar()"
      [title]="'Flow Versions'"></app-sidebar-header>
  </div>
  <div class="px-4 bottom">
    <div class="version-container p-4 mb-4" *ngFor="let version of versions$ | async; let i = index;" >
      <div class="d-flex">
        <div style="flex-grow: 1">
          <span>Version #{{version.versionNumber}}</span>
        </div>
        <div>
          <span class="badge badge-warning" *ngIf="version.state === versionEditState.DRAFT">DRAFT</span>
          <span class="badge badge-success" *ngIf="version.state === versionEditState.LOCKED">LOCKED</span>
        </div>
      </div>
      <div class="d-flex mt-2">
        <div>
          <div class="text-description">{{version.epochCreationTimeFormatted}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
