<div class="code-editor h-100 d-flex flex-column">
  <div class="modal-header text-center d-flex justify-content-center align-items-center">
    <h5 class="modal-title">Code Editor</h5>

    <div class="flex-grow-1"></div>

    <app-button   *ngIf="!readOnly" [loadingCSS]="'text-primary'"
    btnStyle="flat" btnColor="basic" (buttonClicked)="openNpmPackageModal()" btnSize="small">
    Add npm package
    </app-button>

    <app-button  [loadingCSS]="'text-primary'" [loading]="testLoading"
    btnStyle="flat" btnColor="basic" class="ml-1"  btnSize="small"  (buttonClicked)="openTestCodeModal()">Test code
    </app-button>
      <app-icon-button [color]="'#FFFFFF'" (click)="hide()" 
        [iconFilename]="'minimize.svg'"></app-icon-button>

  </div>
  <div class="modal-body flex-grow-1">
    <div class="d-flex code-height-auto code-container">
      <div class="p-2">
        <div class="p-2">
          <div class="d-flex flex-column">
            <div class="p-2 align-items-center d-flex flex-row file-container"
              [class.file-active]="SelectedFileInFullscreenCodeEditor.CONTENT === selectedFile"
              (click)="selectFile(SelectedFileInFullscreenCodeEditor.CONTENT)">
              <div>
                <app-img class="code-file-icon" [width]="16" [height]="16" [src]="'/assets/img/custom/files/js.svg'">
                </app-img>
              </div>
              <div class="ml-2">index.js</div>
            </div>

            <div class="p-2 align-items-center d-flex flex-row file-container mt-2"
              [class.file-active]="SelectedFileInFullscreenCodeEditor.PACKAGE === selectedFile"
              (click)="selectFile(SelectedFileInFullscreenCodeEditor.PACKAGE)">
              <div>
                <app-img class="code-file-icon" [width]="16" [height]="16"
                  [src]="'/assets/img/custom/files/package.svg'"></app-img>
              </div>
              <div class="ml-2">package.json</div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2 flex-grow-1 overflow-auto">
        <div  class="h-100">
          <!-- Use ngModel to update the editor outside the modal -->
          <ngx-monaco-editor
          *ngIf="selectedFile === SelectedFileInFullscreenCodeEditor.CONTENT"
          [options]="codeEditorOptions"
          [ngModel]="contentControl().value"
          (ngModelChange)="contentControl().setValue($event)"
          class="h-100"
       ></ngx-monaco-editor>

          <ngx-monaco-editor
            *ngIf="selectedFile ===  SelectedFileInFullscreenCodeEditor.PACKAGE"
            class="h-100"
            [ngModel]="packageControl().value"
            (ngModelChange)="packageControl().setValue($event)"
            [options]="packageDotJsonOptions"></ngx-monaco-editor>
        </div>

      </div>
      <div class="p-2 console-container">
        <div class="console-size code-height-auto h-100">
          <div class="d-flex flex-column h-100">
            <div class="d-flex">
              <app-button
              btnColor="primary"
              [btnStyle]="selectedTab === SelectedTabInFullscreenCodeEditor.OUTPUT? 'flat':'stroked'"
              class="mr-2"
              btnSize="small"
              (buttonClicked)="selectTab(SelectedTabInFullscreenCodeEditor.OUTPUT)"
            > Output
            </app-button>
            <app-button
            btnColor="primary"
            btnSize="small"
            [btnStyle]="selectedTab === SelectedTabInFullscreenCodeEditor.CONSOLE? 'flat':'stroked'"
            (buttonClicked)="selectTab(SelectedTabInFullscreenCodeEditor.CONSOLE)"
          > Console
          </app-button>


            </div>
            <div class="mt-2 flex-grow-1 position-relative">
              <form [formGroup]="testResultForm" class="h-100">
                <ngx-codemirror *ngIf="selectedTab === SelectedTabInFullscreenCodeEditor.OUTPUT" class="h-100"
                  formControlName="outputResult" [options]="outputResultEditorOptions"></ngx-codemirror>
                <ngx-codemirror *ngIf="selectedTab === SelectedTabInFullscreenCodeEditor.CONSOLE"
                  formControlName="consoleResult" [options]="consoleResultEditoroptions" class="h-100"></ngx-codemirror>
              </form>
              <div class="test-code-loading-container" *ngIf="testLoading" >
                <div>
                  <app-loading-icon [whiteLoader]="true"> </app-loading-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="addNpmPackage$ | async"></ng-container>
<ng-container *ngIf="executeCodeTest$ | async"></ng-container>
