openapi: 3.0.0
servers:
  - url: https://trello.com/1
x-hasEquivalentPaths: true
info:
  x-ballerina-display:
    label: Trello
    iconPath: "icon.png"
  contact:
    name: Trello
    url: https://trello.com/home
  description: >-
    This is a generated connector for [Trello API v1](https://trello.com) OpenAPI specification.

    Client endpoint of Trello API provides capability to perform CRUD (Create, Read, Update, and Delete) operations on resources in a Trello account.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    
    Create a [Trello account](https://trello.com) and obtain tokens following [this guide](https://developer.atlassian.com/cloud/trello/guides/rest-api/api-introduction/#authentication-and-authorization).
  license:
    name: "Trello : Terms of Service"
    url: https://trello.com/legal
  termsOfService: https://trello.com/legal
  title: Trello
  version: "1.0"
  x-apisguru-categories:
    - collaboration
  x-logo:
    url: https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml
      version: "3.0"
  x-providerName: trello.com
  x-unofficialSpec: true
externalDocs:
  url: https://developers.trello.com
tags:
  - description: https://trello.com/docs/api/action/index.html
    name: action
  - description: https://trello.com/docs/api/batch/index.html
    name: batch
  - description: https://trello.com/docs/api/board/index.html
    name: board
  - description: https://trello.com/docs/api/card/index.html
    name: card
  - description: https://trello.com/docs/api/checklist/index.html
    name: checklist
  - description: https://trello.com/docs/api/label/index.html
    name: label
  - description: https://trello.com/docs/api/list/index.html
    name: list
  - description: https://trello.com/docs/api/member/index.html
    name: member
  - description: https://trello.com/docs/api/notification/index.html
    name: notification
  - description: https://trello.com/docs/api/organization/index.html
    name: organization
  - description: https://trello.com/docs/api/search/index.html
    name: search
  - description: https://trello.com/docs/api/session/index.html
    name: session
  - description: https://trello.com/docs/api/token/index.html
    name: token
  - description: https://trello.com/docs/api/type/index.html
    name: type
  - description: https://trello.com/docs/api/webhook/index.html
    name: webhook
paths:
  /batch:
    get:
      operationId: getBatch
      parameters:
        - description: List of API v1 GET routes, not including the version prefix
          in: query
          name: urls
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      summary: Get batch
      tags:
        - batch
  /boards:
    post:
      operationId: addBoards
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards"
        description: Attributes of "Boards" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add new board
      tags:
        - board
  "/boards/{idBoard}":
    get:
      operationId: getBoardsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: "One of: count, list or minimal"
          in: query
          name: actions_format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: actions_since
          required: false
          schema:
            type: string
        - description: A number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "All or a comma-separated list of: data, date, idMemberCreator or
            type"
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: action_member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: action_member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: action_memberCreator
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: card_attachments
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: card_attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all or none"
          in: query
          name: card_checklists
          required: false
          schema:
            default: none
            type: string
        - description: "True or false"
          in: query
          name: card_stickers
          required: false
          schema:
            type: string
        - description: "One of: mine or none"
          in: query
          name: boardStars
          required: false
          schema:
            default: none
            type: string
        - description: "One of: all or none"
          in: query
          name: labels
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: label_fields
          required: false
          schema:
            default: all
            type: string
        - description: A number from 0 to 1000
          in: query
          name: labels_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "One of: all, closed, none or open"
          in: query
          name: lists
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: closed, idBoard, name, pos or
            subscribed"
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: active, admin, deactivated, me
            or normal"
          in: query
          name: memberships
          required: false
          schema:
            default: none
            type: string
        - description: "True or false"
          in: query
          name: memberships_member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: memberships_member_fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: members
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName, username and confirmed
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: membersInvited
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: membersInvited_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: organization
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: billableMemberCount, desc,
            descData, displayName, idBoards, invitations, invited, logoHash,
            memberships, name, powerUps, prefs, premiumFeatures, products, url
            or website"
          in: query
          name: organization_fields
          required: false
          schema:
            default: name and displayName
            type: string
        - description: "All or a comma-separated list of: active, admin, deactivated, me
            or normal"
          in: query
          name: organization_memberships
          required: false
          schema:
            default: none
            type: string
        - description: "True or false"
          in: query
          name: myPrefs
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: name, desc, descData, closed, idOrganization, pinned, url, shortUrl,
              prefs and labelNames
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get board by ID
      tags:
        - board
    put:
      operationId: updateBoardsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards"
        description: Attributes of "Boards" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards by ID
      tags:
        - board
  "/boards/{idBoard}/actions":
    get:
      operationId: getBoardsActionsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "True or false"
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: data, date, idMemberCreator or
            type"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: A number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "One of: count, list or minimal"
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: Page * limit must be less than 1000
          in: query
          name: page
          required: false
          schema:
            default: "0"
            type: string
        - description: Only return actions related to these model ids
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards actions by ID board
      tags:
        - board
  "/boards/{idBoard}/boardStars":
    get:
      operationId: getBoardsBoardStarsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: mine or none"
          in: query
          name: filter
          required: false
          schema:
            default: mine
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards board stars by ID
      tags:
        - board
  "/boards/{idBoard}/calendarKey/generate":
    post:
      operationId: addBoardsCalendarKeyGenerateByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards calendar key generate by ID
      tags:
        - board
  "/boards/{idBoard}/cards":
    get:
      operationId: getBoardsCardsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: stickers
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: A number from 1 to 1000
          in: query
          name: limit
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards cards by ID board
      tags:
        - board
  "/boards/{idBoard}/cards/{filter}":
    get:
      operationId: getBoardsCardsByIdBoardByFilter
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      summary: Get boards cards by ID board by filter
      tags:
        - board
  "/boards/{idBoard}/cards/{idCard}":
    get:
      operationId: getBoardsCardsByIdBoardByIdCard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdCard
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: A number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "All or a comma-separated list of: data, date, idMemberCreator or
            type"
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: "True or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: idCheckItem or state"
          in: query
          name: checkItemState_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards cards by ID board by ID card
      tags:
        - board
  "/boards/{idBoard}/checklists":
    get:
      operationId: getBoardsChecklistsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all or none"
          in: query
          name: checkItems
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: name, nameData, pos, state or
            type"
          in: query
          name: checkItem_fields
          required: false
          schema:
            default: name, nameData, pos and state
            type: string
        - description: "One of: all or none"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards checklists by ID board
      tags:
        - board
    post:
      operationId: addBoardsChecklistsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_checklists"
        description: Attributes of "Boards Checklists" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards checklists by ID board
      tags:
        - board
  "/boards/{idBoard}/closed":
    put:
      operationId: updateBoardsClosedByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_closed"
        description: Attributes of "Boards Closed" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards closed by ID board
      tags:
        - board
  "/boards/{idBoard}/deltas":
    get:
      operationId: getBoardsDeltasByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: A valid tag for subscribing
          in: query
          name: tags
          required: true
          schema:
            type: string
        - description: A number from -1 to Infinity
          in: query
          name: ixLastUpdate
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards deltas by ID board
      tags:
        - board
  "/boards/{idBoard}/desc":
    put:
      operationId: updateBoardsDescByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_desc"
        description: Attributes of "Boards Desc" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards desc by ID board
      tags:
        - board
  "/boards/{idBoard}/emailKey/generate":
    post:
      operationId: addBoardsEmailKeyGenerateByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards email key generate by ID board
      tags:
        - board
  "/boards/{idBoard}/idOrganization":
    put:
      operationId: updateBoardsIdOrganizationByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_idOrganization"
        description: Attributes of "Boards ID Organization" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards ID organization by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/blue":
    put:
      operationId: updateBoardsLabelNamesBlueByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_blue"
        description: Attributes of "Label Names Blue" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names blue by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/green":
    put:
      operationId: updateBoardsLabelNamesGreenByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_green"
        description: Attributes of "Label Names Green" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names green by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/orange":
    put:
      operationId: updateBoardsLabelNamesOrangeByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_orange"
        description: Attributes of "Label Names Orange" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names orange by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/purple":
    put:
      operationId: updateBoardsLabelNamesPurpleByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_purple"
        description: Attributes of "Label Names Purple" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names purple by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/red":
    put:
      operationId: updateBoardsLabelNamesRedByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_red"
        description: Attributes of "Label Names Red" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names red by ID board
      tags:
        - board
  "/boards/{idBoard}/labelNames/yellow":
    put:
      operationId: updateBoardsLabelNamesYellowByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_yellow"
        description: Attributes of "Label Names Yellow" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards label names yellow by ID board
      tags:
        - board
  "/boards/{idBoard}/labels":
    get:
      operationId: getBoardsLabelsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: A number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: "50"
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards labels by ID board
      tags:
        - board
    post:
      operationId: addBoardsLabelsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_labels"
        description: Attributes of "Boards Labels" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards labels by ID board
      tags:
        - board
  "/boards/{idBoard}/labels/{idLabel}":
    get:
      operationId: getBoardsLabelsByIdBoardByIdLabel
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdLabel
          in: path
          name: idLabel
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards labels by ID board by ID label
      tags:
        - board
  "/boards/{idBoard}/lists":
    get:
      operationId: getBoardsListsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all, closed, none or open"
          in: query
          name: filter
          required: false
          schema:
            default: open
            type: string
        - description: "All or a comma-separated list of: closed, idBoard, name, pos or
            subscribed"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards lists by ID board
      tags:
        - board
    post:
      operationId: addBoardsListsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_lists"
        description: Attributes of "Boards Lists" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards lists by ID board
      tags:
        - board
  "/boards/{idBoard}/lists/{filter}":
    get:
      operationId: getBoardsListsByIdBoardByFilter
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      summary: Get boards lists by ID board by filter
      tags:
        - board
  "/boards/{idBoard}/markAsViewed":
    post:
      operationId: addBoardsMarkAsViewedByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards mark as viewed by ID board
      tags:
        - board
  "/boards/{idBoard}/members":
    get:
      operationId: getBoardsMembersByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: True or false ; works for premium organizations only.
          in: query
          name: activity
          required: false
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards members by ID board
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        $ref: "#/components/requestBodies/boards_members"
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards members by ID board
      tags:
        - board
  "/boards/{idBoard}/members/{filter}":
    get:
      operationId: getBoardsMembersByIdBoardByFilter
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      summary: Get boards members by ID board by filter
      tags:
        - board
  "/boards/{idBoard}/members/{idMember}":
    delete:
      operationId: deleteBoardsMembersByIdBoardByIdMember
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Delete boards members by ID board by ID member
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoardByIdMember
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        
      requestBody:
        $ref: "#/components/requestBodies/boards_members"
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards members by ID board by ID member
      tags:
        - board
  "/boards/{idBoard}/members/{idMember}/cards":
    get:
      operationId: getBoardsMembersCardsByIdBoardByIdMember
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "True or false"
          in: query
          name: board
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url"
          in: query
          name: board_fields
          required: false
          schema:
            default: name, desc, closed, idOrganization, pinned, url and prefs
            type: string
        - description: "True or false"
          in: query
          name: list
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: closed, idBoard, name, pos or
            subscribed"
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards members cards by ID board by ID member
      tags:
        - board
  "/boards/{idBoard}/membersInvited":
    get:
      operationId: getBoardsMembersInvitedByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, avatarSource, bio,
            bioData, confirmed, email, fullName, gravatarHash, idBoards,
            idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials,
            loginTypes, memberType, oneTimeMessagesDismissed, prefs,
            premiumFeatures, products, status, status, trophies,
            uploadedAvatarHash, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards members invited by ID board
      tags:
        - board
  "/boards/{idBoard}/membersInvited/{field}":
    get:
      operationId: getBoardsMembersInvitedByIdBoardByField
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Field
          in: path
          name: field
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards members invited by ID board by field
      tags:
        - board
  "/boards/{idBoard}/memberships":
    get:
      operationId: getBoardsMembershipsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: active, admin, deactivated, me
            or normal"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: fullName and username
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards memberships by ID board
      tags:
        - board
  "/boards/{idBoard}/memberships/{idMembership}":
    get:
      operationId: getBoardsMembershipsByIdBoardByIdMembership
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdMembership
          in: path
          name: idMembership
          required: true
          schema:
            type: string
        - description: "True or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: fullName and username
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards memberships by ID board by ID membership
      tags:
        - board
    put:
      operationId: updateBoardsMembershipsByIdBoardByIdMembership
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: IdMembership
          in: path
          name: idMembership
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_memberships"
        description: Attributes of "Boards Memberships" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards memberships by ID board by ID membership
      tags:
        - board
  "/boards/{idBoard}/myPrefs":
    get:
      operationId: getBoardsMyPrefsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards my prefs by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/emailPosition":
    put:
      operationId: updateBoardsMyPrefsEmailPositionByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_emailPosition"
        description: Attributes of "My Prefs Email Position" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs email position by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/idEmailList":
    put:
      operationId: updateBoardsMyPrefsIdEmailListByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_idEmailList"
        description: Attributes of "My Prefs ID Email List" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs ID email list by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/showListGuide":
    put:
      operationId: updateBoardsMyPrefsShowListGuideByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_showListGuide"
        description: Attributes of "My Prefs Show List Guide" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs show list guide by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/showSidebar":
    put:
      operationId: updateBoardsMyPrefsShowSidebarByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_showSidebar"
        description: Attributes of "My Prefs Show Sidebar" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs show sidebar by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/showSidebarActivity":
    put:
      operationId: updateBoardsMyPrefsShowSidebarActivityByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_showSidebarActivity"
        description: Attributes of "My Prefs Show Sidebar Activity" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs show sidebar activity by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/showSidebarBoardActions":
    put:
      operationId: updateBoardsMyPrefsShowSidebarBoardActionsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_showSidebarBoardActions"
        description: Attributes of "My Prefs Show Sidebar Board Actions" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs show sidebar board actions by ID board
      tags:
        - board
  "/boards/{idBoard}/myPrefs/showSidebarMembers":
    put:
      operationId: updateBoardsMyPrefsShowSidebarMembersByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/myPrefs_showSidebarMembers"
        description: Attributes of "My Prefs Show Sidebar Members" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards my prefs show sidebar members by ID board
      tags:
        - board
  "/boards/{idBoard}/name":
    put:
      operationId: updateBoardsNameByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_name"
        description: Attributes of "Boards Name" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards name by ID board
      tags:
        - board
  "/boards/{idBoard}/organization":
    get:
      operationId: getBoardsOrganizationByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: billableMemberCount, desc,
            descData, displayName, idBoards, invitations, invited, logoHash,
            memberships, name, powerUps, prefs, premiumFeatures, products, url
            or website"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards organization by ID board
      tags:
        - board
  "/boards/{idBoard}/organization/{field}":
    get:
      operationId: getBoardsOrganizationByIdBoardByField
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Field
          in: path
          name: field
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get boards organization by ID board by field
      tags:
        - board
  "/boards/{idBoard}/powerUps":
    post:
      operationId: addBoardsPowerUpsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_powerUps"
        description: Attributes of "Boards Power Ups" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add boards power ups by ID board
      tags:
        - board
  "/boards/{idBoard}/powerUps/{powerUp}":
    delete:
      operationId: deleteBoardsPowerUpsByIdBoardByPowerUp
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: PowerUp
          in: path
          name: powerUp
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Delete boards power ups by ID board by power up
      tags:
        - board
  "/boards/{idBoard}/prefs/background":
    put:
      operationId: updateBoardsPrefsBackgroundByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_background"
        description: Attributes of "Prefs Background" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs background by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/calendarFeedEnabled":
    put:
      operationId: updateBoardsPrefsCalendarFeedEnabledByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_calendarFeedEnabled"
        description: Attributes of "Prefs Calendar Feed Enabled" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs calendar feed enabled by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/cardAging":
    put:
      operationId: updateBoardsPrefsCardAgingByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_cardAging"
        description: Attributes of "Prefs Card Aging" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs card aging by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/cardCovers":
    put:
      operationId: updateBoardsPrefsCardCoversByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_cardCovers"
        description: Attributes of "Prefs Card Covers" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs card covers by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/comments":
    put:
      operationId: updateBoardsPrefsCommentsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_comments"
        description: Attributes of "Prefs Comments" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs comments by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/invitations":
    put:
      operationId: updateBoardsPrefsInvitationsByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_invitations"
        description: Attributes of "Prefs Invitations" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs invitations by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/permissionLevel":
    put:
      operationId: updateBoardsPrefsPermissionLevelByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        $ref: "#/components/requestBodies/prefs_permissionLevel"
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs permission level by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/selfJoin":
    put:
      operationId: updateBoardsPrefsSelfJoinByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_selfJoin"
        description: Attributes of "Prefs Self Join" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs self join by ID board
      tags:
        - board
  "/boards/{idBoard}/prefs/voting":
    put:
      operationId: updateBoardsPrefsVotingByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/prefs_voting"
        description: Attributes of "Prefs Voting" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards prefs voting by ID board
      tags:
        - board
  "/boards/{idBoard}/subscribed":
    put:
      operationId: updateBoardsSubscribedByIdBoard
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_subscribed"
        description: Attributes of "Boards Subscribed" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update boards subscribed by ID board
      tags:
        - board
  "/boards/{idBoard}/{field}":
    get:
      operationId: getBoardsByIdBoardByField
      parameters:
        - description: Board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: Field
          in: path
          name: field
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      summary: Get boards by ID board by field
      tags:
        - board
  /cards:
    post:
      operationId: addCards
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cards"
        description: Attributes of "Cards" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add cards
      tags:
        - card
  "/cards/{idCard}":
    delete:
      operationId: deleteCardsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Delete cards by ID card
      tags:
        - card
    get:
      operationId: getCardsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: A number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "All or a comma-separated list of: data, date, idMemberCreator or
            type"
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: membersVoted
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: memberVoted_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: idCheckItem or state"
          in: query
          name: checkItemState_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "All or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: board
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url"
          in: query
          name: board_fields
          required: false
          schema:
            default: name, desc, descData, closed, idOrganization, pinned, url and prefs
            type: string
        - description: "True or false"
          in: query
          name: list
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: closed, idBoard, name, pos or
            subscribed"
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: "True or false"
          in: query
          name: stickers
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: image, imageScaled, imageUrl,
            left, rotate, top or zIndex"
          in: query
          name: sticker_fields
          required: false
          schema:
            default: all
            type: string
        - description: "All or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: badges, checkItemStates, closed, dateLastActivity, desc, descData, due,
              email, idBoard, idChecklists, idLabels, idList, idMembers,
              idShort, idAttachmentCover, manualCoverAttachment, labels, name,
              pos, shortUrl and url
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get cards by ID card
      tags:
        - card
    put:
      operationId: updateCardsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cards"
        description: Attributes of "Cards" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update cards by ID card
      tags:
        - card
  "/cards/{idCard}/actions":
    get:
      operationId: getCardsActionsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: "True or false"
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization"
          in: query
          name: filter
          required: false
          schema:
            default: commentCard and updateCard:idList
            type: string
        - description: "All or a comma-separated list of: data, date, idMemberCreator or
            type"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: A number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "One of: count, list or minimal"
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: Page * limit must be less than 1000
          in: query
          name: page
          required: false
          schema:
            default: "0"
            type: string
        - description: Only return actions related to these model ids
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: "True or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "True or false"
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: "All or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username"
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Get cards actions by ID card
      tags:
        - card
  "/cards/{idCard}/actions/comments":
    post:
      operationId: addCardsActionsCommentsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/actions_comments"
        description: Attributes of "Actions Comments" to be added.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Add cards actions comments by ID card
      tags:
        - card
  "/cards/{idCard}/actions/{idAction}/comments":
    delete:
      description: This can only be done by the original author of the comment, or
        someone with higher permissions than the original author.
      operationId: deleteCardsActionsCommentsByIdCardByIdAction
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: IdAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Delete cards actions comments by ID card by ID action
      tags:
        - card
    put:
      description: This can only be done by the original author of the comment.
      operationId: updateCardsActionsCommentsByIdCardByIdAction
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: IdAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cards_actions_comments"
        description: Attributes of "Cards Actions Comments" to be updated.
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: Update cards actions comments by ID card by ID action
      tags:
        - card
  "/cards/{idCard}/attachments":
    get:
      operationId: getCardsAttachmentsByIdCard
      parameters:
        - description: Card ID or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: "All or a comma-separated list of: bytes, date, edgeColor,
            idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
[...]
