@import "src/assets/scss/variables.scss";

$sideBarTitleSize:72px;
$minHeightOfSections:55px;
.loading-icon {
  position: absolute;
  left: calc(50% - 10.5px);
  top: calc(50% - 10.5px);
}

.pane-separator {
  position:absolute;
  left: 0;
  width: 100%;
  top:calc(50% - 5px);
  height: 10px;
  background: $graySelect;
  pointer-events: all;
  cursor:row-resize;
  .knob
  {
    background-color: $border;
    width:$knob-height;
    height: $knob-width;
    border-radius: 50px;

  }
  &:hover,&.active
  {
    .knob
    {
      background-color: $body;
    }

  }
  z-index: $appended-to-body-z-index;

}

.steps-results {
  min-height: $minHeightOfSections;
  height: calc(50% - 10px);
  max-height: calc(100% - $minHeightOfSections);
  overflow-y: scroll;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.selected-step-result {
  margin-top:10px;
  min-height:$minHeightOfSections;
  max-height: calc(50% - 10px);
  overflow-y: scroll;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.run-details-body{
  height: calc(100% - $sideBarTitleSize);
  position: relative;

}

.resizer-area{
  position: absolute;
  height: calc(100% - 110px);
  top:$minHeightOfSections;
  width: 100%;
  pointer-events: none;
}
