@import "src/assets/scss/custom/variables";

.template-row{
  padding: 1rem;
  margin-bottom: 1rem;
  height: 80px;
  border-radius: 5px;
  border: 1px solid $border;
  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.template-row:hover{
  border: 1px solid $primary;
  /* Depth 4 */
  box-shadow: 0px 3px 8px rgba(210, 211, 217, 0.5);
  border-radius: 5px;
}

.template-row:hover .template-content-header{
  color: #5835B0;
}

.template-row:hover .template-content-description{
  color: $primary;
}

.template-content{
  margin-left: 1rem;
  border-radius: 5px;
}

.template-icon{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-content-header{
  display: block;
  font-weight: 600;
  color: $title;
  font-size: 14px;
  line-height: 22px;
}

.template-content-description{
  margin-top: 0.25rem;
  color: $description;
  font-size: 14px;
}

.use-template-text {
  color: $body;
}

