<div class="on-boarding-container">
  <div class="auth-form-title">Help improve your experience</div>
  <form [formGroup]="onBoardingForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="form-text" for="role">What's your role?</label>

      <ng-select
        [items]="roleDropdownOptions"
        bindLabel="label"
        bindValue="value"
        id="role"
        formControlName="role"
        [searchable]="false"
        [clearable]="false"
        placeholder="Please select..."
      >
        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex option-container">
            <div class="flex-grow-1">{{ item.label }}</div>
            <svg-icon
              *ngIf="item.value === roleControl?.value"
              src="assets/img/custom/check.svg"
              class="check-icon"
              [applyClass]="true"
            >
            </svg-icon>
          </div>
        </ng-template>
      </ng-select>

      <p
        @fadeInUp
        *ngIf="submitted && onBoardingForm.controls['role'].invalid"
        class="invalid-input"
      >
        Role is required
      </p>
    </div>
    <div class="form-group">
      <label class="form-text" for="usecases"
        >I want to use Activepieces for:</label
      >

      <ng-select
        id="usecases"
        [items]="useCasesDropdownOptions"
        formControlName="usecases"
        [multiple]="true"
        bindLabel="label"
        bindValue="value"
        placeholder="Please select..."
        appendTo="body"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="value-tag"> {{ item.label }} </span>
          <span
            class="clear-icon ng-clear"
            (click)="clear(item)"
            aria-hidden="true"
            >×</span
          >
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex">
            <div class="flex-grow-1">{{ item.label }}</div>
            <svg-icon
              *ngIf="item.value === usecasesControl?.value"
              src="assets/img/custom/check.svg"
              class="check-icon"
              [applyClass]="true"
            >
            </svg-icon>
          </div>
        </ng-template>
      </ng-select>

      <p
        @fadeInUp
        *ngIf="submitted && onBoardingForm.controls['usecases'].invalid"
        class="invalid-input"
      >
        Use cases is required
      </p>
    </div>

    <div class="form-group">
      <label class="form-text" for="technicalLevel"
        >How technical are you?</label
      >

      <ng-select
        [items]="technicalLevelDropdownOptions"
        bindLabel="label"
        bindValue="value"
        id="technicalLevel"
        formControlName="technicalLevel"
        [searchable]="false"
        [clearable]="false"
        placeholder="Please select..."
      >
        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex option-container">
            <div class="flex-grow-1">{{ item.label }}</div>
            <svg-icon
              *ngIf="item.value === technicalLevelControl?.value"
              src="assets/img/custom/check.svg"
              class="check-icon"
              [applyClass]="true"
            >
            </svg-icon>
          </div>
        </ng-template>
      </ng-select>
      <p
        @fadeInUp
        *ngIf="submitted && onBoardingForm.controls['technicalLevel'].invalid"
        class="invalid-input"
      >
        Technical level is required
      </p>
    </div>
  </form>
  <div class="text-right d-flex btns-container ml-auto h-100">
    <app-button
    [loading]="loading"
    (buttonClicked)="navigateToDashboard()"
    btnColor="basic"
    btnStyle="basic"
    [fullWidthOfContainer]="true"
  >
  Skip
  </app-button>
    <app-button
      [loading]="loading"
      (buttonClicked)="submit()"
      btnColor="primary"
      [fullWidthOfContainer]="true"
    >
    Submit
    </app-button>
  </div>
</div>
