@import "src/assets/scss/custom/variables";
.form-control {
  &:focus {
    border: 1px solid #6e41e2;
    box-shadow: 0px 0px 0px 4px rgba(110, 65, 226, 0.14);
  }
}
.auth-form-title {
  font-weight: 600;
  color: $title;
  margin-bottom: 1.563rem;
}
.auth-button {
  padding: 0.5rem 0rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 0.875rem;
  border: 0px;
  &:focus {
    outline: 1px;
  }
  margin-top: 0rem;
  font-size: 0.875rem;
}

.on-boarding-container {
  margin: 0px 5px;
}
.btns-container {
  margin-top: 30px;
  max-width: 170px;
  gap: 0.8rem;
}

.animation-done {
  .mat-tab-body-wrapper {
    overflow: visible !important;
  }
  .mat-tab-body {
    overflow: visible !important;
  }

  .mat-tab-body-content {
    overflow: visible !important;
  }
}

.placeholder-select {
  color: $body;
}
.dropdown-menu {
  width: 100%;
  margin-left: 0;
}

.form-control {
  cursor: pointer;
}

.value-tag {
  padding: 0.0625rem 0px 0.0625rem 0.5rem;
  color: $primary-dark;
}

.clear-icon {
  padding: 0.5156rem;
  cursor: pointer;
}

.check-icon {
  height: 12px;
  width: 12px;
  fill: $primary;
}
