<form *ngIf="form" [formGroup]="form" [class.ng-submitted]="submitted">
  <div class="form-group d-flex flex-column" *ngFor="let config of _configs; let i = index" [ngSwitch]="config.type">
    <ng-container *ngSwitchCase="configType.CHECKBOX">
      <div *ngIf="showSlider" class="d-flex align-items-center label-container " [class.has-underlined-label]="showDescriptionAsTooltips && config.hintText">
        <label [class.dashed-underline-label]="showDescriptionAsTooltips && config.hintText" [matTooltip]="showDescriptionAsTooltips && config.hintText? config.hintText:''">{{config.label}}</label>
        <app-icon-button *ngIf="allowRemoveConfig" [color]="themeService.BODY_COLOR" [width]="9" [height]="9"
          iconFilename="delete.svg" matTooltip="Remove Item" [buttonHeight]="16" [buttonWidth]="16"
          buttonPadding="8px !important" class="delete-btn" appTrackHover #deleteButton="hoverTrackerDirective"
          (click)="removeConfig(config)"></app-icon-button>
        <div *ngIf="showSlider" #spacer class="flex-grow-1"></div>
        <mat-slide-toggle *ngIf="showSlider" [formControlName]="config.key" color="primary"></mat-slide-toggle>
      </div>
      <app-checkbox *ngIf="!showSlider" [formControlName]="config.key" [label]="config.label">
      </app-checkbox>
    </ng-container>
    <div *ngIf="config.type !== configType.CHECKBOX" class="d-flex align-items-center label-container"  [class.has-underlined-label]="showDescriptionAsTooltips && config.hintText">
      <label [class.dashed-underline-label]="showDescriptionAsTooltips && config.hintText" [matTooltip]="showDescriptionAsTooltips && config.hintText? config.hintText:''"  [attr.required]="config.settings?.required ||config.settings?.required === undefined? true:null"
        [for]="'form-input' + i">{{ config.label }}</label>
      <app-icon-button *ngIf="allowRemoveConfig && form.enabled" [color]="themeService.BODY_COLOR" [width]="9" [height]="9"
        iconFilename="delete.svg" matTooltip="Remove Item" [buttonHeight]="16" [buttonWidth]="16" class=" delete-btn"
        buttonPadding="8px !important" appTrackHover #deleteButton="hoverTrackerDirective"
        (click)="removeConfig(config)"></app-icon-button>
    </div>


    <div *ngIf="!showDescriptionAsTooltips && config.hintText" class="d-flex description-container text-break">
      <span *ngIf="config.hintText">
        {{
        hintTextShown[i]
        ? config.hintText
        : config.hintText.slice(0, descriptionLimit)
        }}
      </span>
      <span *ngIf="
          config.hintText &&
          config.hintText.length > descriptionLimit &&
          !hintTextShown[i]
        ">
        &nbsp;
        <span>...</span>
        <span class="ap-more-text" (click)="hintTextShown[i] = true">more
        </span>
      </span>
    </div>

    <div [id]="'form-input' + i">
      <input *ngSwitchCase="configType.SHORT_TEXT" class="form-control" type="text" [formControlName]="config.key"
        [placeholder]="config.placeholder ? config.placeholder : ''" />

      <textarea *ngSwitchCase="configType.LONG_TEXT" [formControlName]="config.key"
        [placeholder]="config.placeholder ? config.placeholder : ''" rows="4" class="form-control" type="text">
      </textarea>
      <input *ngSwitchCase="configType.EMAIL" class="form-control" type="email" [formControlName]="config.key"
        [placeholder]="config.placeholder ? config.placeholder : ''" />
      <input *ngSwitchCase="configType.INTEGER" class="form-control" type="number" [formControlName]="config.key"
        [placeholder]="config.placeholder ? config.placeholder : ''" />
      <app-o-auth2-connect-control *ngSwitchCase="configType.OAUTH2" [formControlName]="config.key"
        [configSettings]="getAuthConfigSettings(config)"></app-o-auth2-connect-control>

      <app-dictonary-form-control *ngSwitchCase="configType.DICTIONARY" [formControlName]="config.key">
      </app-dictonary-form-control>

      <ng-container *ngSwitchCase="configType.DROPDOWN">
        <ng-container *ngIf="
            getDropdownSettings(config).dropdownType === dropdownType.DYNAMIC;
            else staticDropdown
          ">
          <ng-select [formControlName]="config.key" [items]="
              (getDynamicDropdownObservable(config.key) | async)?.options || []
            " [loading]="
              !(getDynamicDropdownObservable(config.key) | async)?.loaded ||
              false
            " [placeholder]="
              !(getDynamicDropdownObservable(config.key) | async)?.loaded
                ? 'Loading...'
                : (getDynamicDropdownObservable(config.key) | async)
                    ?.placeholder!
            " bindLabel="label" bindValue="value" [clearable]="!getDropdownSettings(config).required"
            [searchable]="false" appendTo="body">
            <ng-template ng-option-tmp let-item="item">
              <app-ng-select-item-template [item]="item" [isSelected]="item.value === getControl(config.key)?.value">
              </app-ng-select-item-template>
            </ng-template>

            <ng-template ng-loadingspinner-tmp>
              <app-ng-select-loading-spinner-template></app-ng-select-loading-spinner-template>
            </ng-template>
          </ng-select>
        </ng-container>
        <ng-template #staticDropdown>
          <ng-select [formControlName]="config.key" [items]="getStaticDropdownSettings(config).options"
            bindLabel="label" bindValue="value" [clearable]="!getDropdownSettings(config).required"
            [searchable]="false" appendTo="body">
            <ng-template ng-option-tmp let-item="item">
              <app-ng-select-item-template [item]="item" [isSelected]="item.value === getControl(config.key)?.value">
              </app-ng-select-item-template>
            </ng-template>
          </ng-select>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="submitted && getControl(config.key)?.invalid">
        <p @fadeInUp class="invalid-input">{{ config.label }} is required.</p>
      </ng-container>
    </div>
  </div>
</form>
<ng-container *ngIf="updateValueOnChange$ | async"></ng-container>
<ng-container *ngFor="let refreshRefernceValueChanged$ of refreshReferencesList$">
  <ng-container *ngIf="refreshRefernceValueChanged$|async"></ng-container>
</ng-container>
