activepieces.aigentic.audio {
    reverse_proxy activepieces:4200 {
      # `activepieces` in this setting tells Caddy to use the service def defined in the docker-compose.yml file
      flush_interval -1
    }
}
