@import "src/assets/scss/custom/variables";

.auth-form-title {
  font-weight: 600;
  color: $title;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.563rem;
}

.auth-button {
  padding: 0.5rem 0rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: 600;
  border: 0px;
  &:focus {
    outline: 1px;
  }
  font-size: 0.875rem;
}

.auth-links-container {
  margin-top: 1.875rem;
  color: $description;
  font-size: 0.875rem;
}

.auth-logo-section {
  color: $title;
  font-weight: 600;
  font-size: calc(1.2rem * 1.4);
  margin-bottom: 1.875rem;
  background: $white;
}
.auth-logo {
  margin-top: -2px;
  margin-right: 0.313rem;
}

.invalid-input {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  color: $danger;
  font-size: 0.875rem;
}
.email-div {
  color: $title;
}

.card {
  border: 1px solid $dividers;
}
.form-margin {
  margin: 0px 5px;
}
