<div class="modal-header">
  <div class="modal-title pull-left">{{ environmentName }} Project ID</div>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    [formGroup]="firebaseProjectForm"
    #projectForm="ngForm"
    (ngSubmit)="submit()"
  >
    <label> Firebase Project ID </label>
    <input type="text" class="form-control" formControlName="projectId" />
    <p @fadeInUp *ngIf="submitted && projectId?.invalid" class="invalid-input">
      The Project ID is required.
    </p>
    <div class="description">
      Copy your Project ID from Firebase Console and paste it here.
    </div>
  </form>
</div>
<div class="modal-footer">

  <app-button
  btnColor="basic"
  btnStyle="basic"
  (buttonClicked)="bsModalRef.hide()"
> Cancel
</app-button>

  <app-button
    type="button"
    btnColor="primary"
    [loading]="loading"
    (buttonClicked)="projectForm.onSubmit($event)"
  >Save</app-button>
</div>
<ng-container *ngIf="updateSnackbarSuccess$ | async"></ng-container>
<ng-container *ngIf="updateSnackbarFailed$ | async"></ng-container>
