@import 'packages/ui/core/src/assets/scss/variables.scss';



.route-loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: calc($appended-to-body-z-index + 1);
  background-color: $white;
}

.grey-spinner {
  fill: $description;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
