<div *ngIf="entrySet.length === 0">
  <span *ngIf="dynamicControl.formControl().disabled" class="text-xm">Empty map</span>
  <app-button
    *ngIf="!dynamicControl.formControl().disabled"
    btnColor="primary"
    (buttonClicked)="addEmptyPair()"
  >Add Value</app-button>
</div>
<div *ngIf="entrySet.length > 0">
  <div class="row mt-1">
    <div class="col" style="padding-right: 0">Key</div>
    <div class="col" style="padding-right: 0">Value</div>
    <app-icon-button
      *ngIf="!dynamicControl.formControl().disabled"
      [color]="themeService.BODY_COLOR"
      [ngStyle]="{ visibility: 'hidden' }"
      [hoverColor]="themeService.PRIMARY_COLOR"
      [iconFilename]="'plus.svg'"
    ></app-icon-button>
    <app-icon-button
      *ngIf="!dynamicControl.formControl().disabled"
      [color]="themeService.BODY_COLOR"
      [ngStyle]="{ visibility: 'hidden' }"
      [hoverColor]="themeService.DANGER_COLOR"
      [iconFilename]="'trash.svg'"
    ></app-icon-button>
  </div>

  <div class="row mt-3" *ngFor="let entry of entrySet; let indexOfPair = index">
    <div class="col" style="padding-right: 0">
      <input
        type="text"
        class="form-control mr-3"
        #keyInput
        (input)="setPairKey(indexOfPair, keyInput.value)"
        [value]="entrySet[indexOfPair].key"
        [disabled]="dynamicControl.formControl().disabled"
      />
    </div>
    <div class="col" style="padding-right: 0">
      <input
        type="text"
        class="form-control mr-3"
        #valueInput
        (input)="setPairValue(indexOfPair, valueInput.value)"
        [value]="entrySet[indexOfPair].value"
        [disabled]="dynamicControl.formControl().disabled"
      />
    </div>
    <app-icon-button
      *ngIf="!dynamicControl.formControl().disabled"
      [color]="themeService.BODY_COLOR"
      style="margin-right: 0"
      (click)="addPair(indexOfPair)"
      [hoverColor]="themeService.PRIMARY_COLOR"
      [iconFilename]="'plus.svg'"
    ></app-icon-button>

    <app-icon-button
      *ngIf="!dynamicControl.formControl().disabled"
      [color]="themeService.BODY_COLOR"
      (click)="removePair(indexOfPair)"
      [hoverColor]="themeService.DANGER_COLOR"
      [iconFilename]="'trash.svg'"
    ></app-icon-button>
  </div>

</div>
