{
  "swagger": "2.0",
  "info": {
    "title": "Document Integration API",
    "description": "\n<p>The Document Integration API provides a way to transfer documents between Abrigo and external document systems.</p>\n\n<h3>Finding Documents</h3>\n<p>When getting documents from Abrigo, you can filter by the uploaded date for more efficient retrieval.</p>\n\n<pre>GET /v1/documents?dateUploadedStartDate=2019-12-01&dateUploadedEndDate=2019-12-31</pre>\n\n<h3>Get Documents from Abrigo</h3>\n<ol>\n\t<li>Get the document metadata (ex: GET /v1/documents)</li>\n\t<li>Get the document folder details if needed using the document.documentFolderId property (GET /v1/document-folders/{documentFolderId})</li>\n\t<li>Get the base64 content of the document using the document.id property if needed (GET /v1/documents/{id}/content)</li>\n\t<li>Get items associated with the document (customers, loans, etc.) if needed (GET /v1/document-associations?documentId={id})</li>\n\t<li>Get additional data related to the associated items using the respective endpoints (customers, loans, collateral, etc.)</li>\n</ol>\n\n<h3>Authentication</h3>\n\n<p>Authentication for the API goes through Sageworks Auth, an identity provider application built using OAuth 2.0.</p>\n\n<h5>Overview of OAuth 2.0 Workflow for Private Clients</h5>\n\n<ol>\n\t<li>Make a POST request to <a>https://auth.sageworks.com/connect/token</a> with client_id, client_secret, and grant_type specified in the body.</li>\n\t<li>Get the Bearer Token (access_token) from the response to your POST request.</li>\n\t<li>Use the Bearer Token in your API request, which will return a JSON response if successful.</li>\n</ol>\n\n<p>More authentication details can be found at <a target='_blank' rel='noopener' href='https://api.sageworks.com/documentation/AnalystApi.html'>https://api.sageworks.com/documentation/AnalystApi.html</a></p>\n",
    "version": "v1"
  },
  "host": "api.sageworks.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets all customers",
        "operationId": "GetPaged",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "uniqueIdentifier",
            "description": "Unique identifier to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ids",
            "description": "List of ids to filter by",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Customer name to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "taxId",
            "description": "Tax ID to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "city",
            "description": "City to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "state",
            "description": "2 character state code to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUserDefinedFields",
            "description": "Include User Defined fields in the response",
            "type": "boolean",
            "default": false,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all current, existing, and active customers in the account",
            "schema": {
              "$ref": "#/definitions/CollectionResponse[Customer]"
            },
            "examples": {
              "application/json": {"items":[{"id":7456123,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":null,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Suite 2078","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test-company@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":"111111111","branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"3453","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438331,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":true,"yearFounded":1999,"businessRegistered":"NY","farmRegistered":null,"stateOfFormation":"NY","franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-06-07","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false},{"id":4213102,"name":"Smith, John","dba":null,"firstName":"John","middleInitial":null,"lastName":"Smith","nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":650,"secondaryCreditScore":null,"businessType":null,"dnbScore":null,"namePrefix":null,"jobTitle":null,"addresses":[{"line1":"456 Circle St","line2":"Apt 4B","city":"New York","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"mobile","number":"(999)999-9999"}],"type":"person","emailAddress":"test-person@sageworks.com","industryCode":null,"isDeleted":false,"uniqueIdentifier":"746313","taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":"usCitizen","maritalStatus":"legallySeparated","isActiveMiltaryDuty":true,"isDependentOfActiveMiltaryDuty":false,"civDescription":"","employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":"Passport","idNumber":"111111","idIssueDate":"2014-01-02","idExpirationDate":"2024-01-02","idIssuingAuthority":"","idState":"FL","comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":"Test Loan Officer","loanOfficerId":438323,"loanAdministrator":"Test Loan Admin","equifaxCreditScore":670,"equifaxCreditScoreDate":"2018-04-05","experianCreditScore":700,"experianCreditScoreDate":"2019-05-06","transunionCreditScore":750,"transunionCreditScoreDate":"2019-06-07","ficoSbssCreditScore":720,"ficoSbssCreditScoreDate":"2019-06-08","bankruptcies":"0","dateOfLastBankruptcy":"","historical30DayDelinquencies":"2","historical60DayDelinquencies":"1","historical90DayDelinquencies":"0","historicalOtherDelinquencies":"0","currentMortgagePastDue":"0","currentInstallmentPastDue":"0","currentAutoPastDue":"90","currentEducationPastDue":"0","currentOpenPastDue":"0","currentRevolvingPastDue":"100","currentOtherPastDue":"0","currentTotalPastDue":"0","entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false},{"id":45123997,"name":"Example Farm","dba":null,"firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":null,"businessType":"soleProp","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"964 Meadow Ave","line2":"","city":"Seattle","state":"WA","postalCode":"90541","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"farm","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":null,"taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"33433","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438332,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":false,"yearFounded":0,"businessRegistered":null,"farmRegistered":"MI","stateOfFormation":null,"franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-06-07","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false}]}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadCustomers"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates a new customer",
        "operationId": "Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The customer to create",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The customer has been created successfully. The customer\r\n            that was created is returned and has the Sageworks id that was assigned.",
            "schema": {
              "$ref": "#/definitions/Customer"
            },
            "examples": {
              "application/json": {"id":4513215,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":99,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Apt 4B","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":"111111111","branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"3453","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438331,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":true,"yearFounded":1999,"businessRegistered":"NY","farmRegistered":null,"stateOfFormation":"NY","franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-10-06","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"12345","crmIdentifier":"66754","isMailingAddressDifferent":false}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "CreateCustomers"
            ]
          }
        ]
      }
    },
    "/v1/customers/basic-information": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets all customer basic information",
        "operationId": "GetPagedBasicInformation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets basic information for all current, existing, and active customers in the account",
            "schema": {
              "$ref": "#/definitions/CollectionResponse[CustomerBasicInformation]"
            },
            "examples": {
              "application/json": [{"id":556098165,"name":"Sageworks API Business","type":"business","uniqueIdentifier":"fdas-gdes-5543","isDeleted":false},{"id":465112351,"name":"Sageworks Farm","type":"farm","uniqueIdentifier":"asdf-rewq-1231","isDeleted":false}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadCustomers"
            ]
          }
        ]
      }
    },
    "/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Search customers based on specific criteria",
        "operationId": "GetPagedCustomerSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "onlyCustomersWithFinancialRecords",
            "description": "Set to true to ensure the records return are linked to financial records",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets basic information for all current, existing, and active customers that meet search criteria",
            "schema": {
              "$ref": "#/definitions/CollectionResponse[CustomerBasicInformation]"
            },
            "examples": {
              "application/json": [{"id":556098165,"name":"Sageworks API Business","type":"business","uniqueIdentifier":"fdas-gdes-5543","isDeleted":false},{"id":465112351,"name":"Sageworks Farm","type":"farm","uniqueIdentifier":"asdf-rewq-1231","isDeleted":false}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadCustomers"
            ]
          }
        ]
      }
    },
    "/v1/customers/bulk": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates a collection of customers",
        "operationId": "CreateMany",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The collection of customers to create",
            "schema": {
              "$ref": "#/definitions/BulkCreateRequest[Customer]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All customers were processed. Please check the errors property of the response object\r\n            to determine if there were errors creating any individual customer",
            "schema": {
              "$ref": "#/definitions/BulkCreateResponse[Customer]"
            },
            "examples": {
              "application/json": {"itemsCreated":[{"id":7456123,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":null,"creditScore":98,"secondaryCreditScore":null,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Suite 2078","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test-company@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"12345","crmIdentifier":"66754","isMailingAddressDifferent":false},{"id":4213102,"name":"Smith, John","dba":null,"firstName":"John","middleInitial":null,"lastName":"Smith","nameSuffix":null,"userDefinedFields":null,"creditScore":650,"secondaryCreditScore":null,"businessType":null,"dnbScore":null,"namePrefix":null,"jobTitle":null,"addresses":[{"line1":"456 Circle St","line2":"Apt 4B","city":"New York","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"mobile","number":"(999)999-9999"}],"type":"person","emailAddress":"test-person@sageworks.com","industryCode":null,"isDeleted":false,"uniqueIdentifier":"746313","taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false},null,{"id":45123997,"name":"Example Farm","dba":null,"firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":null,"creditScore":98,"secondaryCreditScore":null,"businessType":"soleProp","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"964 Meadow Ave","line2":"","city":"Seattle","state":"WA","postalCode":"90541","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"farm","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":null,"taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false}],"errors":{"2":{"errorType":"invalidRequest","message":"Input model for request is invalid","modelErrors":[{"propertyName":"name","message":"name is required"}]}}}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "CreateCustomers"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Updates a collection of customers",
        "operationId": "UpdateMany",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The collection of customers to update",
            "schema": {
              "$ref": "#/definitions/BulkUpdateRequest[Customer]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All customers were processed. Please check the errors property of the response object\r\n            to determine if there were errors updating any individual customer",
            "schema": {
              "$ref": "#/definitions/BulkUpdateRequest[Customer]"
            },
            "examples": {
              "application/json": {"itemsUpdated":[{"id":7456123,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":null,"creditScore":98,"secondaryCreditScore":null,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Suite 2078","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test-company@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"675665","crmIdentifier":"66754","isMailingAddressDifferent":false},{"id":4213102,"name":"Smith, John","dba":null,"firstName":"John","middleInitial":null,"lastName":"Smith","nameSuffix":null,"userDefinedFields":null,"creditScore":650,"secondaryCreditScore":null,"businessType":null,"dnbScore":null,"namePrefix":null,"jobTitle":null,"addresses":[{"line1":"456 Circle St","line2":"Apt 4B","city":"New York","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"mobile","number":"(999)999-9999"}],"type":"person","emailAddress":"test-person@sageworks.com","industryCode":null,"isDeleted":false,"uniqueIdentifier":"746313","taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"44444","crmIdentifier":"45464","isMailingAddressDifferent":false},null,{"id":45123997,"name":"Example Farm","dba":null,"firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":null,"creditScore":98,"secondaryCreditScore":null,"businessType":"soleProp","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"964 Meadow Ave","line2":"","city":"Seattle","state":"WA","postalCode":"90541","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"farm","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":null,"taxId":null,"branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":null,"stateCode":null,"countyCode":null,"tractCode":null,"longitude":null,"latitude":null,"medianHouseholdIncome":null,"metropolitanDivision":null,"metropolitanDivisionCode":null,"loanOfficer":null,"loanOfficerId":null,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":null,"ficoSbssCreditScoreDate":null,"bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":null,"yearFounded":0,"businessRegistered":null,"farmRegistered":null,"stateOfFormation":null,"franchiseName":null,"franchiseLegalName":null,"franchiseStartDate":null,"sbaCode":null,"cityHQ":null,"stateHQ":null,"franchiseDataImportDate":null,"franchiseDataFinancialPeriod":null,"historicalSuccessRate":null,"systemSupportAndExpenseCommitment":null,"resaleActivityLevel":null,"mngmtExperienceStability":null,"averageUnitRevenueGrowth":null,"prospectScreening":null,"unitEconomics":null,"franchiseAgreementAssessment":null,"franchiseeRelationship":null,"projectedUnitSuccess":null,"recurringRevenueSelfSufficiency":null,"totalFundScore":null,"finStatementStrength":null,"franchisedUnits":null,"minInitial":null,"maxInitial":null,"avgInitial":null,"companyOwnedUnits":null,"projectedOpenings":null,"compoundAnnualUnitGrowthRate":null,"compoundedUnitSuccessRate":null,"experianDBT":null,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":null,"ansoniaRiskScore":null,"creditLogicScore":null,"dbViabilityRating":null,"lastReportRun":null,"bankruptciesCount":null,"collectionsCount":null,"judgmentsCount":null,"chargeOffsCount":null,"liensCount":null,"nsfChecksCount":null,"dataDepthScore":null,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":null,"crmIdentifier":null,"isMailingAddressDifferent":false}],"errors":{"2":{"errorType":"invalidRequest","message":"Input model for request is invalid","modelErrors":[{"propertyName":"name","message":"name is required"}]}}}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "UpdateCustomers"
            ]
          }
        ]
      }
    },
    "/v1/customers/{id}": {
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Updates a customer",
        "operationId": "Update",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "id of the existing customer to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The customer values to update",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the modified customer",
            "schema": {
              "$ref": "#/definitions/Customer"
            },
            "examples": {
              "application/json": {"id":4513215,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":99,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Apt 4B","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":"111111111","branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"3453","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438331,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":true,"yearFounded":1999,"businessRegistered":"NY","farmRegistered":null,"stateOfFormation":"NY","franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-10-06","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"12345","crmIdentifier":"66754","isMailingAddressDifferent":false}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "UpdateCustomers"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Deletes a customer by id",
        "operationId": "Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "id of the existing customer to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "The customer has been deleted successfully."
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "DeleteCustomers"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets a customer by id",
        "operationId": "GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "id of the customer to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeUserDefinedFields",
            "description": "Include User Defined fields in the response",
            "type": "boolean",
            "default": false,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the customer with the specified id",
            "schema": {
              "$ref": "#/definitions/Customer"
            },
            "examples": {
              "application/json": {"id":4513215,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":99,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Apt 4B","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":"111111111","branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"3453","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438331,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":true,"yearFounded":1999,"businessRegistered":"NY","farmRegistered":null,"stateOfFormation":"NY","franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-10-06","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"12345","crmIdentifier":"66754","isMailingAddressDifferent":false}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadCustomers"
            ]
          }
        ]
      }
    },
    "/v1/customers/crm-identifier/{crmIdentifier}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets a customer by crm identifier",
        "operationId": "GetByCrmIdentifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "crmIdentifier",
            "description": "crm identifier of the customer to get",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the customer with the specified crm identifier",
            "schema": {
              "$ref": "#/definitions/Customer"
            },
            "examples": {
              "application/json": {"id":4513215,"name":"Example, LLC","dba":"Example Doing Business As","firstName":null,"middleInitial":null,"lastName":null,"nameSuffix":null,"userDefinedFields":{"User Defined Field 1":"Value 1","User Defined Field 2":"Value 2"},"creditScore":98,"secondaryCreditScore":99,"businessType":"llc","dnbScore":"567","namePrefix":null,"jobTitle":null,"addresses":[{"line1":"123 Main St","line2":"Apt 4B","city":"Example City","state":"NY","postalCode":"00101","country":"US","addressType":"primary"}],"phoneNumbers":[{"type":"primary","number":"(999)999-9999"}],"type":"business","emailAddress":"test@sageworks.com","industryCode":"99999","isDeleted":false,"uniqueIdentifier":"785654","taxId":"111111111","branch":null,"department":null,"website":null,"description":null,"restricted":false,"checkingBalance":15000.0,"savingsBalance":100000.0,"cDsBalance":50000.0,"averageChecking":14500.0,"averageSavings":125000.0,"averageCDs":60000.0,"citizenshipStatus":null,"maritalStatus":null,"isActiveMiltaryDuty":null,"isDependentOfActiveMiltaryDuty":null,"civDescription":null,"employer":null,"numberOfYearsEmployed":0.0,"ofacDesignation":null,"dateOfBirth":null,"idDescription":null,"idNumber":null,"idIssueDate":null,"idExpirationDate":null,"idIssuingAuthority":null,"idState":null,"comments":null,"msa":16980,"stateCode":12,"countyCode":"123","tractCode":"3453","longitude":-87.656376,"latitude":41.94763,"medianHouseholdIncome":107250.0,"metropolitanDivision":"Chicago-Naperville-Evanston, IL","metropolitanDivisionCode":"1234242","loanOfficer":null,"loanOfficerId":438331,"loanAdministrator":null,"equifaxCreditScore":null,"equifaxCreditScoreDate":null,"experianCreditScore":null,"experianCreditScoreDate":null,"transunionCreditScore":null,"transunionCreditScoreDate":null,"ficoSbssCreditScore":450,"ficoSbssCreditScoreDate":"2019-06-09","bankruptcies":null,"dateOfLastBankruptcy":null,"historical30DayDelinquencies":null,"historical60DayDelinquencies":null,"historical90DayDelinquencies":null,"historicalOtherDelinquencies":null,"currentMortgagePastDue":null,"currentInstallmentPastDue":null,"currentAutoPastDue":null,"currentEducationPastDue":null,"currentOpenPastDue":null,"currentRevolvingPastDue":null,"currentOtherPastDue":null,"currentTotalPastDue":null,"entryMethod":"operatingCompany","professionalLLC":true,"yearFounded":1999,"businessRegistered":"NY","farmRegistered":null,"stateOfFormation":"NY","franchiseName":"Franchise #1","franchiseLegalName":"#1 Franchise","franchiseStartDate":1999,"sbaCode":"123","cityHQ":"Chicago","stateHQ":"IL","franchiseDataImportDate":"2019-09-06","franchiseDataFinancialPeriod":2019,"historicalSuccessRate":130,"systemSupportAndExpenseCommitment":75,"resaleActivityLevel":25,"mngmtExperienceStability":35,"averageUnitRevenueGrowth":60,"prospectScreening":30,"unitEconomics":70,"franchiseAgreementAssessment":15,"franchiseeRelationship":30,"projectedUnitSuccess":200,"recurringRevenueSelfSufficiency":50,"totalFundScore":750,"finStatementStrength":25,"franchisedUnits":100,"minInitial":258625,"maxInitial":1609500,"avgInitial":602350,"companyOwnedUnits":53,"projectedOpenings":12,"compoundAnnualUnitGrowthRate":91.0,"compoundedUnitSuccessRate":0.96,"experianDBT":5,"equifaxDBT":null,"dbdbt":null,"dbPaydex":null,"ansoniaCreditRating":"3071K-8","ansoniaRiskScore":95,"creditLogicScore":58,"dbViabilityRating":"","lastReportRun":"2019-10-06","bankruptciesCount":0,"collectionsCount":0,"judgmentsCount":0,"chargeOffsCount":0,"liensCount":0,"nsfChecksCount":0,"dataDepthScore":0,"underFormation":null,"dateBusinessEstablished":null,"loanBoardingIdentifier":"12345","crmIdentifier":"66754","isMailingAddressDifferent":false}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadCustomers"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets all portfolio loans",
        "operationId": "GetPaged",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "customerId",
            "description": "CustomerId value to filter by",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "loanNumber",
            "description": "Loan Number to filter by",
            "type": "string"
          },
          {
            "in": "query",
            "name": "loanAmountStart",
            "description": "The start of the loan amount to be used when doing a loan amount range query. This amount is inclusive.",
            "type": "number",
            "format": "double",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "loanAmountEnd",
            "description": "The end of the loan amount to be used when doing a loan amount range query. This amount is inclusive.",
            "type": "number",
            "format": "double",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "paymentType",
            "description": "Payment Type for the loan",
            "type": "string",
            "enum": [
              "fixedPayment",
              "fixedPrincipal",
              "lineOfCredit",
              "revolvingLineOfCredit",
              "interestOnly",
              "fixedPaymentBalloon",
              "fixedPrincipalBalloon",
              "singlePaymentBalloon",
              "principalOnly",
              "other",
              "noPayment"
            ],
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "loanTermStart",
            "description": "The start of the loan term to be used when doing a loan term range query (# of periods determined by payment frequency).",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "loanTermEnd",
            "description": "The end of the loan term to be used when doing a loan term range query (# of periods determined by payment frequency).",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "indexRateDescription",
            "description": "Index Rate Description for the proposed loan",
            "type": "string"
          },
          {
            "in": "query",
            "name": "excludeLoansForDeletedCustomers",
            "description": "Set to true to ensure the proposed loans returned are not linked to deleted primary borrowers",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "includeUserDefinedFields",
            "description": "Include User Defined fields in the response",
            "type": "boolean",
            "default": false,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all current, existing, and active portfolio loans in the account",
            "schema": {
              "$ref": "#/definitions/CollectionResponse[PortfolioLoan]"
            },
            "examples": {
              "application/json": [{"id":1299967899,"loanNumber":"100041235","name":"Loan Name","customerId":1201567899,"currentBalance":573000.32,"unamortizedPremium":1312.0,"bookBalance":573000.32,"riskRating":4,"paymentAmount":5523.0,"paymentFrequency":"monthly","paymentType":"fixedPayment","loanOfficerId":123456789,"interestRate":0.097,"floorRate":0.03,"ceilingRate":0.25,"indexRateDescription":"FHLBChicago","spread":0.02,"indexRate":0.02,"callCode":"1a","collateralCode":"Office Building","loanTypeCode":"Real Estate - Owner Occupied","productCode":"Real Estate","purposeCode":"110","industryCode":"110210","nonAccrual":false,"nonAccrualDate":null,"troubledDebtRestructure":false,"troubledDebtRestructureDate":null,"defaultStartDate":"2017-04-18","adjustableInterestRate":true,"timesPastDue3060":1,"timesPastDue6090":0,"timesPastDue90Plus":1,"daysCurrentlyPastDue":5,"chargedOffAmount":418.92,"amountPastDue":615.91,"prepaymentPenalty":false,"remainingTermInMonths":60,"dayCountConvention":"c_30_360","amortizedOver":null,"currentAvailableCredit":0.0,"maturityDate":"2030-12-15","netDeferredFeesOrCosts":1200.0,"totalFees":500.0,"expectedUtilizationRate":0.25,"upfrontFee":100.0,"annualFee":100.0,"unusedCommitmentFee":100.0,"originationExpenses":300.0,"overheadExpenses":200.0,"servicingExpenses":200.0,"accruedInterest":274.23,"originalLoanAmount":1250000.0,"originationDate":"2007-01-31","originalTermInMonths":60,"renewalDate":"2017-12-15","governmentGuaranteed":false,"governmentGuaranteedPercent":null,"governmentGuaranteedBalance":null,"watchList":false,"points":0.0,"refinance":false,"latestPaymentDate":"2025-11-25","loanToValueRatio":0.754,"isDeleted":false,"isGuidanceLineOfCredit":null,"bankCodeBranch":null,"accountType":null,"parentLoansId":null,"withheldAmount":null,"institutionAvailableCredit":null,"institutionWithheld":null,"userDefinedString1":"Commercial","userDefinedString2":"Fixed Rate","userDefinedString3":"","userDefinedString4":"","userDefinedString5":"","userDefinedString6":"","userDefinedString7":"Another User Defined Value","userDefinedString8":"","userDefinedString9":"","userDefinedString10":"","userDefinedString11":"","userDefinedString12":"","userDefinedString13":"","userDefinedString14":"","userDefinedString15":"","userDefinedString16":"","userDefinedString17":"","userDefinedString18":"","userDefinedString19":"","userDefinedString20":"","userDefinedNumber1":13.77,"userDefinedNumber2":1044.0,"userDefinedNumber3":0.0045,"userDefinedNumber4":7.0,"userDefinedNumber5":7.0,"userDefinedNumber6":7.0,"userDefinedNumber7":7.0,"userDefinedNumber8":7.0,"userDefinedNumber9":7.0,"userDefinedNumber10":7.0,"userDefinedNumber11":7.0,"userDefinedNumber12":7.0,"userDefinedNumber13":7.0,"userDefinedNumber14":7.0,"userDefinedNumber15":7.0,"userDefinedNumber16":7.0,"userDefinedNumber17":7.0,"userDefinedNumber18":7.0,"userDefinedNumber19":7.0,"userDefinedNumber20":7.0,"userDefinedDate1":"2025-12-25","userDefinedDate2":"2025-12-24","userDefinedDate3":null,"userDefinedDate4":null,"userDefinedDate5":null,"userDefinedDate6":null,"userDefinedDate7":null,"userDefinedDate8":null,"userDefinedDate9":null,"userDefinedDate10":null,"userDefinedFields":null,"riskRatingId":null,"comments":null,"lossGivenDefaultRiskRating":null,"probabilityOfDefaultRiskRating":null},{"id":1299964568,"loanNumber":"708041235","name":"Loan Name","customerId":1201577899,"currentBalance":1570023.47,"unamortizedPremium":2110.0,"bookBalance":1570023.47,"riskRating":4,"paymentAmount":15649.0,"paymentFrequency":"annual","paymentType":"singlePaymentBalloon","loanOfficerId":123456789,"interestRate":0.119,"floorRate":0.03,"ceilingRate":0.25,"indexRateDescription":"FHLBBoston","spread":0.02,"indexRate":0.02,"callCode":"1e1","collateralCode":"Office Building","loanTypeCode":"Real Estate - Owner Occupied","productCode":"Real Estate","purposeCode":"220","industryCode":"100200","nonAccrual":false,"nonAccrualDate":null,"troubledDebtRestructure":true,"troubledDebtRestructureDate":null,"defaultStartDate":"2017-04-18","adjustableInterestRate":true,"timesPastDue3060":1,"timesPastDue6090":0,"timesPastDue90Plus":1,"daysCurrentlyPastDue":4,"chargedOffAmount":418.92,"amountPastDue":615.91,"prepaymentPenalty":false,"remainingTermInMonths":19,"dayCountConvention":"c_30_365","amortizedOver":null,"currentAvailableCredit":100000.0,"maturityDate":"2038-02-01","netDeferredFeesOrCosts":1200.0,"totalFees":500.0,"expectedUtilizationRate":0.25,"upfrontFee":100.0,"annualFee":100.0,"unusedCommitmentFee":100.0,"originationExpenses":200.0,"overheadExpenses":200.0,"servicingExpenses":200.0,"accruedInterest":274.23,"originalLoanAmount":1950000.0,"originationDate":"2002-05-31","originalTermInMonths":60,"renewalDate":"2015-07-12","governmentGuaranteed":false,"governmentGuaranteedPercent":null,"governmentGuaranteedBalance":null,"watchList":false,"points":0.0,"refinance":false,"latestPaymentDate":"2025-07-25","loanToValueRatio":0.754,"isDeleted":false,"isGuidanceLineOfCredit":null,"bankCodeBranch":null,"accountType":null,"parentLoansId":null,"withheldAmount":null,"institutionAvailableCredit":null,"institutionWithheld":null,"userDefinedString1":"Commercial","userDefinedString2":"Fixed Rate","userDefinedString3":"","userDefinedString4":"","userDefinedString5":"","userDefinedString6":"","userDefinedString7":"Another User Defined Value","userDefinedString8":"","userDefinedString9":"","userDefinedString10":"","userDefinedString11":"","userDefinedString12":"","userDefinedString13":"","userDefinedString14":"","userDefinedString15":"","userDefinedString16":"","userDefinedString17":"","userDefinedString18":"","userDefinedString19":"","userDefinedString20":"","userDefinedNumber1":13.77,"userDefinedNumber2":1044.0,"userDefinedNumber3":0.0045,"userDefinedNumber4":7.0,"userDefinedNumber5":7.0,"userDefinedNumber6":7.0,"userDefinedNumber7":7.0,"userDefinedNumber8":7.0,"userDefinedNumber9":7.0,"userDefinedNumber10":7.0,"userDefinedNumber11":7.0,"userDefinedNumber12":7.0,"userDefinedNumber13":7.0,"userDefinedNumber14":7.0,"userDefinedNumber15":7.0,"userDefinedNumber16":7.0,"userDefinedNumber17":7.0,"userDefinedNumber18":7.0,"userDefinedNumber19":7.0,"userDefinedNumber20":7.0,"userDefinedDate1":"2025-12-25","userDefinedDate2":"2025-12-24","userDefinedDate3":null,"userDefinedDate4":null,"userDefinedDate5":null,"userDefinedDate6":null,"userDefinedDate7":null,"userDefinedDate8":null,"userDefinedDate9":null,"userDefinedDate10":null,"userDefinedFields":null,"riskRatingId":null,"comments":null,"lossGivenDefaultRiskRating":null,"probabilityOfDefaultRiskRating":null}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Creates a portfolio loan",
        "operationId": "Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The portfolio loan to create",
            "schema": {
              "$ref": "#/definitions/PortfolioLoan"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The portfolio loan has been created successfully. The portfolio loan\r\n            that was created is returned and has the Sageworks id that was assigned.",
            "schema": {
              "$ref": "#/definitions/PortfolioLoan"
            },
            "examples": {
              "application/json": {"id":1299967899,"loanNumber":"100041235","name":"Loan Name","customerId":1201567899,"currentBalance":573000.32,"unamortizedPremium":1312.0,"bookBalance":573000.32,"riskRating":4,"paymentAmount":5523.0,"paymentFrequency":"monthly","paymentType":"fixedPayment","loanOfficerId":123456789,"interestRate":0.097,"floorRate":0.03,"ceilingRate":0.25,"indexRateDescription":"FHLBDallas","spread":0.02,"indexRate":0.02,"callCode":"1a","collateralCode":"Office Building","loanTypeCode":"Real Estate - Owner Occupied","productCode":"Real Estate","purposeCode":"110","industryCode":"110210","nonAccrual":false,"nonAccrualDate":null,"troubledDebtRestructure":false,"troubledDebtRestructureDate":null,"defaultStartDate":"2017-04-18","adjustableInterestRate":true,"timesPastDue3060":1,"timesPastDue6090":0,"timesPastDue90Plus":1,"daysCurrentlyPastDue":2,"chargedOffAmount":418.92,"amountPastDue":615.91,"prepaymentPenalty":false,"remainingTermInMonths":60,"dayCountConvention":"c_30_360","amortizedOver":null,"currentAvailableCredit":0.0,"maturityDate":"2030-12-15","netDeferredFeesOrCosts":1200.0,"totalFees":500.0,"expectedUtilizationRate":0.25,"upfrontFee":100.0,"annualFee":100.0,"unusedCommitmentFee":100.0,"originationExpenses":200.0,"overheadExpenses":200.0,"servicingExpenses":200.0,"accruedInterest":274.23,"originalLoanAmount":1250000.0,"originationDate":"2007-01-31","originalTermInMonths":60,"renewalDate":"2017-12-15","governmentGuaranteed":false,"governmentGuaranteedPercent":null,"governmentGuaranteedBalance":null,"watchList":false,"points":0.0,"refinance":false,"latestPaymentDate":"2025-11-25","loanToValueRatio":0.754,"isDeleted":false,"isGuidanceLineOfCredit":true,"bankCodeBranch":null,"accountType":null,"parentLoansId":null,"withheldAmount":0.0,"institutionAvailableCredit":0.0,"institutionWithheld":0.0,"userDefinedString1":"Commercial","userDefinedString2":"Fixed Rate","userDefinedString3":"","userDefinedString4":"","userDefinedString5":"","userDefinedString6":"","userDefinedString7":"Another User Defined Value","userDefinedString8":"","userDefinedString9":"","userDefinedString10":"","userDefinedString11":"","userDefinedString12":"","userDefinedString13":"","userDefinedString14":"","userDefinedString15":"","userDefinedString16":"","userDefinedString17":"","userDefinedString18":"","userDefinedString19":"","userDefinedString20":"","userDefinedNumber1":13.77,"userDefinedNumber2":1044.0,"userDefinedNumber3":0.0045,"userDefinedNumber4":7.0,"userDefinedNumber5":7.0,"userDefinedNumber6":7.0,"userDefinedNumber7":7.0,"userDefinedNumber8":7.0,"userDefinedNumber9":7.0,"userDefinedNumber10":7.0,"userDefinedNumber11":7.0,"userDefinedNumber12":7.0,"userDefinedNumber13":7.0,"userDefinedNumber14":7.0,"userDefinedNumber15":7.0,"userDefinedNumber16":7.0,"userDefinedNumber17":7.0,"userDefinedNumber18":7.0,"userDefinedNumber19":7.0,"userDefinedNumber20":7.0,"userDefinedDate1":"2025-12-25","userDefinedDate2":"2025-12-24","userDefinedDate3":null,"userDefinedDate4":null,"userDefinedDate5":null,"userDefinedDate6":null,"userDefinedDate7":null,"userDefinedDate8":null,"userDefinedDate9":null,"userDefinedDate10":null,"userDefinedFields":null,"riskRatingId":null,"comments":"Comments","lossGivenDefaultRiskRating":"PASS","probabilityOfDefaultRiskRating":1.0}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "CreatePortfolioLoans"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans/basic-information": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets all portfolio loans basic information",
        "operationId": "GetPagedBasicInformation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets basic information for all current, existing, and active portfolio loans in the account",
            "schema": {
              "$ref": "#/definitions/CollectionResponse[PortfolioLoanBasicInformation]"
            },
            "examples": {
              "application/json": [{"id":1299967899,"customerId":1201567899,"loanNumber":"100041235","currentBalance":573000.32},{"id":1299964568,"customerId":1201567899,"loanNumber":"708041235","currentBalance":1570023.47}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans/summary-information": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets all portfolio loans summary information.",
        "operationId": "GetPagedSummaryInformation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "customerId",
            "description": "CustomerId value to filter by",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "loanNumber",
            "description": "Loan Number to filter by",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets summary information for all current, existing, and active portfolio loans in the account",
            "schema": {
              "$ref": "#/definitions/PagedCollectionResponse[PortfolioLoanSummaryInformation]"
            },
            "examples": {
              "application/json": [{"id":1299967899,"customerId":1201567899,"loanNumber":"100041235","currentBalance":573000.32,"borrowerName":"Person Borrower","currentAvailableCredit":12087094.0,"paymentType":"lineOfCredit","riskRating":5,"watchList":true,"bankCustomerProfitEntitiesID":444555666},{"id":1299964568,"customerId":1201567899,"loanNumber":"708041235","currentBalance":1570023.47,"borrowerName":"Company Borrower","currentAvailableCredit":19975016.0,"paymentType":"fixedPayment","riskRating":1,"watchList":false,"bankCustomerProfitEntitiesID":444555666}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans/past-due-loans": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets all past due portfolio loans basic information",
        "operationId": "GetPastDueLoans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "requireUserIsLoanOfficer",
            "description": "True if we should filter only to loans where the current user is loan officer",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets basic information for all existing portfolio loans that are past due",
            "schema": {
              "$ref": "#/definitions/PagedCollectionResponse[LosLiteLoanSummaryInformation]"
            },
            "examples": {
              "application/json": [{"id":1299967899,"loanNumber":"100041235","customerId":1201567899,"borrowerName":"Person Borrower","productCode":"Product 1","loanOfficer":"Loan Officer 1","daysCurrentlyPastDue":5,"paymentAmount":500.00,"paymentFrequency":"monthly","currentBalance":573000.32,"originalBalance":1000000.0,"maturityDate":"01/01/2023"},{"id":1299964568,"loanNumber":"708041235","customerId":1201567899,"borrowerName":"Company Borrower","productCode":"Product 1","loanOfficer":"Loan Officer 1","daysCurrentlyPastDue":5,"paymentAmount":500.00,"paymentFrequency":"monthly","currentBalance":573000.32,"originalBalance":1000000.0,"maturityDate":"01/01/2023"}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans/maturing-loans": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets all maturing portfolio loans basic information",
        "operationId": "GetMaturingLoans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number of results to retrieve (first page = 1, default = 1)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of records to return on each page (minimum = 1, maximum = 1000, default = 200)",
            "type": "integer",
            "format": "int32",
            "x-nullable": true
          },
          {
            "in": "query",
            "name": "maturingWithinDays",
            "description": "How many days to check for maturing loans",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "requireUserIsLoanOfficer",
            "description": "True if we should filter only to loans where the current user is loan officer",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets basic information for all existing portfolio loans that are maturing within 30 days",
            "schema": {
              "$ref": "#/definitions/PagedCollectionResponse[LosLiteLoanSummaryInformation]"
            },
            "examples": {
              "application/json": [{"id":1299967899,"loanNumber":"100041235","customerId":1201567899,"borrowerName":"Person Borrower","productCode":"Product 1","loanOfficer":"Loan Officer 1","daysCurrentlyPastDue":5,"paymentAmount":500.00,"paymentFrequency":"monthly","currentBalance":573000.32,"originalBalance":1000000.0,"maturityDate":"01/01/2023"},{"id":1299964568,"loanNumber":"708041235","customerId":1201567899,"borrowerName":"Company Borrower","productCode":"Product 1","loanOfficer":"Loan Officer 1","daysCurrentlyPastDue":5,"paymentAmount":500.00,"paymentFrequency":"monthly","currentBalance":573000.32,"originalBalance":1000000.0,"maturityDate":"01/01/2023"}]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      }
    },
    "/v1/portfolio-loans/{id}": {
      "get": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Gets a portfolio loan by id",
        "operationId": "GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "id of the portfolio loan to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeUserDefinedFields",
            "description": "Include User Defined fields in the response",
            "type": "boolean",
            "default": false,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the portfolio loan with the specified id",
            "schema": {
              "$ref": "#/definitions/PortfolioLoan"
            },
            "examples": {
              "application/json": {"id":1299967899,"loanNumber":"100041235","name":"Loan Name","customerId":1201567899,"currentBalance":573000.32,"unamortizedPremium":1312.0,"bookBalance":573000.32,"riskRating":4,"paymentAmount":5523.0,"paymentFrequency":"monthly","paymentType":"fixedPayment","loanOfficerId":123456789,"interestRate":0.097,"floorRate":0.03,"ceilingRate":0.25,"indexRateDescription":"FHLBDallas","spread":0.02,"indexRate":0.02,"callCode":"1a","collateralCode":"Office Building","loanTypeCode":"Real Estate - Owner Occupied","productCode":"Real Estate","purposeCode":"110","industryCode":"110210","nonAccrual":false,"nonAccrualDate":null,"troubledDebtRestructure":false,"troubledDebtRestructureDate":null,"defaultStartDate":"2017-04-18","adjustableInterestRate":true,"timesPastDue3060":1,"timesPastDue6090":0,"timesPastDue90Plus":1,"daysCurrentlyPastDue":5,"chargedOffAmount":418.92,"amountPastDue":615.91,"prepaymentPenalty":false,"remainingTermInMonths":60,"dayCountConvention":"c_30_360","amortizedOver":null,"currentAvailableCredit":0.0,"maturityDate":"2030-12-15","netDeferredFeesOrCosts":1200.0,"totalFees":500.0,"expectedUtilizationRate":0.25,"upfrontFee":100.0,"annualFee":100.0,"unusedCommitmentFee":100.0,"originationExpenses":200.0,"overheadExpenses":200.0,"servicingExpenses":200.0,"accruedInterest":274.23,"originalLoanAmount":1250000.0,"originationDate":"2007-01-31","originalTermInMonths":60,"renewalDate":"2017-12-15","governmentGuaranteed":false,"governmentGuaranteedPercent":null,"governmentGuaranteedBalance":null,"watchList":false,"points":0.0,"refinance":false,"latestPaymentDate":"2025-11-25","loanToValueRatio":0.754,"isDeleted":false,"isGuidanceLineOfCredit":true,"bankCodeBranch":null,"accountType":null,"parentLoansId":null,"withheldAmount":0.0,"institutionAvailableCredit":0.0,"institutionWithheld":0.0,"userDefinedString1":"Commercial","userDefinedString2":"Fixed Rate","userDefinedString3":"","userDefinedString4":"","userDefinedString5":"","userDefinedString6":"","userDefinedString7":"Another User Defined Value","userDefinedString8":"","userDefinedString9":"","userDefinedString10":"","userDefinedString11":"","userDefinedString12":"","userDefinedString13":"","userDefinedString14":"","userDefinedString15":"","userDefinedString16":"","userDefinedString17":"","userDefinedString18":"","userDefinedString19":"","userDefinedString20":"","userDefinedNumber1":13.77,"userDefinedNumber2":1044.0,"userDefinedNumber3":0.0045,"userDefinedNumber4":7.0,"userDefinedNumber5":7.0,"userDefinedNumber6":7.0,"userDefinedNumber7":7.0,"userDefinedNumber8":7.0,"userDefinedNumber9":7.0,"userDefinedNumber10":7.0,"userDefinedNumber11":7.0,"userDefinedNumber12":7.0,"userDefinedNumber13":7.0,"userDefinedNumber14":7.0,"userDefinedNumber15":7.0,"userDefinedNumber16":7.0,"userDefinedNumber17":7.0,"userDefinedNumber18":7.0,"userDefinedNumber19":7.0,"userDefinedNumber20":7.0,"userDefinedDate1":"2025-12-25","userDefinedDate2":"2025-12-24","userDefinedDate3":null,"userDefinedDate4":null,"userDefinedDate5":null,"userDefinedDate6":null,"userDefinedDate7":null,"userDefinedDate8":null,"userDefinedDate9":null,"userDefinedDate10":null,"userDefinedFields":null,"riskRatingId":null,"comments":"Comments","lossGivenDefaultRiskRating":"PASS","probabilityOfDefaultRiskRating":1.0}
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              null,
              "ReadPortfolioLoans"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Portfolio Loans"
        ],
        "summary": "Updates a loan",
        "operationId": "Update",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "id of the existing loan to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The loan values to update",
            "schema": {
              "$ref": "#/definitions/PortfolioLoan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the modified loan",
            "schema": {
              "$ref": "#/definitions/PortfolioLoan"
            },
            "examples": {
[...]
