@import "src/assets/scss/custom/variables";


.dropdown-menu {
  &::before {
    background-color: transparent;
  }

  left:7rem !important;
}

.id-text-height {

  color: $body;
  display: flex;
  gap: .5rem;
}

.dropdown-item:hover {
  background: $grayCard;

}

.caret {
  color: $resetCase;
}

.chevron {
  color: $body;
}

.non-locally-relative {
  position: unset !important;
}

.dropdown-menu-margin-top {
  margin-top: -12px !important;
}

.copy-icon {

  svg {
    width: 15px;
    height: 15px;
    fill: $body;
  }

}

.caret-dropdown {
  fill: $placeholder;

  svg {
    height: 11px;
    width: 11px;
  }

  cursor:pointer;

}

.chevron-dropdown {
  cursor: pointer;
}

.small-mat-icon {
  height: 20px;
  width: 20px;
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
}
