<div
  class="d-flex flex-row-reverse align-items-center trial-count-down-container"
>
  {{ countDownText === undefined ? 'Trail expired'  :  countDownText + ' Free Trial'}}
  <div class="spinners">
    <mat-spinner
      diameter="25"
      [value]="_expirationValue"
      mode="determinate"
      class="trial-progress-actual"
    ></mat-spinner>
    <mat-spinner
      diameter="25"
      [value]="100"
      mode="determinate"
      class="trial-progress-background"
    ></mat-spinner>
  </div>
</div>
