<form
  [formGroup]="pieceForm"
  [class.ng-submitted]="submitted"
  (ngSubmit)="createPiece()"
>
  <div class="modal-header">
    <h5 class="modal-title pull-left">New Piece</h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden close-custom"
        >&times;</span
      >
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name (can NOT be changed later)</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="piece name"
        formControlName="name"
      />
      <div
        @fadeInUp
        *ngIf="
          submitted && (this.pieceForm.controls['name'].invalid || nameExists)
        "
      >
        <p
          class="invalid-input"
          *ngIf="
            submitted && this.pieceForm.controls['name'].hasError('required')
          "
        >
          Name is required
        </p>
        <p
          class="invalid-input"
          *ngIf="
            submitted && this.pieceForm.controls['name'].hasError('pattern')
          "
        >
          Name must only consists of a-z, 0-9, underscores
        </p>
        <p class="invalid-input" *ngIf="submitted && nameExists">
          Name is already exists
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <app-button
    btnColor="basic"
    btnStyle="basic"
    (buttonClicked)="modalRef?.hide()"
  > Cancel
  </app-button>

    <app-button
      type="submit"
      [loading]="loading"
      btnColor="primary"
    >Create</app-button>
  </div>
</form>
