<ng-template #template>
  <div class="deploy-container">
    <div [ngSwitch]="step">
      <app-select-deployment-environment
        *ngSwitchCase="DeployModalStep.SELECT_ENVIRONMENT"
        (nextClicked)="nextStep($event)"
        [collection]="collection"
        (cancelClicked)="closeModal()"
        [loading]="createInstance$ !==undefined "
      ></app-select-deployment-environment>
      <app-deploy-step-global-config
        *ngSwitchCase="DeployModalStep.COLLECTION_CONFIGS"
        [collectionVersion]="
          deploymentDetailsByStep.get(DeployModalStep.SELECT_ENVIRONMENT)!
            .collectionVersion
        "
        [loading]="createInstance$ !==undefined "
        (nextClicked)="nextStep($event)"
        (cancelClicked)="closeModal()"
      ></app-deploy-step-global-config>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="onHidden$|async"></ng-container>
<ng-container *ngIf="createInstance$ |async"></ng-container>

<app-button
btnColor="primary"
btnStyle="basic"
btnSize="medium"
(click)="openModal(template); $event.stopPropagation()"
>   Deploy
</app-button>
