<div class="email-confirmation-container">
  <div class="auth-form-title">Check your Inbox</div>

  <div style="text-align: center;" class="mb-4">
    <img class="m-auto" src="/assets/img/custom/mail_sent.png">
  </div>
  <div class="px-2 pb-4 text-center">
    We sent you a link a link to {{linkName}}, Check your email <strong>{{email}}</strong>
  </div>
  <div class="card-footer ">
    <span>Didn't receive an email? <a [hidden]="loading" class="text-link"
                                      (click)="emailResetPressed.emit(true)">Resend</a></span>
    <span [hidden]="!loading" class="text-disable">Resending</span>
  </div>
</div>
