@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can add global styles to this file, and also import other style files */


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 257 74% 57%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.75rem;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --destructive-100: 0 84.2% 90%;
        --destructive-300: 0 84.2% 40%;

        --success: 148 48% 46%;
        --success-100: 148 48% 90%;
        --success-300: 148 48% 40%;
        --success-foreground: 210 20% 98;
        --success-foreground-100: 210 20% 90%;
        --success-foreground-300: 210 20% 70%;

        --warning: 38 92% 50%;
        --warning-foreground: 48 96% 89%;
        --warning-foreground-100: 48 96% 80%;
        --warning-foreground-300: 48 96% 70%;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 257 74% 57%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --destructive-100: 0 62.8% 20%;
        --destructive-300: 0 62.8% 60%;

        --success: 166 97% 14%;
        --success-100: 166 97% 20%;
        --success-300: 166 97% 60%;
        --success-foreground: 210 20% 98%;
        --success-foreground-100: 210 20% 90%;
        --success-foreground-300: 210 20% 70%;

        --warning: 48 96% 89%;
        --warning-foreground: 38 92% 50%;
        --warning-foreground-100: 38 96% 80%;
        --warning-foreground-300: 38 96% 70%;
    }
}



@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }


}