<form [formGroup]="testCodeForm">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Test Code</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true" class="visually-hidden close-custom">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="context">Code Input (JSON)</label>
      <p class="text-sm">Pass the following object in the first parameter of the function:</p>
      <ngx-codemirror id="context"
                      formControlName="context"
                      [options]="editorOptions"
      ></ngx-codemirror>
      <p class="text-sm mt-2">Remember that you are testing the code independently of the flow, and this object will only live for the period of this testing session.</p>
      <div @fadeInUp  *ngIf="submitted && testCodeForm.get('context')!.invalid" >
        <p *ngIf="testCodeForm.get('context')!.hasError('required');else invalidJson" class="invalid-input">
          Context is required
        </p>
        <ng-template #invalidJson>
          <p  class="invalid-input">
            Context is not a valid JSON object, please use double quotations.
          </p>
        </ng-template>


      </div>
    </div>
  </div>
  <div class="modal-footer">

    <app-button
    btnColor="basic"
    btnStyle="basic"
    (buttonClicked)="hide()"
  > Cancel
  </app-button>



    <app-button type="submit" btnColor="primary"    (buttonClicked)="submitContext()" >Test</app-button>
  </div>
</form>
