@import "src/assets/scss/variables.scss";

.items-top {
  flex: 1 1 auto;
}
.items-bottom {
  flex: 0 1 auto;
  margin-bottom: 1.75rem;
}

.sd-icon-container {
  padding: 0.375rem;
  margin: auto;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 400ms cubic-bezier(0.35, 0, 0.25, 1);
}

.sd-icon-container-hover {
  background: darken($sidebar, 4%);
}

.submenu-item {
  cursor: pointer;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.sd-icon-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  cursor: pointer;
}

.sd-icon {
  text-align: center;
}
.sd-icon-text {
  text-align: center;
  margin-top: 0.375rem;
  font-size: 0.625rem;
  color: $formLabel;
}

.sd-icon-text-clicked {
  color: $title;
  font-weight: 500;
}

.dashboard-side-bar {
  position: sticky;
  top: 0px;
  height: 100vh;
}

.sub-menu {
  display: flex;
  flex-direction: column;
}

.support-icon-wrapper {
  padding: 1rem 1.25rem;
}

.support-icon-circle {
  background-color: $primary;
  border-radius: 50%;
  height: 23px;
  min-width: 23px;
}

.support-icon-container {
  min-height: 40px;
}

.support-icon {
  margin-top: -1px;
}
.disabled-icon {
  cursor: auto;
}

.home-icon {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
