<div class="variable-container mb-3">
  <div class="info-container text-break" *ngIf="variable">
    <div>{{variable.label}}</div>
    <div class="text-description">Key: {{variable.key}}</div>
    <div class="text-description">Type: {{variable.type}}</div>
    <div class="text-description">Hint: {{variable.hintText}}</div>
  </div>
  <app-icon-button [hidden]="viewMode" [color]="themeService.BODY_COLOR"
                   (click)="deleteEvent.emit(); $event.stopPropagation();"
  [hoverColor]="themeService.DANGER_COLOR" [iconFilename]="'trash.svg'"></app-icon-button>
</div>
