@import 'src/assets/scss/variables';

.code-container {
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 1px $dividers;
  border-radius: 4px;
}

.code-area {
  background: $white;
  border: 1px solid $dividers;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
}
