<div class="tabs d-flex justify-content-center align-items-center">
  <div [class.display-none]="readOnlyMode$ | async | defaultTrue"
    class="bottom-border add-flow-btn d-flex justify-content-center align-items-center" #addFlowBtn>
    <svg-icon  src="assets/img/custom/plus.svg"    [svgStyle]="{ 'width.px':15, 'height.px':15, 'fill':themeService.BODY_COLOR}">
    </svg-icon>
  </div>

  <div class="scroll-arrow bottom-border d-flex justify-content-center align-items-center"
    *ngIf="shouldShowLeftArrow(tabsContainer)" (click)="scrollFlowTabsLeft(tabsContainer)">
    <svg-icon src="assets/img/custom/right-chevron.svg" class="rotate-180"></svg-icon>
  </div>
  <div class="white-gradient-left" *ngIf="shouldShowLeftArrow(tabsContainer)"></div>
  <div class="d-flex overflow-x-auto tabs-container" #tabsContainer>
    <span *ngFor="let flow of flows$ | async; let last = last; let index = index" class="tab-link"
      [class.active]="(selectedFlowId$ | async) === flow.id"
      [class.bottom-border]="!((selectedFlowId$ | async) === flow.id)" #flowSpan>
      <app-flow-builder-tab [flow]="flow" [readonlyMode]="readOnlyMode$ | async | defaultTrue"
        (switchToFlow)="changeSelectedFlow(flow); scrollToFlowTab(index)"
        [tabSelected]="!!(selectedFlowId$ | async) === flow.id"></app-flow-builder-tab>
    </span>
  </div>
  <div class="white-gradient-right" *ngIf="shouldShowRightArrow(tabsContainer)"></div>
  <div class="scroll-arrow bottom-border d-flex justify-content-center align-items-center"
    *ngIf="shouldShowRightArrow(tabsContainer)" (click)="scrollFlowTabsRight(tabsContainer)">
    <svg-icon src="assets/img/custom/right-chevron.svg"></svg-icon>
  </div>
  <div class="flex-grow-1 bottom-border spacer"></div>
  <div class="d-flex justify-content-center align-items-center flow-actions-buttons-section bottom-border">

    <app-button [hidden]="!(isFlowSelected$ | async | defaultFalse)" (buttonClicked)="configsClicked()" btnStyle="basic"
      btnColor="basic" btnSize="medium">
      Configs
    </app-button>
    <app-test-flow-modal [hidden]="
        !(isFlowSelected$ | async | defaultFalse) ||
        (viewMode$ | async) === viewMode.VIEW_INSTANCE_RUN
      "></app-test-flow-modal>

  </div>
</div>

<ng-container *ngIf="addFlowButton$ | async"></ng-container>
