<div class="edit-step-accordion-container d-column">
  <form class="w-100" [formGroup]="stepForm">
    <mat-accordion [hideToggle]="true">
      <mat-expansion-panel #descriptionPanel (closed)="closed(0)" (opened)="setOpenedIndex(0)"
        class="expansion-panel-transition"
        [expanded]="_selectedStep.type === TriggerType.WEBHOOK ||
                     _selectedStep.type === TriggerType.COLLECTION_ENABLED ||
                      _selectedStep.type === TriggerType.COLLECTION_DISABLED "
        [class.expansion-panel-opened]="openedIndex === 0">
        <mat-expansion-panel-header class="panel-padding">
          <mat-panel-title>
            <label class="expansion-panel-label">Description </label>
            <div class="ml-auto">
              <fa-icon [icon]="faChevornDown" class="flip-transition chevorn-margin-left"
                [class.flip-chevorn-up]="openedIndex === 0"></fa-icon>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>



        <ng-container
          *ngIf="
                  _selectedStep.type !==TriggerType.WEBHOOK &&
                   _selectedStep.type !== TriggerType.COLLECTION_ENABLED &&
                    _selectedStep.type !== TriggerType.COLLECTION_DISABLED; else noDelayInExpansion">
          <div class="panel-padding" *ngIf="delayExpansionPanelRendering$ | async">
            <app-describe-form formControlName="describe"></app-describe-form>
          </div>
        </ng-container>
        <ng-template #noDelayInExpansion>
          <div class="panel-padding">
            <app-describe-form formControlName="describe"></app-describe-form>
            <ng-container *ngIf="_selectedStep.type ===TriggerType.WEBHOOK ">
              <div class="webhook-note">
                <p>Webhook url: {{webhookUrl$ | async}} </p>
                <p class="mt-1" >This url will only be activated if the current collection is deployed after webhook trigger has been chosen. </p>

              </div>

            </ng-container>

          </div>
        </ng-template>

      </mat-expansion-panel>
      <mat-expansion-panel #InputPanel (closed)="closed(1)" (opened)="setOpenedIndex(1)"
        class="expansion-panel-transition" [class.expansion-panel-opened]="openedIndex === 1" [expanded]="true"
        *ngIf="
        _selectedStep.type !==TriggerType.WEBHOOK &&
         _selectedStep.type !== TriggerType.COLLECTION_DISABLED &&
          _selectedStep.type !== TriggerType.COLLECTION_ENABLED">
        <mat-expansion-panel-header class="panel-padding">
          <mat-panel-title>
            <label class="expansion-panel-label">Input </label>
            <div class="ml-auto">
              <fa-icon [icon]="faChevornDown" class="flip-transition chevorn-margin-left"
                [class.flip-chevorn-up]="openedIndex === 1"></fa-icon>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-padding expansion-panel-body">
          <p class="my-2 doc-container" placement="bottom" matTooltip="
          If you want to use a config variable, just write ${configs.your_config_key} in any step fields and to refer to an output from a previous step, write: ${step_name.variable_name}.
        ">
            <fa-icon class="mr-2 info-icon" [icon]="faInfoCircle"></fa-icon>
            <span>Learn how to use variables</span>
          </p>
          <ng-container *ngTemplateOutlet="inputFormSelection"></ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>

<ng-container *ngIf="autoSaveListener$ | async"></ng-container>

<ng-container *ngIf="displayNameChangedListener$ | async"></ng-container>
<ng-container *ngIf="readOnly$ | async"></ng-container>
<ng-template #inputFormSelection>
  <div [formGroup]="stepForm">
    <ng-container [ngSwitch]="_selectedStep.type">
      <app-schedule-trigger-input-form *ngSwitchCase="TriggerType.SCHEDULE" formControlName="input">
      </app-schedule-trigger-input-form>
      <app-event-trigger-input-form *ngSwitchCase="TriggerType.EVENT" formControlName="input">
      </app-event-trigger-input-form>
      <app-storage-step-input-form *ngSwitchCase="ActionType.STORAGE" formControlName="input">
      </app-storage-step-input-form>
      <app-response-step-input-form *ngSwitchCase="ActionType.RESPONSE" formControlName="input">
      </app-response-step-input-form>
      <app-loop-step-input-form *ngSwitchCase="ActionType.LOOP_ON_ITEMS" formControlName="input">
      </app-loop-step-input-form>
      <app-code-step-input-form *ngSwitchCase="ActionType.CODE" formControlName="input" [stepCacheKey]="stepCacheKey!"
        [stepArtifact$]="codeArtifact$!">
      </app-code-step-input-form>
      <app-component-action-input-form *ngSwitchCase="ActionType.COMPONENT" formControlName="input">
      </app-component-action-input-form>
    </ng-container>

  </div>
</ng-template>
