<div class="modal-header">
  <h5 class="modal-title pull-left">
    <ng-container *ngIf="!configToUpdate; else editVariableTitle">
      New Variable: {{ this.newConfigLabel$ | async }}
    </ng-container>

    <ng-template #editVariableTitle>
      Edit Variable: {{ configToUpdate?.label }}
    </ng-template>
  </h5>
  <button type="button" class="btn-close close pull-right" aria-label="Close">
    <span aria-hidden="true" class="close-custom visually-hidden" (click)="closeModal(undefined)">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="configForm" class="d-flex flex-column config-modal-form-controls-container"
    [class.ng-submitted]="submitted">
    <div>
      <label>Source</label> <br>
      <div class="custom-control custom-radio custom-control-inline" (click)="setConfigSource(ConfigSource.USER)">
        <input formControlName="source" [disabled]="viewMode$ | async | defaultFalse" type="radio"
          [value]="ConfigSource.USER" class="custom-control-input"/>
        <label class="custom-control-label">User Input</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline" (click)="setConfigSource(ConfigSource.PREDEFINED)">
        <input formControlName="source" [disabled]="viewMode$ | async | defaultFalse" type="radio"
          [value]="ConfigSource.PREDEFINED" class="custom-control-input" />
        <label class="custom-control-label">Predefined</label>
      </div>
    </div>
    <div>
      <label>Scope</label><br>
      <ng-select
      [items]="scopeDropdownOptions"
      bindLabel="label"
      bindValue="value"
      id="role"
      formControlName="scope"
      [searchable]="false"
      [clearable]="false"
      placeholder="Please select"
    >
      <ng-template ng-option-tmp let-item="item">
      <app-ng-select-item-template [item]="item" [isSelected]="item.value === getControlValue('scope')"></app-ng-select-item-template>
      </ng-template>
    </ng-select>
    </div>


    <div>
      <label required>Display Name</label>
      <input class="form-control" formControlName="label" type="text">
      <p @fadeInUp class="invalid-input" *ngIf="submitted && configForm.get('label')!.invalid ">
       <ng-container *ngIf="configForm.get('label')!.getError('required')">
        Display name is required
       </ng-container>
       <ng-container *ngIf="configForm.get('label')!.getError('labelUsed')">
        Display name is already used
       </ng-container>
      </p>
    </div>

    <div>
      <label [attr.required]="configForm.get('key')!.enabled">Key</label>
      <input class="form-control" formControlName="key" type="text">
      <p @fadeInUp class="invalid-input" *ngIf="submitted && configForm.get('key')!.invalid">
        <ng-container *ngIf="submitted &&  configForm.get('key')!.getError('required'); else patternErrorOrAlreadyUsed">
          Key is required
        </ng-container>
        <ng-template  #patternErrorOrAlreadyUsed>
          <ng-container *ngIf="configForm.get('key')!.getError('requiredPattern');">
            Keys can only contain letters, numbers and underscores
          </ng-container>
          <ng-container *ngIf="configForm.get('key')!.getError('keyUsed');">
            Keys is already used
          </ng-container>
        </ng-template>
      </p>

    </div>
    <div>
      <label>Hint Text</label>
      <input class="form-control" formControlName="hintText" type="text">
    </div>
    <div>
      <label>Type</label>
      <ng-select [items]="configTypesDropdownOptions" groupBy="group" bindLabel="label" bindValue="value"
        formControlName="type" [searchable]="false"
        placeholder="Please select" [clearable]="false" appendTo="body">
        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex option-container">
            <svg-icon [svgStyle]="{ width: 14, height: 14 }" [src]="'../assets/img/custom/' + item.icon"></svg-icon>
            <div class="flex-grow-1">{{ item.label }}</div>
            <svg-icon *ngIf="item.value === configForm.get('type')!.value" src="assets/img/custom/check.svg" class="check-icon"
              [applyClass]="true">
            </svg-icon>
          </div>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <div class="d-flex option-container">
            <svg-icon [svgStyle]="{ width: 14, height: 14 }" [src]="'../assets/img/custom/' + item.icon"></svg-icon>
            <div class="flex-grow-1">{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>

    </div>
    <div *ngIf="shouldShowSettingsSection()">
      <label>Settings</label>
      <ng-container [ngSwitch]="getControlValue('type')">
        <app-o-auth2-config-settings [submitted]="submitted" *ngSwitchCase="ConfigType.OAUTH2"  formControlName="settings"></app-o-auth2-config-settings>
        <app-dropdown-config-settings  [currentConfigScope]="getControlValue('scope')" [submitted]="submitted"  [currentConfigSource]="getControlValue('source')"  [configToUpdate]="configToUpdate" *ngSwitchCase="ConfigType.DROPDOWN" formControlName="settings"></app-dropdown-config-settings>
        <app-default-config-type-settings *ngSwitchDefault formControlName="settings"></app-default-config-type-settings>
      </ng-container>

    </div>

    <div *ngIf="shouldShowValueFormControl; else predefinedDynamicDropdownError">
      <label
        *ngIf="getControlValue('type') !== ConfigType.CHECKBOX"
        [attr.required]="getControlValue('source') === ConfigSource.PREDEFINED?true:null">{{getControlValue('source') === ConfigSource.PREDEFINED? 'Value': 'Default Value'}}</label>
      <ng-container [ngSwitch]="getControlValue('type')">
        <input *ngSwitchCase="ConfigType.SHORT_TEXT" type="text" class="form-control" formControlName="value">
        <textarea
        *ngSwitchCase="ConfigType.LONG_TEXT"
        rows="4"
        class="form-control" formControlName="value"
        type="text">
        </textarea>
        <input type="number"   *ngSwitchCase="ConfigType.INTEGER"  class="form-control" formControlName="value">
        <app-dictonary-form-control *ngSwitchCase="ConfigType.DICTIONARY"  formControlName="value"></app-dictonary-form-control>
        <app-checkbox *ngSwitchCase="ConfigType.CHECKBOX"  formControlName="value" [label]="'Default Value'"></app-checkbox>
        <ng-select [items]="staticDropdownOptions$|async" formControlName= "value" [searchable]="false" [clearable]="getControlValue('source') === ConfigSource.USER" appendTo="body" *ngSwitchCase="ConfigType.DROPDOWN"  bindLabel="label" bindValue="value" ></ng-select>
        <app-o-auth2-connect-control [configSettings]="getControlValue('settings')"  formControlName= "value"   *ngSwitchCase="ConfigType.OAUTH2" ></app-o-auth2-connect-control>

      </ng-container>
      <p @fadeInUp class="invalid-input" *ngIf="submitted && configForm.get('value')!.invalid ">
        Value is required
      </p>
    </div>
    <ng-template #predefinedDynamicDropdownError>
      <p @fadeInUp class="invalid-input" *ngIf="getControlValue('source')===ConfigSource.PREDEFINED && getControlValue('settings').dropdownType === DropdownType.DYNAMIC">
        Dynamic dropdowns can't be predefined.
      </p>
    </ng-template>
  </form>
</div>

<div *ngIf="configForm.enabled" top-border class="modal-footer">
  <app-button
  btnColor="basic"
  btnStyle="basic"
  (buttonClicked)="closeModal(undefined)"
> Cancel
</app-button>
  <app-button [loading]="savingLoading" (buttonClicked)="submit()"     btnColor="primary"   >Save</app-button>
</div>

<ng-container *ngIf="configTypeChanged$ | async"></ng-container>
<ng-container *ngIf="configSourceChanged$ | async"></ng-container>
<ng-container *ngIf="viewMode$ | async"></ng-container>
