<ng-select
  *ngIf="dynamicControl"
  [formControl]="dynamicControl.formControl()"
  [items]="dynamicControl.getDropdownOptions()"
  [multiple]="true"
  bindLabel="label"
  bindValue="value"
  placeholder="Please select"
  appendTo="body"
>
  <ng-template ng-label-tmp let-item="item" let-clear="clear">
    <span class="value-tag"> {{ item.label }} </span>
    <span class="clear-icon ng-clear" (click)="clear(item)" aria-hidden="true"
      >×</span
    >
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    <div class="d-flex">
      <div class="flex-grow-1">{{ item.label }}</div>
      <svg-icon
        *ngIf="itemSelected(item)"
        src="assets/img/custom/check.svg"
        class="check-icon"
        [applyClass]="true"
      >
      </svg-icon>
    </div>
  </ng-template>
</ng-select>
