<div
  [ngStyle]="{
        width: '250px',
        position: 'relative'
     }"
  class="form-group">
  <div class="form-control" (click)="opened = !opened"
       style="    padding: 0.625rem 0.75rem;     border: 1px solid #CED4DA;">
    <span class="ml-1 text-default no-select">{{selectedValue === undefined ? 'All Accounts' : selectedValue}}</span>
    <span style="float: right;">
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </span>
  </div>
  <div class="dropdown-menu {{opened?'show': ''}}" style="min-width: 100%;">
    <a class="dropdown-item" (click)="changeAccount(undefined)">
      <span class="ml-1 text-default no-select">All Accounts</span>
      <img *ngIf="selectedValue === undefined" class="no-select float-right text-primary" height="16" width="16"
           src="../assets/img/custom/check.svg"/>
    </a>
    <form class="p-3" [formGroup]="searchForm">
      <input id="accountName" class="form-control"
             formControlName="accountName"
             placeholder="account_id" type="text">
             <app-button
             btnColor="primary"
             [fullWidthOfContainer]="true"
             type="submit"
             class="float-right mt-3 ml-3"
             (buttonClicked)="applyFilter()"
             btnSize="small"

           >Apply
           </app-button>
           <app-button
           btnColor="basic"
           [fullWidthOfContainer]="true"
           class="float-right mt-3 ml-3"
           btnSize="small"
           (buttonClicked)="changeAccount(undefined)"
         >Clear
         </app-button>


    </form>

  </div>


</div>
