<div class="ap-flex ap-flex-col ap-gap-2 ap-h-full ap-text-center ap-items-center ap-justify-center">
  <svg-icon src="/assets/img/custom/empty-collections.svg" [style]="{width: '360px', height:'162px' }"></svg-icon>
  <div class="text-container">
    <div class="ap-typography-headline-6 ap-font-medium ">Create Your First Flow</div>
    <div class="ap-typography-body-1 ">
      Put Activepieces to work by creating your first flow.<br> It's easy to build!
    </div>
  </div>
  <app-button class="text-center" btnCSS="btn btn-primary" [loading]="creatingCollection"
    (buttonClicked)="createCollection()">Start building</app-button>
  <ng-container *ngIf="createCollection$ | async"> </ng-container>

</div>
