@import "~quill/dist/quill.bubble.css";

.ql-container {
  border: 0px solid transparent !important;
  .mention
    {
      background-color: $grayCard;
      border: 1px solid $dividers;
      padding-top:2px;
      padding-bottom:2px;
      border-radius: 3px;
    }
    p {
      margin-bottom: 5px;
    }
    p:last-child{
      margin-bottom:0px;
    }
}

.ql-editor.ql-blank::before
{
  left:0px;
  color: #999;
  font-style: initial;
  font-weight: unset;
}

.ql-disabled
{
  color:rgba(0, 0, 0, 0.38);
}