/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $border;
	border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(179, 179, 179, 0.7);
}

.form-control
{
    display: block;
    width: 100%;
    padding: 0.4375rem 0.8125rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #4f4f4f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
    box-shadow: none;
    &:hover
    {
      outline: black solid 1px ;
    }
}

a{
  @apply ap-underline ap-text-blueLink ap-typography-caption
}
