@import "src/assets/scss/custom/variables";

.td-description {
  color: $formLabel;
  font-size: 0.75rem;
  display: block;
}
.margin-zero {
  margin: 0px;
}

.empty-collections-table-height {
  min-height: calc(100% - 52px);
}
