<svg-icon src="assets/img/custom/debug-icons/caret.svg" *ngIf="!useChevron" [matMenuTriggerFor]="options"
  class="caret-dropdown ap-flex ap-items-center" [applyClass]="true">
</svg-icon>
<svg-icon [svgStyle]="{ width: '9px', height: '8px' }" src="assets/img/custom/chevron.svg" *ngIf="useChevron"
  [matMenuTriggerFor]="options" class="chevron-dropdown ap-flex ap-items-center">
</svg-icon>

<mat-menu #options="matMenu" ap-center>
  <ng-container *ngFor="let option of data">
    <ng-container *ngIf="option.type === itemType.SEPARATOR">
      <div class="dropdown-divider"></div>
    </ng-container>
    <ng-container *ngIf="option.type === itemType.COPY_ID">
      <div matTooltip="Copy" mat-menu-item class="ap-flex ap-flex-column" (click)="copyId(option)">
        <label class="ap-color-description ap-m-0 ap-cursor-pointer">{{IdEntityName}} ID: </label>
        <div class="ap-flex ap-flex-grow ap-gap-2 ap-color-body  flex-grow-1">
          {{option.name!.substring(0,10)}}...
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="option.type === itemType.NORMAL">
      <div mat-menu-item (click)="emitAction(option.id)">{{ option.name }}</div>
    </ng-container>
  </ng-container>


</mat-menu>
