<ng-container *ngIf="rightSidebarType$ | async as rightSidebarType">

  <app-flow-version-sidebar *ngIf="rightSidebarType === sidebarType.FLOW_VERSIONS"></app-flow-version-sidebar>
  <app-piece-version-sidebar *ngIf="rightSidebarType === sidebarType.PIECE_VERSIONS"></app-piece-version-sidebar>
  <app-step-type-sidebar [showTriggers]="rightSidebarType === sidebarType.TRIGGER_TYPE" *ngIf="
    rightSidebarType === sidebarType.PIECE_TYPE ||
    rightSidebarType === sidebarType.TRIGGER_TYPE
  "></app-step-type-sidebar>
  <app-new-edit-piece-sidebar *ngIf="rightSidebarType === sidebarType.EDIT_PIECE
  ">
  </app-new-edit-piece-sidebar>

</ng-container>
