<form
  [formGroup]="accountForm"
  [class.ng-submitted]="submitted"
  (ngSubmit)="createAccount()"
>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Create Account</h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden close-custom"
        >&times;</span
      >
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <p class="text-description">
        Name will be used to identify the account when sending app events.
      </p>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="account_id"
        formControlName="name"
        (ngModelChange)="accountExists = false"
      />
      <div
        @fadeInUp
        *ngIf="
          submitted &&
          (this.accountForm.controls['name'].invalid || accountExists)
        "
      >
        <p
          class="invalid-input"
          *ngIf="
            submitted && this.accountForm.controls['name'].hasError('required')
          "
        >
          Name is required
        </p>
        <p class="invalid-input" *ngIf="submitted && accountExists">
          Name already exists
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <app-button
    btnColor="basic"
    btnStyle="basic"
    [loading]="loading"
    [fullWidthOfContainer]="true"
    (buttonClicked)="bsModalRef?.hide()"
  >  Cancel
  </app-button>
    <app-button
      type="submit"
      [loading]="loading"
      btnColor="primary"
    >Create</app-button>
  </div>
</form>
