<div [matTooltip]="popover.isOpen? '' : tooltipText">
  <app-button [outsideClick]="true" btnSize="medium" #popover="bs-popover" [popover]="publishPopOver" placement="bottom"
    containerClass="publish-popover" container="body" triggers="" [disabled]="aFlowIsInvalid" [class.invalid-publish]="aFlowIsInvalid"
    (click)="isSaving || isPublishing || aFlowIsInvalid||popover.isOpen ? popover.hide() : popover.show()">
    <ng-container *ngIf="isSaving || isPublishing; else defaultTemplate">
      <div class="d-flex loading-template">
        <svg-icon src="assets/img/custom/loading.svg" class="loading-spin-animation white-loader" [applyClass]="true">
        </svg-icon>
        {{ popoverToggleBtnText}}
      </div>

    </ng-container>
    <ng-template #defaultTemplate>
      <div class="d-flex publish-popover-text">
        {{ popoverToggleBtnText}} <svg-icon class="publish-popover-chevron" [class.flip]="popover.isOpen"
          [applyClass]="true" src="assets/img/custom/chevron.svg"> </svg-icon>
      </div>
    </ng-template>
  </app-button>

</div>


<ng-template #publishPopOver>
  <div class="publish-popover-container">
    <ng-container *ngIf="projectEnvironmentsAndCurrentCollection$|async as collectionAndEnvrionment">
      <section class="envrionments-list-section">
        <div class="publish-to-text">Publish V{{collectionAndEnvrionment.collection.versionsList.length}} to: </div>
        <form [formGroup]="selectedEnvironmentsForm">
          <ul>

            <li *ngFor="let env of collectionAndEnvrionment.environments; let isLast=last">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" [id]="env.id" [formControlName]="env.id" type="checkbox">
                <label class="custom-control-label" [for]="env.id">
                  <div class="d-flex envrionment-name-container">
                    <div class="environment-name" #envNameEl
                      [matTooltip]="envNameEl.scrollWidth > envNameEl.clientWidth? env.name: ''"
                      matTooltipClass="publish-popover-mat-tooltip">{{env.name}} </div>
                    <ng-container *ngIf="selectedEnvironmentsForm.get(env.id)!.enabled &&
                  collectionVersionSequenceForEachEnvironment.get(env.id);else published">
                      <div class="version-tag d-flex align-items-center">
                        {{collectionVersionSequenceForEachEnvironment.get(env.id)}} </div>
                    </ng-container>
                    <ng-template #published>
                      <div *ngIf="selectedEnvironmentsForm.get(env.id)!.disabled" class="environment-published-text">
                        (Published)</div>
                    </ng-template>
                  </div>

                </label>
              </div>
            </li>
          </ul>
        </form>
        <div class="publish-popover-separator">
        </div>
        <div class="publish-warning d-flex align-items-center">
          <svg-icon [svgStyle]="{ width: '16px', height: '16px' }" src="assets/img/custom/warn.svg"></svg-icon>
          <div>
            All users will be automatically upgraded to the new version.
          </div>
        </div>
      </section>


      <section class="d-flex btn-section">
        <app-button btnColor="basic" btnStyle="stroked" btnSize="medium" (buttonClicked)="popover.hide();"> Close
        </app-button>
        <app-button class="flex-grow-1" btnSize="medium" [disabled]="executePublishBtnDisabled" btnColor="success"
          (buttonClicked)="publish(); popover.hide();" [fullWidthOfContainer]="true">{{excutePublishBtnText}}
        </app-button>
      </section>
      <div class="older-versions-text cursor-pointer" (click)="openVersionsList(); popover.hide();">View older versions
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-container *ngIf="saving$ | async"></ng-container>
<ng-container *ngIf="executePublish$ | async"></ng-container>
<ng-container *ngIf="publishing$ | async"></ng-container>
<ng-container *ngIf="selectedEnvironments$|async"></ng-container>
<ng-container *ngIf="allFlowsValid$ | async"></ng-container>
