@import "src/assets/scss/custom/variables";

.item-container {
  .request-and-title {
    display: flex;
    align-items: center;
    gap: .5625rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;

    .item-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .description {
    color: $description;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding:4px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .ap-separator {
    border-top: 1px solid $dividers;
  }
}
