<form [formGroup]="componentForm">
  <div class="d-flex flex-column connector-input-form-container ng-submitted">

    <div>
      <label required>What do you want to do?</label>
      <ng-select [formControlName]="ACTION_FORM_CONTROL_NAME" [items]="actions$ | async" bindLabel="label" bindValue="value" appendTo="body"
        [clearable]="false" [searchFn]="customSearchFn" #select class="connector-actions-dropdown"   loadingText="Loading..."  [compareWith]="compareFn" >
        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
          <app-ng-select-no-items-found-template [searchTerm]="searchTerm">
          </app-ng-select-no-items-found-template>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <ng-container *ngIf="componentForm.get(ACTION_FORM_CONTROL_NAME)!.value !== customRequestItem.value; else customRequestLabel">
            <app-ng-select-connector-action-item-template [item]="selectedAction$ |async" [hideDescription]="true">
            </app-ng-select-connector-action-item-template>
          </ng-container>
          <ng-template #customRequestLabel>
            Custom Request
          </ng-template>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <ng-container  *ngIf="item !== customRequestItem">
            <app-ng-select-connector-action-item-template [item]="item">
            </app-ng-select-connector-action-item-template>
          </ng-container>
        </ng-template>
        <ng-template *ngIf="customRequestFeatureFlag" ng-footer-tmp>
          <app-ng-select-custom-request (click)="select.close();customRequestChosen();"></app-ng-select-custom-request>
        </ng-template>
      </ng-select>
      <p @fadeInUp  class="invalid-input" *ngIf="componentForm.get(ACTION_FORM_CONTROL_NAME)!.invalid ">
        Please select an action.
      </p>
      <div class="authentication-section" >
        <label required>Authentication</label>
        <div class="position-relative">
          <app-button
          btnColor="primary"
          btnStyle="basic"
          btnSize="extraSmall"
          *ngIf="componentForm.enabled && componentForm.get(SECURITY_FORM_CONTROL_NAME)!.value"
          (buttonClicked)="editSelectedAuthConfig()"
          class="edit-selected-auth"
        > Edit
        </app-button>
          <ng-select [items]="allAuthConfigs$|async" bindLabel="label" bindValue="value"
          [formControlName]="SECURITY_FORM_CONTROL_NAME" [searchable]="false" [clearable]="false" appendTo="body"
          [compareWith]="authenticationDropdownCompareWithFunction"
          class="security-dropdown"
          placeholder="Please select">
          <ng-template ng-option-tmp let-item="item">
            <app-ng-select-item-template [item]="item" [isSelected]="componentForm.get(SECURITY_FORM_CONTROL_NAME)!.value?.configInterpolation===item.value.configInterpolation">
            </app-ng-select-item-template>
          </ng-template>
        </ng-select>

        <app-button
        btnColor="primary"
        btnStyle="basic"
        (buttonClicked)="openNewAuthenticationModal()"
        type="button"
        class="new-config-btn"
        btnSize="medium"
        *ngIf="componentForm.enabled"
      >   + New Authentication
      </app-button>
        </div>
        <p @fadeInUp  class="invalid-input" *ngIf="componentForm.get(SECURITY_FORM_CONTROL_NAME)!.invalid ">
          Please select an authentication config or add one.
        </p>

      </div>
    </div>


    <ng-container *ngIf="componentForm.get(ACTION_FORM_CONTROL_NAME)!.value === customRequestItem.value  ;else definedActionTemplate">
      <app-connector-custom-request-form-control [formControlName]="CUSTOM_REQUEST_FORM_CONTROL_NAME">
      </app-connector-custom-request-form-control>
    </ng-container>
    <ng-template #definedActionTemplate>
      <div *ngIf="componentForm.get(ACTION_FORM_CONTROL_NAME)!.value">
          <div>
            <app-configs-form [newAuthConfigValue$]="newAuthConfigValue$" [showDescriptionAsTooltips]="true"  [formControlName]="REQUIRED_CONFIGS_FORM_CONTROL_NAME" [configs]=" requiredConfigs"
              [showSlider]="true" [submitted]="true">
            </app-configs-form>
          </div>
          <div>
            <div *ngIf=" !(componentForm.disabled && allOptionalConfigs.length===0)" class="d-flex align-items-center optional-input-label-container">
              <div> Optional Inputs</div>
              <div #spacer class="flex-grow-1"></div>
              <app-button *ngIf="optionalConfigsSelected.configs.length !== allOptionalConfigs.length && componentForm.enabled" btnColor="primary"
                btnSize="medium" btnStyle="basic" #menuTrigger="matMenuTrigger"
                (menuOpened)="optionalConfigsMenuOpened=true" (menuClosed)="optionalConfigsMenuOpened=false"
                [matMenuTriggerFor]="bodyTypesMenu">
                + Add Input
              </app-button>
              <mat-menu #bodyTypesMenu="matMenu">
                <ng-container *ngFor="let config of allOptionalConfigs">
                  <ng-container *ngIf="!optionalConfigsSelected.configs.includes(config)">
                    <div (click)="addOptionalConfig(config)" mat-menu-item>
                      {{config.label}}
                    </div>
                  </ng-container>
                </ng-container>
              </mat-menu>
            </div>
            <app-configs-form  [newAuthConfigValue$]="newAuthConfigValue$" [showDescriptionAsTooltips]="true"  (configRemoved)="configRemoved($event)" [allowRemoveConfig]="true"
              [formControlName]="OPTIONAL_CONFIGS_FORM_CONTROL_NAME" [configs]="optionalConfigsSelected" [showSlider]="true">
            </app-configs-form>
          </div>
      </div>
    </ng-template>
  </div>

</form>

<ng-container *ngIf="valueChanges$ | async"></ng-container>
<ng-container *ngIf="actionDropdownValueChanged$ | async"></ng-container>
<ng-container *ngIf="updateOrAddConfigModalClosed$ | async"></ng-container>
<ng-container *ngIf="updateAuthConfig$ | async"> </ng-container>
<ng-container *ngIf="initialSetup$ | async"> </ng-container>
<ng-container *ngIf="setInitiallySelectedAuthConfig$|async"></ng-container>
<ng-container *ngIf="authDropdownValueChanged$ | async"> </ng-container>
