@import "src/assets/scss/custom/variables";

.trial-status {
  --multiplier: 1;
  .text-section {
    background-image: url("/assets/img/custom/trial-bg.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }
  .card-section {
    width: 100%;
  }
  @media only screen and (min-width: 1366px) {
    .text-section {
      width: 55%;
    }
    .card-section {
      width: 45%;
    }
  }

  .text-section__title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: calc(3rem * var(--multiplier));
    line-height: calc(4.0625rem * var(--multiplier));
    max-width: calc(31.25rem * var(--multiplier));
  }

  .text-section__body {
    font-weight: 400;
    font-size: calc(1.25rem * var(--multiplier));
    line-height: calc(1.6875rem * var(--multiplier));
    max-width: calc(32.375rem * var(--multiplier));
  }

  .text-section__title__count-down {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    padding: calc(0.25rem * var(--multiplier))
      calc(0.9375rem * var(--multiplier));
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    border-radius: 10px;
  }

  .card-section__features-card {
    background: #ffffff;
    border: 1px solid $primary;
    box-shadow: 0px 3px 50px -10px rgba(130, 131, 137, 0.5);
    border-radius: 15px;
    min-width: 400px;
    // width: 44%;
    // height: 52.8%;
    min-height: 500px;
    padding: calc(2.5rem * var(--multiplier)) calc(1.875rem * var(--multiplier))
      calc(1.875rem * var(--multiplier));
    gap: 30px;
  }

  .feature_box {
    margin-bottom: 5px;
  }

  .card-section__features-card__sales-btn {
    padding: 1.1875rem 0rem;
  }

  .card-section__features-card__title {
    font-weight: 600;
    font-size: calc(1.5rem * var(--multiplier));
    line-height: calc(2rem * var(--multiplier));
    margin: 0px;
  }

  .card-section__features-card__list-block {
    gap: 30px;
    min-width: 340px;
  }

  .card-section__features-card__features-list {
    font-weight: 400;
    line-height: 19px;

    li {
      padding: calc(0.625rem * var(--multiplier));
      border-radius: 3px;
      font-size: calc(1rem * var(--multiplier));
    }
    li:nth-child(even) {
      background-color: $hover;
    }
  }

  .green-check {
    fill: $successColor;
    height: 15px;
    width: 15px;
  }
}

@media only screen and (min-width: 1441px) {
  .trial-status {
    --multiplier: 1.2;
  }
}
