<form [formGroup]="selectDeploymentEnvironmentForm">
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      Deploy {{ collection.lastVersion.displayName }}
    </h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="this.cancelClicked.emit()"
    >
      <span aria-hidden="true" class="visually-hidden close-custom"
        >&times;</span
      >
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="environment"
        >Which <strong>environment</strong> do you want to deploy on?</label
      >
      <ng-select
        id="environment"
        [clearable]="false"
        [items]="environmentDropdownOptions"
        formControlName="environmentId"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-option-tmp let-item="item">
          <app-ng-select-item-template
            [item]="item"
            [isSelected]="item.value === getControl('environmentId')?.value"
          ></app-ng-select-item-template>
        </ng-template>
      </ng-select>
      <div @fadeInUp *ngIf="submitted && getControl('environmentId')!.invalid">
        <p class="invalid-input">Environment is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="collectionVersion"
        >Which <strong>version</strong> do you want to deploy?</label
      >

      <ng-select
        id="collectionVersion"
        [clearable]="false"
        [items]="collectionVersionDropdownOptions"
        formControlName="collectionVersionId"
        [placeholder]="collectionVersionsDropdownPlaceHolder"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-option-tmp let-item="item">
          <app-ng-select-item-template
            [item]="item"
            [isSelected]="
              item.value === getControl('collectionVersionId')?.value
            "
          ></app-ng-select-item-template>
        </ng-template>
      </ng-select>

      <div
        @fadeInUp
        *ngIf="submitted && getControl('collectionVersionId')?.invalid"
      >
        <p
          *ngIf="getControl('collectionVersionId')?.getError('required')"
          class="invalid-input"
        >
          Version is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="account">Which account do you want to deploy for?</label>
      <ng-select
        id="account"
        [clearable]="false"
        [items]="(accountsDropdownOptions$ | async)?.accountOptions || []"
        formControlName="accountName"
        [loading]="!(accountsDropdownOptions$ | async)?.loaded"
        bindLabel="label"
        bindValue="value"
        [placeholder]="accountsDropdownPlaceHolder"
      >
        <ng-template ng-option-tmp let-item="item">
          <app-ng-select-item-template
            [item]="item"
            [isSelected]="item.value === getControl('accountName')?.value"
          ></app-ng-select-item-template>
          <ng-template ng-loadingspinner-tmp>
            <app-ng-select-loading-spinner-template></app-ng-select-loading-spinner-template>
          </ng-template>
        </ng-template>
      </ng-select>

      <div @fadeInUp *ngIf="submitted && getControl('accountName')?.invalid">
        <p class="invalid-input">Account is required</p>
      </div>
    </div>
  </div>
  <div class="modal-footer" top-border>
    <app-button
    btnColor="basic"
    btnStyle="basic"
    (buttonClicked)="this.cancelClicked.emit()"
  > Cancel
  </app-button>

    <app-button
      (buttonClicked)="nextStep()"
      btnColor="primary"
      [loading]="loading"
    >Next</app-button>
  </div>
</form>
<ng-container *ngIf="environmentDropdownOptions$ | async"></ng-container>
