<app-button
  *ngIf="
    dynamicControl.formControl().value === undefined ||
    dynamicControl.formControl().value === null
  "
  btnColor="primary"
  (buttonClicked)="openPopup()"
  [disabled]="isDisabled()"
>Connect</app-button>
<app-button
  *ngIf="
    dynamicControl.formControl().value !== undefined &&
    dynamicControl.formControl().value !== null
  "
  btnColor="warn"
  (buttonClicked)="dynamicControl.formControl().setValue(undefined)"
>Disconnect</app-button>
<p *ngIf="popUpError" class="invalid-input" @fadeInUp>
  Please make sure this config's credentials are correct.
</p>
