<div [matTooltip]="tooltipDisabled?'':tooltipText" placement="auto" class="btn-container">
  <ng-container [ngSwitch]="btnStyle">
    <button [class]="btnSizeClass" [class.w-100]="fullWidthOfContainer" *ngSwitchCase="'flat'" mat-flat-button
      [color]="btnColor" [disabled]="disabled ? true : false" (click)="click()">
      <ng-container *ngTemplateOutlet="btnContent"></ng-container>
    </button>
    <button [class]="btnSizeClass" [class.w-100]="fullWidthOfContainer" *ngSwitchCase="'basic'" mat-button
      [color]="btnColor" [disabled]="disabled ? true : false" (click)="click()">
      <ng-container *ngTemplateOutlet="btnContent"></ng-container>
    </button>
    <button [class]="btnSizeClass" [class.w-100]="fullWidthOfContainer" *ngSwitchCase="'raised'" mat-raised-button
      [color]="btnColor" [disabled]="disabled ? true : false" (click)="click()">
      <ng-container *ngTemplateOutlet="btnContent"></ng-container>
    </button>
    <button [class]="btnSizeClass" [class.w-100]="fullWidthOfContainer" *ngSwitchCase="'stroked'" mat-stroked-button
      [color]="btnColor" [disabled]="disabled ? true : false" (click)="click()">
      <ng-container *ngTemplateOutlet="btnContent"></ng-container>
    </button>
  </ng-container>

</div>
<ng-template #btnContent>
  <div [class.zero-opacity]="!loading" class="spinner-border {{ loadingCSS }} loading-spinner-size-and-position"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
    <div [class.zero-opacity]="loading">
      <ng-content></ng-content>
    </div>

</ng-template>



