.loading-spinner-size-and-position {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
  }

  .ap-btn-sm {
    font-size: 0.75rem !important;
    padding: 0.25rem 0.5rem !important;
    line-height: 1.5 !important;
  }

  .ap-btn-xs {
    padding: 0 0 0 0 !important;
    line-height: 1.5 !important;
  }
  .ap-btn-m {
    padding: 0.3125rem 0.625rem !important;
    line-height: 1.5 !important;
  }

  .ap-btn-l {
    padding: 1.525rem 1.25rem !important;
    line-height: 1.5 !important;
  }
  .mat-button-base.mat-basic {
    background-color: transparent;
  }
  .mat-button.mat-success,
  .mat-stroked-button.mat-success:not([disabled]) {
    &:not([disabled]) {
      color: #14ae5c;
    }
  }
  .mdc-button.mat-success:hover,
  .mat-stroked-button.mat-success:hover:not([disabled]) {
    &:not([disabled]) {
      background-color: #3cad71;
    }
  }

  .mdc-button.mat-success{
    &:not([disabled]) {
      color: white;
      background-color: #14ae5c;
    }
  }

  .mat-icon-button.mat-success {
    &:not([disabled]) {
      color: #14ae5c;
    }
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 45px !important;
  }
