@import "src/assets/scss/variables.scss";

.forgot-password {
  float: right;
}

.auth-form-title {
  font-weight: 600;
  color: $title;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.563rem;
}

.auth-button {
  padding: 0.5rem 0rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: 600;
  border: 0px;
  &:focus {
    outline: 1px;
  }
  font-size: 0.875rem;
}

.auth-links-container {
  margin-top: 1.875rem;
  color: $description;
  font-size: 0.875rem;
}


.card {
  border: 1px solid $dividers;
}
