

.code .editor-container {
  height: 300px;
}

#context .CodeMirror {
  min-height: 300px !important;
}

code-height-auto .CodeMirror {
  min-height: 100% !important;
}

.code-font-sm .CodeMirror {
  font-size: 14px !important;
}

.console-size .CodeMirror {
  min-width: 400px !important;
  min-height: 100% !important;
}

.code-size-200 .CodeMirror {
  min-height: 100px !important;
  max-height: 100% !important;
}


.CodeMirror {
  min-height: 500px;
  border-radius: 5px;

  ::-webkit-scrollbar {
    width: 5px;
  }
}

.CodeMirror-hscrollbar {
  &::-webkit-scrollbar {
    height: 5px;
  }
}

.size-to-content .CodeMirror {
  height: unset;
  min-height: unset;
}

.code-height-auto .CodeMirror {
  min-height: 100% !important;
}

.code-font-sm .CodeMirror {
  font-size: 14px !important;
}

.console-size .CodeMirror {
  min-width: 400px !important;
  min-height: 100% !important;
}

.code-size-200 .CodeMirror {
  min-height: 100px !important;
  max-height: 100% !important;
}


.CodeMirror {
  min-height: 500px;
  border-radius: 5px;
}

.CodeMirror-hscrollbar {
  &::-webkit-scrollbar {
    height: 5px;
  }
}

.size-to-content .CodeMirror {
  height: unset;
  min-height: unset;
}


.CodeMirror-scroll {
  padding-top: 10px;
}

.cm-s-lucario .CodeMirror-linenumber {
  color: #507495;
  padding: 0px 10px 0px 5px;
}

.modal-fullscreen app-code-editor {
  height: 100%;
}

.code-editor .CodeMirror-gutters {
  border-right: unset !important;
  background-color: unset !important;
}

pre {
  overflow: auto;
}

ngx-monaco-editor {
  overflow: visible;
}

.CodeMirror-lint-tooltip
{
  z-index:$appended-to-body-z-index;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like
{
  padding:0px 8px !important;

}

.bar-containing-beautify-button {
  background-color: #2b3e50;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -3px;
}
