ng-select {
  .ng-arrow-wrapper .ng-arrow {
    display: none !important;
  }

  &.ng-select .ng-clear-wrapper {
    width: unset !important;
  }


  .ng-arrow-wrapper {
    height: .875rem;
    width: .875rem !important;
    background-image: url("/assets/img/custom/bottom-chevron.svg");
    background-repeat: no-repeat;
    background-position: .25rem .25rem;
  }

  &.ng-select-opened .ng-arrow-wrapper {
    background-image: url("/assets/img/custom/up-chevron.svg");
  }

  ng-dropdown-panel {
    filter: drop-shadow(0rem .2122rem .4244rem rgba(0, 0, 0, 0.12));
    border-radius: .1875rem !important;
    border: 0rem !important;
    margin-top: 5px !important;
    box-shadow: unset !important;
    .scroll-host {
      &::-webkit-scrollbar {
        width: .3125rem;
      }
    }

  }




  .ng-select-container {
    border-radius: .25rem !important;
    padding: 10px 12px;
    gap: .4063rem;
    border-color: $dividers !important;
    transition: all 0.15s ease;
  }

  &.method-dropdown:not(.ng-select-focused) {
    .ng-select-container {
      border-radius: 4px 0px 0px 4px !important;
    }
  }

  &:not(.ng-select-focused) {
    &:hover {
      .ng-select-container {
        outline: 1px solid $body !important;
        border-radius: .25rem !important;
      }
    }

  }

  &.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: $dividers !important;
    box-shadow: unset;
  }

  &.ng-select-focused:not(.ng-invalid)>.ng-select-container {
    border-color: $focused-form-control-border !important;
    box-shadow: 0 0 0 4px $focused-form-control-shadow !important;
  }

  &.ng-select-focused.ng-invalid>.ng-select-container {
    border-color: $danger !important;
    box-shadow: 0 0 0 4px rgba($danger, 0.25) !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    font-weight: unset;
    background-color: $hover;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: unset;

  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: $hover;
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          border: .0625rem solid $disabled !important;
          background-color: $primary-light !important;
          border-radius: .25rem !important;
          margin-top: 5px;
        }
      }

      padding: 2px 13px;
    }
  }

  &[tagsOnly] {
    .ng-arrow-wrapper {
      width: 0rem !important;
    }
  }

  &.ng-select .ng-select-container .ng-value-container {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }

  &.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 7px;
  }

  &.ng-select.ng-select-disabled>.ng-select-container {
    background-color: $disabledFormControl !important;
  }

  ::-webkit-scrollbar {
    width: .25rem;
  }

  .ng-placeholder {
    top: unset !important;
    padding-bottom: 0 !important;
    color: $dividers;
    font-size: 14px;
  }
}

//when dropdown is appended to body
.ng-dropdown-panel {
  z-index: $appended-to-body-z-index !important;
  filter: drop-shadow(0rem .2122rem .4244rem rgba(0, 0, 0, 0.12));
  border-radius: .1875rem !important;
  border: 0rem !important;
  margin-top: 5px !important;
  box-shadow: unset !important;
  z-index: $appended-to-body-z-index !important;

  .ng-dropdown-panel-items {
    max-height: 27.25rem !important;
  }

  .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    cursor: auto !important;
  }

  .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(110, 65, 226, 0.05) !important;
  }

  .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    font-weight: unset;
    background-color: $hover;
  }

  .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
  .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: unset;
  }

  .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: $hover;
  }

  .scroll-host {
    &::-webkit-scrollbar {
      width: .25rem;
    }

    margin-right: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem
  }
  &.connector-actions-dropdown
  {
    .ng-dropdown-footer {
      border-top: .0625rem solid $dividers;
      padding:0px 0px;
    }
  }


  //hide custom request dropdown option
  &.connector-actions-dropdown {
    .ng-dropdown-panel-items {
      >div:nth-child(2) {
        >div:nth-of-type(1).ng-option-disabled[role="option"] {
          display: none;
        }
      }

    }
  }
}
.check-icon {
	height: 12px;
	width: 12px;
	fill: $primary;
}
