/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $border;
	border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(179, 179, 179, 0.7);
}
