@import "theme";

// Mixin
@import "mixins";

// PRO Components

@import "social-buttons";
@import "toggle-buttons";
@import "pills";
@import "avatar-pro";
@import "badge-pro";
@import "buttons-pro";
@import "dropdown-pro";
@import "pagination-pro";
@import "navbar-pro";
@import "footer-pro";
@import "progress-pro";
@import "info-areas";
@import "icon-action";
@import "header";
@import "media";
@import "tables";
@import "card-pro";
@import "misc";
@import "responsive";
@import "example-pages";

// Plugins

@import "vendor/choices";
@import "vendor/carousel-glide";
@import "vendor/jasny-fileupload";
@import "vendor/headroom";
@import "vendor/gmaps";

// Sections

@import "sections-extend";

// Presentation Page

@import "presentation-page";

// Docs

@import "docs";
