@import 'variables.scss';

$sideBarTitleSize: 72px;
$minHeightOfSections: 55px;
.top-resizer-section {
  min-height: $minHeightOfSections;
  height: calc(50% - 29px);
  max-height: calc(100% - $minHeightOfSections);

}

.bottom-resizer-section {
  margin-top: 10px;
  min-height: $minHeightOfSections;
  max-height: calc(50% + 11px);
}

.resizer-area {
  position: absolute;
  height: calc(100% - 110px);
  top: $minHeightOfSections;
  width: 100%;
  pointer-events: none;
}
