
.jse-contents {


 .jse-expand{
    background-position: unset !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-image: url("/assets/img/custom/expand_more.svg") !important;
    svg {
      opacity:0 !important;
    }
  }

  .jse-expanded {
    > div > div > .jse-expand {
      background-image: url("/assets/img/custom/expand_less.svg") !important;
    }
  }
}
  

  
  .jsoneditor-number, .jsoneditor-boolean, .jsoneditor-string, .jsoneditor-url {
    color: #0d57a8 !important;
  }
  
  .jse-key, .jse-value{
    white-space: nowrap !important;
  }

  .jse-tree-mode{
    border:0 !important;
    .jse-contents {
      border: 0 !important;
    }
  }