.jsoneditor{
    border: none !important;
  }
  
  .jsoneditor-tree button.jsoneditor-collapsed
  {
    background-position: unset !important;
    background-image: url("/assets/img/custom/expand_more.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
  
  .jsoneditor-tree button.jsoneditor-expanded
  {
    background-position: unset !important;
    background-image: url("/assets/img/custom/expand_less.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
  
:root{
  --code-editor-purple: #770088;
  --code-editor-green: #098658;
  --code-editor-red : #640028;
  --code-editor-blue: #0d57a8;
}
.jsoneditor-url {
    color: var(--code-editor-blue) !important;
  }
  .jsoneditor-string {
    color: var(--code-editor-blue)!important;
  }
  
  .jsoneditor-number {
    color: var(--code-editor-green) !important;
  }

  .jsoneditor-boolean {
    color: var(--code-editor-purple) !important;
  }
  .jsoneditor-field, .jsoneditor-value{
    white-space: nowrap !important;
  }