

@media screen and (min-height: 920px) {
.ap-scroll {
    &::-webkit-scrollbar {
        width: 20px;
      }
    
      &::-webkit-scrollbar-thumb {
        background: $border;
        background-clip: content-box;
        border: 5px solid transparent;
        border-radius: 40px;
        scrollbar-width: thin;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(179, 179, 179, 0.7);
        background-clip: content-box;
        border: 5px solid transparent;
        border-radius: 40px;
        scrollbar-width: thin;
      }
}
    /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $border;
    border-radius: 40px;
    scrollbar-width: thin;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(179, 179, 179, 0.7);
  }
  
  .thin-scrollbars {
    *{
    @extend .ap-scroll;
    }
   
    @extend .ap-scroll;
   
  }
  .thin-scrollbars.black-scrollbars {
    @extend .ap-scroll;
  
    &::-webkit-scrollbar-thumb {
      background: $body;
     
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: $body;
     
    }
  
    mat-tab-header {
      border-bottom-color: $outline;
      border-style: solid;
      border-bottom-width: 1px;
  
      .mat-mdc-tab-labels {
        padding-left: .75rem;
      }
  
      .mdc-tab {
        fill: var(--mat-tab-header-inactive-label-text-color)
      }
  
      .mdc-tab--active {
        fill: var(--mat-tab-header-active-label-text-color);
      }
    }
  
  }
  
  }