$line: #f0f0f0;
$title: #262626;
$dividers: #e0e4e8 !default;
$header: #f5f5f5;
$body: #4f4f4f;
$description: #8c8c8c;
$border: #c2c9d1;
$white: #ffffff;
$grayCard: #fafafa;
$placeholder: #c8c8c8;
$formLabel: #7b7b7b;
$disabled: #e3daf9;
$disable: #8c8c8c;
$danger: #dc3545;
$resetCase: #c8c8c8;
$sidebar: #fafbfc;
$buttonHover: #f4f4f4;
$buttonTextPrimaryHover: #e3daf980;
$successColor: #209e34;
$hover: #fafafa;
$primary-color: (
    "default": #6e41e2,
    "dark": #6838e0,
    "light": #eee9fc,
);
$avatar: #515151;
$blue-link: #1890ff;
$graySelect: #f5f5f5;
$drop-point-height: 125px;
$drop-point-width: 300px;
$add-piece: #a6b1bf;
$appended-to-body-z-index: 9999;
$disabledFormControl: #e9ecef;
$warn: #f06d0e;
$focused-form-control-border: #c5b3f3;
$focused-form-control-shadow: #e2d9f9;
$knob-width: 3px;
$knob-height: 24px;
$outline: #0000001f;
$dot-size: 2.5px;
$dot-space: 20px;
