$line: #f0f0f0;
$title: #262626;
$dividers: #e0e4e8 !default;
$header: #f5f5f5;
$body: #4f4f4f;
$border: #c2c9d1;
$white: #ffffff;
$gray-card: #fafafa;
$placeholder: #c8c8c8;
$form-label: #7b7b7b;
$black: #1d1d1d;
$disable: #8c8c8c;
$sidebar: #fafbfc;
$hover: #fafafa;
$avatar: #515151;
$blue-link: #1890ff;
$gray-select: #f5f5f5;
$add-piece: #a6b1bf;
//these two are only used for the input in loops iterations after a flow has run
$focused-form-control-border: #c5b3f3;
$focused-form-control-shadow: #e2d9f9;
//
$green-border: #5fd2b0;
$purple-border: #af6cd9;
$blue-border: #6385dc;
$outline: rgba(0, 0, 0, 0.12);
$description: #8c8c8c;
$bleached-gray: #a6b1bf;
$danger: #dc3545;
$primary-color: (
    "default": #6e41e2,
    "dark": #6838e0,
    "light": #eee9fc,
);
$selection-color: #8965e6;
$drop-point-height: 125px;
$drop-point-width: 300px;
$appended-to-body-z-index: 9999;
$knob-width: 3px;
$knob-height: 24px;
$dot-size: 2.5px;
$dot-space: 20px;
