@import "packages/frontend/src/assets/scss/horizontal-sidebar-separator.scss";

.top-resizer-section
{
    height:calc(100% - 160px);
    max-height: calc(100% - 160px);
}
.bottom-resizer-section
{
    max-height: 160px;
    min-height: 160px;
}

.resizer-area{
    height: calc(100% - 205px);
  }
  