<form [formGroup]="eventTriggerInputForm" class="ng-submitted">
  <label for="events" required>Events</label>
  <ng-select id="events" formControlName="eventsName" [multiple]="true" bindLabel="label" bindValue="value"
    [items]="events$ |async"
    [placeholder]="placeholder" appendTo="body">
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <app-ng-select-tag-value-template [item]="item" [clear]="clear"></app-ng-select-tag-value-template>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <app-ng-select-item-template
        [item]="item"
        [isSelected]="isEventSelected(item.value)"
      ></app-ng-select-item-template>
    </ng-template>
  </ng-select>
  <app-button
  btnColor="primary"
  btnStyle="basic"
  btnSize="medium"
  type="button"
  class="new-event-btn"
  (buttonClicked)="openNewEventModal()"
>  + New Event
</app-button>
  <p @fadeInUp  class="invalid-input" *ngIf="eventTriggerInputForm.get('eventsName')!.invalid">
    Please select at least one event.
  </p>

</form>

<ng-container *ngIf="updateComponentValue$|async">

</ng-container>
