<app-dialog-title-template>Add NPM Package</app-dialog-title-template>
<mat-dialog-content>
  <div class="ap-typography-body-1 ap-text-description ap-mb-4 ap-max-w-[500px]">
    Please type the name of an NPM package.<br>
  </div>
  <form class="ap-flex ap-flex-col ap-gap-1" [formGroup]="npmForm" (submit)="lookForNpmPackage()">
    <mat-form-field class="ap-w-full" appearance="outline">
      <mat-label>Package Name</mat-label>
      <input formControlName="packageName" matInput type="text" placeholder="loadash" />
      <mat-error *ngIf="npmForm.controls.packageName.invalid"><ng-container
          *ngIf="npmForm.controls.packageName.hasError('required');else invalidName">
          Package name is required
        </ng-container>
        <ng-template #invalidName>
          <p @fadeInUp class="invalid-input">
            Package not found
          </p>
        </ng-template>
      </mat-error>
    </mat-form-field>
    <div class="ap-typography-caption ap-text-body">
      The latest version will be fetched and added to package.json
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="ap-flex ap-gap-2.5">
    <app-button btnColor="basic" mat-dialog-close btnSize="default" btnColor="basic">
      Cancel
    </app-button>
    <app-button cdkFocusInitial btnSize="default" (click)="lookForNpmPackage() " type="submit" btnColor="success"
      [loading]="loading">
      Add
    </app-button>
  </div>
</mat-dialog-actions>

<ng-container *ngIf="npmPackage$ | async"></ng-container>
<ng-container *ngIf="packageNameChanged$  | async"></ng-container>
