<form [formGroup]="describeForm" class="ng-submitted">
  <div class="d-flex flex-column accordion-form-controls-container">
    <div>
      <label required>Display Name</label>
      <input class="form-control" type="text" formControlName="displayName" />
      <p
        @fadeInUp
        *ngIf="getControl('displayName').invalid"
        class="invalid-input"
      >
        Display name is required.
      </p>
    </div>
    <div>
      <label>Name</label>
      <input class="form-control" type="text" formControlName="name" />
    </div>
  </div>
</form>

<ng-container *ngIf="updateComponentValue$ | async"></ng-container>
