<div *ngIf="dynamicControl === undefined">
  <p><span class="spinner-border text-primary mr-1"></span></p>
</div>
<div class="code-font-sm code-size-200 code-block" *ngIf="dynamicControl !== undefined">
  <div class="py-2 px-4 d-flex" style="background-color: #263238;">
    <div style="flex-grow: 1;">
      <span class="text-white">Index.js</span>
    </div>
    <div>
      <app-img [src]="'/assets/img/custom/maximize.svg'" [width]="16" [height]="16"  (click)="openCodeModal()" style="cursor:pointer;"></app-img>
    </div>
  </div>

  <ngx-codemirror
    [ngModel]="contentControl().value"
    (ngModelChange)="contentControl().setValue($event)"
    [options]="{lineNumbers: true,
                      lineWrapping: true,
                      theme: 'material',readOnly: false,mode: 'javascript'}"
  ></ngx-codemirror>
</div>
