<div class="endpoint-form-control" [formGroup]="endpointForm">
  <ng-select class="method-dropdown" formControlName="method" [items]="methods" appendTo="body" [clearable]="false"
    [searchable]="false">
    <ng-template ng-label-tmp let-item="item">
      <app-request-type-template [requestType]="item" [transparentBackground]="true"></app-request-type-template>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <div class="d-flex justify-content-center">
        <app-request-type-template [requestType]="item" [transparentBackground]="true"></app-request-type-template>
      </div>
    </ng-template>
  </ng-select>
  <div class="url-form-control" [matTooltip]="url">{{url}}</div>
  <input class="form-control" formControlName="path">
</div>
<ng-container *ngIf="valueChanges$ | async"></ng-container>
