<form [formGroup]="settingsForm" class="d-flex flex-column config-modal-form-controls-container">
  <div>
    <label required>Redirect Url</label>
    <input type="text" formControlName="redirect_url" class="form-control">

  </div>

  <div>
    <label required>Auth Url</label>
    <input type="text" formControlName="auth_url" class="form-control">
    <p @fadeInUp  class="invalid-input" *ngIf="submitted &&  settingsForm.get('auth_url')!.invalid ">
      Auth url is required
    </p>
  </div>
  <div>
    <label required>Token Url</label>
    <input type="text" formControlName="token_url" class="form-control">
    <p @fadeInUp  class="invalid-input" *ngIf="submitted &&  settingsForm.get('token_url')!.invalid ">
      Toekn url is required
    </p>
  </div>
  <div>
    <label>Refresh Url</label>
    <input type="text" formControlName="refresh_url" class="form-control">
  </div>
  <div>
    <label required>Client Id</label>
    <input type="text" formControlName="client_id" class="form-control">
    <p @fadeInUp  class="invalid-input" *ngIf="submitted &&  settingsForm.get('client_id')!.invalid ">
      Client id is required
    </p>
  </div>
  <div>
    <label required> Client Secret</label>
    <input type="text" formControlName="client_secret" class="form-control">
    <p @fadeInUp  class="invalid-input" *ngIf="submitted &&  settingsForm.get('client_secret')!.invalid">
      Client secret is required
    </p>
  </div>
  <div>
    <label required> Scope</label>
    <input type="text" formControlName="scope" class="form-control">
    <span  class="text-sm text-muted">Enter the scope required seperated by space.</span>
    <p @fadeInUp  class="invalid-input" *ngIf="submitted && settingsForm.get('scope')!.invalid">
      Scope is required
    </p>
  </div>
</form>
<ng-container *ngIf="settingsFormValueChanged$|async"></ng-container>

