<div class="table-responsive" *ngIf="loadedState$ | async else loading">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col">API Key Name</th>
      <th scope="col" style="width: 50%">Secret</th>
      <th scope="col" style="width: 15%">Created At</th>
      <th scope="col" style="width: 10%">
        <app-create-api-key-modal
        ></app-create-api-key-modal>
      </th>
    </tr>
    </thead>
    <tbody class="list" *ngIf="apiKeyPage$ | async as apiKeyPage">
    <ng-container *ngIf="apiKeyPage.data !== null">
      <tr
        *ngFor="let apiKey of apiKeyPage.data; let i = index"
        (mouseenter)="hoverIndex = i"
        (mouseleave)="hoverIndex = -1"
      >
        <th scope="row">
          <div style="display: flex; flex-direction: row">
            <div>
              <div
                style="
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <fa-icon
                  [size]="'1x'"
                  [icon]="faKey"
                  [styles]="{ color: themeService.PRIMARY_COLOR }"
                  class="mr-2"
                ></fa-icon>
              </div>
            </div>
            <div>
              <span>{{ apiKey.name }}</span>
            </div>
          </div>
        </th>
        <td>
          <div class="font-weight-600">{{ secretText(apiKey) }}</div>
          <div
            class="btn btn-sm btn-text text-primary"
            style="padding-left: 0px"
            (click)="toggleState(apiKey.id)"
          >
            {{ revealState[i] ? "Hide" : "Reveal" }}
          </div>
        </td>
        <td>
          {{ timeHelperService.formatDateTime(apiKey.epochCreationTime) }}
        </td>
        <td>
          <div
            (click)="deleteApiKey(apiKey, i)"
            [ngStyle]="{
              visibility: hoverIndex === i ? 'visible' : 'hidden',
              float: 'right'
            }"
            class="ml-4 btn btn-icon-white"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </td>
      </tr>
    </ng-container>
    <tbody class=" list">
  </table>
</div>
<ng-template #loading>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>
