#calender-month-day-picker .flatpickr-current-month .numInputWrapper {
  display: none !important;
}

#calender-month-day-picker .cur-month {
  margin-top: 0.35rem;
}

#calender-month-day-picker .flatpickr-weekdays {
  display: none !important;
}

#calender-month-picker .flatpickr-months {
  display: none !important;
}

#calender-month-picker .flatpickr-weekdays {
  display: none !important;
}
.userback-button {
  display: none !important;
}
