@import "src/assets/scss/custom/variables";

.icon-button {
  padding: 1rem;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.icon-button:hover {
  background: $buttonHover;
}

.form-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

/// Loader
.loader {
  background: $line !important;
  box-shadow: unset;
  border-radius: 4px;
}

////
accordion-group .card {
  margin-bottom: 0;
  box-shadow: none;
  background: $grayCard;
}
accordion-group .card-header {
  padding: 1rem;
}

accordion-group.panel-open .card-header {
  background: $grayCard !important;
  border-bottom: 0.0625rem solid transparent;
}

accordion-group .card-body {
  padding: 1rem;
  background: $grayCard;
}
/////////////
.text-description {
  color: $description;
  font-size: 0.875rem;
}

.text-disable {
  color: $disable;
}

.text-placeholder {
  color: $placeholder;
  font-size: 0.875rem;
}

.td-description {
  color: $formLabel;
  font-size: 0.75rem;
  display: block;
}

.btn-icon-white {
  background: white !important;
}
.hyper-number {
  text-decoration: underline;
  cursor: pointer;
}

.text-success {
  color: $successColor !important;
}
.btn-icon-white:hover {
  background: $buttonHover !important;
}
.text-body {
  color: $body;
}

.bg-dark-primary {
  background-color: $primary-dark;
}

.nav-link {
  cursor: pointer;
}
.btn-secondary {
  color: $body;
}

.bg-natural-2 {
  background-color: $grayCard;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid $border;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: $grayCard;
  color: $body;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $white;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  border: 0px;
  background-color: $disabled;
  color: $primary;
}

.input-group:focus-within .input-group-text {
  border-color: $primary !important;
}

.btn-icon {
  border: 1px solid $border;
  border-radius: 122.89px;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-text {
  background-color: $white;
  box-shadow: unset !important;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 00;
  font-size: 14px;
  line-height: 22px;
}

.btn-text:hover {
  box-shadow: unset !important;
  background-color: $buttonHover;
  transform: none;
}

.text-primary:hover {
  background-color: $buttonTextPrimaryHover;
}

.text-link {
  color: $primary !important;
  cursor: pointer;
  font-weight: 600;
}
.text-link:hover {
  color: $primary-hover;
  text-decoration: none;
}
.invalid-input {
  margin-top: 0.5rem;
  color: $danger;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 0px;
}

.required-star {
  color: $danger;
}

.fill-body {
  fill: $body;
}

label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: $formLabel;
  margin-bottom:5px;
  position:relative;
  &[required]
  {

    &::after{
      content:' *';
      color:$danger;
      position:absolute;
      margin-left:4px;
    }
  }
}

.custom-control-label {
  font-weight: unset !important;
  color: $body;
}

.dropdown-item {
  color: $body;
}
.btn:hover {
  box-shadow: unset !important;
}
.btn:focus {
  box-shadow: unset !important;
}

.table .thead-light th {
  background: $grayCard !important;
  color: $body !important;
  border-radius: 4px;
  border: 0 !important;
}

.table .thead-light tr {
  box-shadow: inset 0px -1px 0px #f0f0f0;
}

.tooltip-container {
  width: 130px;
  max-width: 150px;
}

.save-tooltip-container {
  max-width: 200px;
}

.bs-tooltip-left .arrow::before {
  border-left-color: $title !important;
}
.bs-tooltip-right .arrow::before {
  border-right-color: $title !important;
}
.bs-tooltip-top .arrow::before {
  border-top-color: $title !important;
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: transparent !important;
}



