.d-column {
  display: flex;
  min-height: 100%;
  flex-flow: column;
}

.page-link {
  cursor: pointer;
}

.table tr:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table td,
.table th {
  font-size: 0.875rem;
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
  -webkit-transform: unset !important;
  -ms-transform: unset !important;
  transform: unset !important;
  padding: 0.5rem 5px;
  margin:0rem 0.75rem;
  font-size: 0.875rem;
}

.dropdown-menu .dropdown-item-text {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}

.dropdown-menu .dropdown-item:hover {
  text-decoration: none;
  background-color: #f6f9fc;
  box-shadow: unset !important;
}

.no-select {
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none !important;
  /* Safari */
  -khtml-user-select: none !important;
  /* Konqueror HTML */
  -moz-user-select: none !important;
  /* Old versions of Firefox */
  -ms-user-select: none !important;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dropdown-toggle-pointer {
  cursor: pointer;
  position: relative;
  top: -0.175rem;
  font-size: 0.825rem;
}

.text-sm {
  font-size: 0.825rem;
}

.heading {
  text-transform: unset !important;
}

.heading-h5 {
  font-size: 1.25rem;
}

.close-custom {
  font-size: 2rem !important;
  color: $body !important;
}

.text-xm {
  font-size: 0.75rem;
}

#pos-relative .dropdown-menu {
  position: relative !important;
}

a {
  color: $blue-link;
  text-decoration: underline;

  &:hover {
    color: $blue-link;
    text-decoration: underline;
  }
}

.positioned-relative {
  position: relative;
}

.positioned-absolute {
  position: absolute;
}

.btn-close {
  span {
    font-size: 1.5rem !important;
  }
}

.dashed-underline-label {
  border-bottom: 1px dashed $formLabel;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(179, 179, 179, 0.7);
}

.ng-submitted {
  .ng-invalid:not(ng-select, form,app-connector-input-form,app-configs-form-for-connectors, app-configs-form, app-describe-form, app-loop-step-input-form, app-storage-input-form, app-response-input-form, ngx-codemirror, app-o-auth2-config-settings, app-o-auth2-connect-control, app-dropdown-config-settings) {
    border: 1px solid $danger;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($danger, 0.25);
    }
  }

  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 4px;
  }
}

.accordion-form-controls-container,
.config-modal-form-controls-container {
  gap: 0.9375rem;

  .invalid-input {
    margin-top: 0px;
  }
}


.copy-icon {
  svg {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}
