name: Validate publishable packages

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'packages/pieces/**'

jobs:
  validate-publishable-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.1
            
      - name: Install dependencies
        run: bun install

      - name: validate publishable packages
        run: npx ts-node -r tsconfig-paths/register -P packages/engine/tsconfig.lib.json tools/scripts/validate-publishable-packages.ts
