<ng-container *ngIf="selectedFlow$ | async as currentFLow">
  <ng-container *ngIf="selectedCollection$ | async as currentCollection">
    <app-button [hidden]="(instanceRunStatus$ | async) === statusEnum.RUNNING"
      (buttonClicked)="testFlowButtonClicked(currentFLow, currentCollection,modalTemplate)" btnStyle="basic"
      btnColor="primary" [disabled]="shouldDisableTestButton$ | async" [tooltip]="testFlowButtonDisabledTooltip"
      placement="bottom" btnSize="medium">
      Test flow
    </app-button>
  </ng-container>
</ng-container>


<div [hidden]="(instanceRunStatus$ | async) !== statusEnum.RUNNING"
  class="ap-text-center  ap-typography-button ap-text-success">
  Running...
</div>
<ng-container *ngIf="executeTest$ |async"></ng-container>
<ng-container *ngIf="instanceRunStatusChecker$ | async"></ng-container>
<ng-template #modalTemplate>
  <app-dialog-title-template>
    Test Flow
  </app-dialog-title-template>
  <ng-container *ngIf="selectedFlow$ | async as currentFLow">
    <ng-container *ngIf="selectedCollection$ | async as currentCollection">
      <mat-dialog-content>
        <div class="ap-w-[450px] ap-max-w-[500px]">
          <div class="ap-mb-2 ap-pointer-events-none">Webhook Payload (JSON)
            <p class="ap-typography-caption">Pass the following object in as the webhook payload:</p>
          </div>
          <div class="code-font-sm code-size-200 code-block">
            <div class="ap-py-2 ap-px-4 ap-flex bar-containing-beautify-button">
              <div class="ap-flex-grow">
                <span class="ap-text-white">Payload</span>
              </div>
              <div>
                <svg-icon src="/assets/img/custom/beautify.svg" [svgStyle]="{width:'16px', height:'16px'}"
                  matTooltip="beautify" class="ap-cursor-pointer" (click)="beautify()"> </svg-icon>
              </div>
            </div>
            <ngx-codemirror [formControl]="payloadControl" [options]="codeEditorOptions"></ngx-codemirror>
          </div>
          <div *ngIf="submitted && payloadControl.invalid">
            <p @fadeInUp *ngIf="payloadControl.hasError('required');else invalidJson"
              class="ap-text-danger ap-typography-caption">
              Payload is required
            </p>
            <ng-template #invalidJson>
              <p @fadeInUp class="ap-text-danger ap-typography-caption">
                Payload is not a valid JSON object, please use double quotations.
              </p>
            </ng-template>
          </div>
        </div>

      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <div class="ap-flex ap-gap-2.5">
          <app-button btnColor="basic" mat-dialog-close btnSize="default" btnColor="basic">
            Cancel
          </app-button>
          <app-button cdkFocusInitial btnSize="default" btnColor="primary"
            (click)="testFlowWithPayload(currentCollection,currentFLow)">
            Test
          </app-button>
        </div>
      </mat-dialog-actions>
    </ng-container>
  </ng-container>


</ng-template>
