@import "src/assets/scss/custom/variables";
.ap-table {
  border: 1px solid $dividers;
  border-radius: 5px;
  padding: 1.25rem 1.5625rem;
  display: grid;
  row-gap: 2.1875rem;
  column-gap: 0.9375rem;
  align-items: center;
  .ap-table-header {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .ap-table-row {
    font-weight: 400;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.375rem;
  }
  .empty-value {
    color: $formLabel;
  }
}
